
<!-- TEMPLATE - STANDARD - FAQ OVERVIEW ROW QUESTION -->
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
  <tr>
    <td width="15">&nbsp;</td>
    <td width="15"><a href="?mod=faq&action=show&faqid={$templ['faq']['overview']['row']['question']['id']}" class="menu"><img src="design/{default_design}/images/arrows_menurow.gif" border="0" alt=""/></a></td>
    <td><a href="?mod=faq&action=comment&itemid={$templ['faq']['overview']['row']['question']['id']}" class="menu">{$templ['faq']['overview']['row']['question']['title']}</a></td>
    <td> <div align="right">{$templ['faq']['overview']['row']['question']['change']['change']['link']}</div></td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - FAQ OVERVIEW ROW QUESTION -->
