			<td valign="bottom">
				<a href="?mod=picgallery&action=show&step=2&file={$templ['ls']['row']['gallery']['file']}&page={$_GET['page']}" class="menu"><img src="{$templ['ls']['row']['gallery']['pic_src']}" width="{$templ['ls']['row']['gallery']['pic_width']}" height="{$templ['ls']['row']['gallery']['pic_height']}" border="0"></a>
				<br/>
				<i>{$templ['ls']['row']['gallery']['file_name']}</i>
				<br/>{$templ['ls']['row']['gallery']['caption']} ({$templ['ls']['row']['gallery']['clicks']})
				<br/>{$templ['ls']['row']['gallery']['buttons']}
			</td>