<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>8</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Hall of Fame</caption>
		<hint>Help-Text</hint>
		<link>?mod=halloffame&amp;action=show</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins, 5 = Logged Off-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
</menu>
