<tr bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
	{$templ['lansinplayer']['case']['table']['adm_delete']}
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2"><div align="center">{$templ['lansinplayer']['case']['table']['id']}</div></font>
	</td>
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2"><div align="center">{$templ['lansinplayer']['case']['table']['pfad']}</div></font>
	</td>
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2"><div align="center">{$templ['lansinplayer']['case']['table']['username']}</div></font>
	</td>
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2" color="{$templ['lansinplayer']['case']['table']['votes_color']}"><div align="center">{$templ['lansinplayer']['case']['table']['votes']}</div></font>
	</td>
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2"><div align="center">{$templ['lansinplayer']['case']['table']['size']}</div></font>
	</td>
	<td bgcolor="{$templ['lansinplayer']['case']['table']['tr_bgcolor']}">
		<font size="2"><div align="center">{$templ['lansinplayer']['case']['table']['vote']}</div></font>
	</td>
	{$templ['lansinplayer']['case']['table']['adm_fkt']}	
</tr>
