<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>29</pos>
	<entry>
		<action>default</action>
		<file>translation</file>
		<caption>Sonstiges</caption>
		<hint></hint>
		<link>?mod=misc&amp;action=translation</link>
		<requirement>2</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>translation</action>
		<file>translation</file>
		<caption>Übersetzungen</caption>
		<hint></hint>
		<link>?mod=misc&amp;action=translation</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>log</action>
		<file>log</file>
		<caption>Logfile</caption>
		<hint></hint>
		<link>?mod=misc&amp;action=log</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>sessions</action>
		<file>sessions</file>
		<caption>Sessions</caption>
		<hint></hint>
		<link>?mod=misc&amp;action=sessions</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>ip_block</action>
		<file>ip_block</file>
		<caption>IP-Blacklist</caption>
		<hint>Hier können Sie IP blocken</hint>
		<link>?mod=misc&amp;action=ip_block</link>
		<requirement>3</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>mc_search</action>
		<file>mc_search</file>
		<caption>Kommentar-Suche</caption>
		<hint>Überblick über die Kommentare in den verschiedenen Modulen</hint>
		<link>?mod=misc&amp;action=mc_search</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>mc_bookmark</action>
		<file>mc_bookmark</file>
		<caption>Kom.-Lesezeichen</caption>
		<hint>Verwaltung der Bookmarks, die in den Kommentaren gesetzt wurden</hint>
		<link>?mod=misc&amp;action=mc_bookmark</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
		<entry>
		<action>random_user</action>
		<file>random_user</file>
		<caption>Zufallsgast</caption>
		<hint>Wählt anhand bestimmter Kriterien zufällige Gäste aus</hint>
		<link>?mod=misc&amp;action=random_user</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	</entry>
		<entry>
		<action>onlineuser</action>
		<file>onlineuser</file>
		<caption>Onlineuser</caption>
		<hint></hint>
		<link>?mod=misc&action=onlineuser</link>
		<requirement>3</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
</menu>
