Hallo {$templ['signon']['username']}!

Sie sind nun registriert und für die kommende LanParty "{$templ['signon']['partyname']}" vorgemerkt. Ihre Anmeldung ist jedoch erst vollständig, wenn Sie die Teilnahmegebühr überwiesen haben.

Bitte halten Sie diese E-Mail gespeichert, falls Sie Ihr Passwort vergessen sollten.
Ihre Login-Daten sind die folgenden:

--Userdata------------------
Username: {$templ['signon']['username']}
E-Mail: {$templ['signon']['email']}
Passwort: {$templ['signon']['password']}
Clan: {$templ['signon']['clan']}
----------------------------


--LANdata-------------------
Event: {$templ['signon']['partyname']}
Webseite: {$templ['signon']['partyurl']}
Teilnehmer: {$templ['signon']['max_guests']}
---------------------------


Ihre Orgas