
<!-- SINGLE ROW BEGIN -->
    <tr class="tbl_4">
      <td colspan="2" height="1"></td>
    </tr>
    <tr>
      <td class="tbl_6" height="30" width="30%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>{$templ['ls']['row']['textfield']['key']}</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1" width="70%" height="30">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <input type="text" name="{$templ['ls']['row']['textfield']['name']}_1" class="form{$templ['ls']['row']['textfield']['optional']}" size="11" value="{$templ['ls']['row']['textfield']['value1']}">&lt;&lt;
			 <input type="text" name="{$templ['ls']['row']['textfield']['name']}_2" class="form{$templ['ls']['row']['textfield']['optional']}" size="7" value="{$templ['ls']['row']['textfield']['value2']}">&lt;
			 <input type="text" name="{$templ['ls']['row']['textfield']['name']}_3" class="form{$templ['ls']['row']['textfield']['optional']}" size="7" value="{$templ['ls']['row']['textfield']['value3']}">&lt;&lt;&lt;&lt;&lt;&lt;&lt;
			 <input type="text" name="{$templ['ls']['row']['textfield']['name']}_4" class="form{$templ['ls']['row']['textfield']['optional']}" size="1" value="{$templ['ls']['row']['textfield']['value4']}">
             {$templ['ls']['row']['textfield']['errortext']}
			</td>
          </tr>
        </table>
      </td>
    </tr>
<!-- SINGLE ROW END -->