<script type="text/javascript">
<!--
standard = new Image;
unsecure = new Image;
secure = new Image;
highlysecure = new Image;
standard.src = "design/{default_design}/images/password_bar0.jpg";
unsecure.src = "design/{default_design}/images/password_bar1.jpg";
secure.src = "design/{default_design}/images/password_bar2.jpg";
highlysecure.src = "design/{default_design}/images/password_bar3.jpg";

function ChangePicture(PicObject) {
	window.document.images.seclevel.src = PicObject.src;
}

function checkInput(password) {
	var TestNumberOfChars = false;
	var TestUppercaseChars = false;
	var TestLowercaseChars = false;
	var TestDigits = false;
	var TestSpecialChars = false;
	var TestCounter = false;
	var TestCounter2 = false;
	var TestWhiteSpaces = false;
	
	var counter = 0;
	hilfe = password.value;

	/* Check if length of password is greather then 8 */
	if(hilfe.length >= 8) {
		TestNumberOfChars = true;
	} else {
		TestNumberOfChars = false;
	}

	/* Check for minimum of 2 uppercase Letters */
	if(hilfe.match(/[A-Z].*[A-Z]/)) {
		TestUppercaseChars = true;
	} else {
		TestUppercaseChars = false;
	}

	/* Check for minimum of 2 lowercase letters */
	if(hilfe.match(/[a-z].*[a-z]/)) {
		TestLowercaseChars = true;
	} else {
		TestLowercaseChars = false;
	}

	/* Check for minimum of 2 digits */
	if(hilfe.match(/[0-9].*[0-9]/)) {
		TestDigits = true;
	} else {
		TestDigits = false;
	}

	/* Check for minimum of 2 special chars */
	var specCharCounter = 0;
	if(hilfe.length > 0) {
		characters = hilfe.split("");

		for(var i = 0; i < characters.length; i++) {
			singleChar = characters[i];
			if(singleChar.match(/[^a-zA-Z0-9]/)) {
				specCharCounter++;
			}
		}

		if(specCharCounter >= 2) {
			TestSpecialChars = true;
		} else {
			TestSpecialChars = false;
		}
	}

	/* Check for whitespaces and ESC-Sequences */
	if(hilfe.match(/\s/)) {
		TestWhiteSpaces = true;
	} else {
		TestWhiteSpaces = false;
	}

	/* Check for minimum of 2 true ifs */
	if(TestUppercaseChars) { counter++; }
	if(TestLowercaseChars) { counter++; }
	if(TestDigits)         { counter++; }
	if(TestSpecialChars)   { counter++; }

	if((counter >= 2) && !TestWhiteSpaces) {
		TestCounter = true;
	} else {
		TestCounter = false;
	}

	if((counter >= 3) && !TestWhiteSpaces) {
		TestCounter2 = true;
	} else {
		TestCounter2 = false;
	}

	var zaehler = 0;
	if (TestCounter) { zaehler++; }
	if (TestCounter2) { zaehler++; }
	if (TestNumberOfChars) { zaehler++; }

	if (zaehler == 0) { ChangePicture(standard); }
	if (zaehler == 1) { ChangePicture(unsecure); }
	if (zaehler == 2) { ChangePicture(secure); }
	if (zaehler == 3) { ChangePicture(highlysecure); }
}

//-->
</script>
<noscript></noscript>
<img src="design/{default_design}/images/password_bar0.jpg" name="seclevel" width="177" height="8" alt="">