<table border="0" cellpadding="0" cellspacing="0" width="155" style="background:url(design/{default_design}/images/menu_topic_bg.gif) no-repeat">
<tr> 
	<td width="140" height="20" align="left"><span class="box_caption">
		&nbsp;<a href="{link_open_close}"><img src="design/{default_design}/images/arrows_menutopicmini.gif" height="12" border="0" alt=""/></a>
		{caption}
	</span></td>
	<td width="15" height="20">
		<a href="#" onclick="javascript:var w=window.open('base.php?mod=helplet&helpletid=boxes/{title}','_blank','width=320,height=400,resizable=no');" class="menu"><img src="design/{default_design}/images/menu_topic_help.gif" width="6" height="7" border="0" alt=""/></a>
	</td>
</tr>
<tr> 
	<td colspan="2" height="20" valign="top" style="background:url(design/{default_design}/images/menu_topic_bg_bottom.gif) no-repeat; padding-bottom:16px">&nbsp;</td>
</tr>
</table>
