<table border="0" cellpadding="0" cellspacing="0" width="155" style="background:url(design/{$default_design}/images/menu_topic_bg.gif) no-repeat">
<tr>
    <td width="135" height="20" align="left"><span class="box_caption">
        &nbsp;<a href="{$link_open_close}"><img src="design/{$default_design}/images/arrows_menutopicmax.gif" height="12" border="0" alt=""/></a>
        {$caption}
    </span></td>
    <td width="20" height="20" align="right">
        <a href="#" onclick="javascript:var w=window.open('index.php?mod=helplet&amp;action=helplet&amp;design=popup&amp;module=boxes&amp;helpletid={$title}','_blank','width=700,height=500,resizable=no,scrollbars=yes');" class="underline_on_hover"><img src="design/{$default_design}/images/menu_topic_help.gif" width="6" height="7" border="0" alt="" />&nbsp;</a>
    </td>
</tr>
<tr>
    <td colspan="2" valign="top" align="left" class="box_content" style="background:url(design/{$default_design}/images/menu_bg.gif)"><ul class="BoxContent">{$content}</ul></td>
</tr>
<tr>
    <td colspan="2" height="6" valign="top" style="background:url(design/{$default_design}/images/menu_topic_bg_bottom.gif) no-repeat; padding-bottom:6px">&nbsp;</td>
</tr>
</table>