<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<html>
<head>
	<title>{$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['version']} - www.lansuite.de</title>
	{$templ['index']['html_header']}
</head>


<body {$templ['index']['body']['js']} style="leftmargin: 4px; topmargin: 4px; marginwidth: 4px;marginheight: 4px">
{$templ['index']['control']['js']}
<a name="top"></a>
<span id="LSloading" class="loading"></span>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
<tr>
	<td colspan="2" align="right">
		<span class="small">{$templ['index']['info']['current_date']}{$templ['index']['info']['logout_link']}</span>
	</td>
</tr>
<tr> 
	<td>
		<strong><a href="index.php"><img src="design/{default_design}/images/index_top_lansuite.gif" border="0" alt="top" /></a></strong>
	</td>
	<td align="right">
		<img src="design/{default_design}/images/index_top_advertisement.gif" width="7" height="60" alt="" />
		{$templ['index']['banner_code']}
	</td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">

<tr> 
	<!-- LeftBlock //-->
	<td valign="top" width="155" style="padding-right:8px;text-align:left;">{$templ['index']['control']['boxes_letfside']}</td>

	<!-- MiddleBlock //-->
	<td valign="top" style="padding-right:8px;text-align:center;">
		<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
		<tr> 
			<td valign="middle" width="8" height="18" style="background:url(design/{default_design}/images/menu_content_tl.gif) no-repeat">&nbsp;</td>
			<td valign="middle" height="18" style="background:url(design/{default_design}/images/menu_content_top.gif) repeat-x">&nbsp;</td>
			<td valign="middle" width="8" height="18" style="background:url(design/{default_design}/images/menu_content_tr.gif) no-repeat">&nbsp;</td>
		</tr>
		<tr> 
			<td valign="top" width="8" style="background:url(design/{default_design}/images/menu_content_ml.gif) repeat-y"></td>
			<td valign="top" align="left" id="LScontent">{$templ['index']['info']['content']}</td>
			<td valign="top" width="8" style="background:url(design/{default_design}/images/menu_content_mr.gif) repeat-y"></td>
		</tr>
		<tr> 
			<td valign="bottom" width="8" height="20" style="background:url(design/{default_design}/images/menu_content_bl.gif) no-repeat">&nbsp;</td>
			<td valign="bottom" align="right" height="20" style="background:url(design/{default_design}/images/menu_content_bottom_.gif) repeat-x">
				<a href="#top"><img src="design/{default_design}/images/index_bottom_2top.gif" width="78" height="7" border="0" alt="" /></a>
			</td>
			<td valign="bottom" width="8" height="20"  style="background:url(design/{default_design}/images/menu_content_br.gif) no-repeat"></td>
		</tr>
		<tr>
			<td></td>
			<td>{$templ['index']['debug']['content']}</td>
			<td></td>
		</tr>
		</table>
	</td>

	<!-- RightBlock -->
	<td valign="top" width="155" style="padding-left:8px;text-align:right">{$templ['index']['control']['boxes_rightside']}</td>
</tr>
<tr>
	<td colspan="3" align="center" class="copyright" id="LSfooter">{footer}</td>
</tr>
</table>
</body>
</html>