
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tbl_5"> 
<td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
<tr> 
<td><b>Kontoverlauf:</b><br/><br/>Hier kannst du deinen Kontoverlauf einsehen.<br/> </td>
</tr>
</table></td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
<tr class="tbl_6"> 
<td colspan="2">
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
<tr> 
<td><b>Verwendungszweck:</b></td>
<td align="right"><b>Preis:</b></td>
</tr>
</table>
</td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
{$templ['cashmgr']['process']['row']}
<tr class="tbl_5"> 
<td colspan="2">
<table cellspacing="3" cellpadding="0" class="tbl_5" border="0" align="right">

<tr>
<td align="right">&nbsp;&nbsp;Aktueller Kreditrahmen:&nbsp;&nbsp;</td>
<td align="right">{$templ['cashmgr']['process']['credit']} €</td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
<tr>
<td align="right">&nbsp;&nbsp;<b>Aktueller Kontostand</b>:&nbsp;&nbsp;</td>
<td align="right"><b>{$templ['cashmgr']['process']['balance']} €</b></td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
</table>
</td>
</tr>
<tr class="tbl_5"> 
<td colspan="2">
&nbsp;
</td>
</tr>
</table>
