

<!-- TEMPLATE - STANDARD - CATERING SHOW CASE -->

<script language="JavaScript">

{$templ['cateringtheke']['show']['javascript']}



function calcPreis(user,prod) {

	p = prodvk[prod] - (((prodvk[prod] - prodek[prod]) / 100) * rabatt[user]);

	p = p * 100;

	v = Math.ceil(p);

	v = v / 100;

	return v;

}



function calcGesamtPreis(user,prod,menge) {

	p = calcPreis(user,prod)*menge;

	p = p * 100;

	v = Math.ceil(p);

	v = v / 100;

	return v;

}



function printVerfuegbarerBetrag() {

	document.getElementById('konto').firstChild.nodeValue=konto[document.getElementById('teilnehmer').value];

}



function printRabattierung() {

	document.getElementById('rabatt').firstChild.nodeValue=rabatt[document.getElementById('teilnehmer').value];

}



function printProduktEinzelpreis() {

	document.getElementById('prodpreis').firstChild.nodeValue=calcPreis(document.getElementById('teilnehmer').value,document.getElementById('produkt').value);

}



function printProduktGesamtpreis() {

	document.getElementById('gesamtpreis').firstChild.nodeValue=calcGesamtPreis(document.getElementById('teilnehmer').value,document.getElementById('produkt').value,document.getElementById('menge').value);

	document.getElementById('fgesamt').value=calcGesamtPreis(document.getElementById('teilnehmer').value,document.getElementById('produkt').value,document.getElementById('menge').value);

}



function printGeldZurueck() {

	k = konto[document.getElementById('teilnehmer').value];

	if (document.getElementById('bargegeben').value=="") b=0;

	else b = parseFloat(document.getElementById('bargegeben').value);

	g = document.getElementById('fgesamt').value;

	z = k+b-g;

	if (z<0) z=0;

	p = z;

	p = p * 100;

	v = Math.floor(p);

	v = v / 100;	

	

	if (document.getElementById('auszahlen').checked==true) {

		document.getElementById('fgeldzurueck').value=v;	

		document.getElementById('geldzurueck').firstChild.nodeValue = v;

	} else {

		document.getElementById('fgeldzurueck').value=0;	

		document.getElementById('geldzurueck').firstChild.nodeValue = 0;

	}

}



function printZuZahlen() {

	z = konto[document.getElementById('teilnehmer').value]-document.getElementById('fgesamt').value;

	if (z>=0) z=0;

	else {

		z=z*(-1);

	}

	p = z;

	p = p * 100;

	v = Math.ceil(p);

	v = v / 100;	

	document.getElementById('fzuzahlen').value=v;

	document.getElementById('zuzahlen').firstChild.nodeValue=v;

}



function doOnchange() {

	printVerfuegbarerBetrag();

	printRabattierung();

	printProduktEinzelpreis();

	printProduktGesamtpreis();

	printZuZahlen();

	printGeldZurueck();

}



function checkForm() {

	z = konto[document.getElementById('teilnehmer').value]+parseFloat(document.getElementById('bargegeben').value)-parseFloat(document.getElementById('fgesamt').value);

	if (isNaN(document.getElementById('menge').value)==true) { alert('Menge muss numerisch sein!'); return false; } 

	if (isNaN(document.getElementById('bargegeben').value)==true) { alert('Die Eingabe im Feld ***Bar gegeben*** muss numerisch sein!'); return false; } 

	if (z<0) { alert('Verfügbarer Betrag + Bareinnahme muss größer als der Bestellwert sein!'); return false; } 

	return true;

}



</script>

<table width="100%" cellspacing="0" cellpadding="0">

  <tr class="tbl_5"> 

    <td colspan="2"> 

      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">

        <tr> 

          <td><b>{$templ['cateringtheke']['show']['info']['title']}</b><br/></td>

        </tr>

        <tr> 

          <td> 

		  Hier k&ouml;nnen Sie f&uuml;r einen User eine Bestellung ausl&ouml;sen bzw. eingetragene Produkte verkaufen.

          </td>

        </tr>

      </table>

    </td>

  </tr>

  <tr class="tbl_4"> 
    <td colspan="2"><img src="/" width="1" height="1"/></td>
  </tr>

  <form name="theke" method="POST" action="?mod=catering&action=thekenbestellung" onSubmit="return checkForm();">

  <tr class="tbl_5">

    <td colspan="2">        

        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">

          <tr> 

            <td class="tbl_1"><b>Username</b></td>

            <td class="tbl_1"><b>Gew&uuml;nschtes Produkt</b></td>

            <td class="tbl_1"><b>Menge</b></td>

          </tr>

          <tr>

            <td class="tbl_1">

            	<select name="teilnehmer" id="teilnehmer" class="form" onChange="doOnchange();">

            	{$templ['cateringtheke']['show']['teilnehmer']}

            	</select>

            </td>

            <td class="tbl_1">

            	<select name="produkt" id="produkt" class="form" onChange="doOnchange();">

            	{$templ['cateringtheke']['show']['produkte']}

            	</select>

           	</td>

           	<td class="tbl_1">

           		<input type="text" name="menge" id="menge" maxlength="5" size="10" class="form" value="1" onkeyup="doOnchange();" onChange="doOnchange();"/>

           	</td>

          </tr>

          <tr>

          <td colspan="2" height="3"> </td>

          <td>

          	

          </td>

        </table>

    </td>
  
  </tr> 

  <tr class="tbl_4"> 
   <td colspan="2"><img src="/" width="1" height="1"/></td>
  </tr>

  <tr class="tbl_5">

    <td colspan="2" class="tbl_1">

    <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">

          <tr> 

            <td class="tbl_1">Verf&uuml;gbarer Betrag auf dem Verpflegungskonto: </td>

            <td class="tbl_1"><span class="tbl_1" id="konto" name="konto">0.00</span><b> EUR</b></td>

          </tr>

          <tr>

            <td class="tbl_1">Rabattierung f&uuml;r User: </td>

            <td class="tbl_1"><span class="tbl_1" id="rabatt" name="rabatt">0.00</span><b> Prozent</b></td>

          </tr>

          <tr>

            <td class="tbl_1">Produktpreis f&uuml;r User (inkl. Rabatt): </td>

            <td class="tbl_1"><span class="tbl_1" id="prodpreis" name="prodpreis">0.00</span><b> EUR</b></td>

          </tr>          

          <tr>

            <td class="tbl_1">Gesamtpreis f&uuml;r User (inkl. Rabatt):   </td>

            <td class="tbl_1" valign="top"><span class="tbl_1" id="gesamtpreis" name="gesamtpreis">0.00</span><b> EUR</b>

            <input type="hidden" name="fgesamt" value="0" id="fgesamt"/>

            </td>

          </tr>                    

          <tr>
		  
            <td class="tbl_1"><b>Zu zahlender Betrag:</b> </td>

            <td class="tbl_1">
			 <span class="tbl_1" style="font-size:26px" id="zuzahlen" name="zuzahlen">0.00</span><b> EUR</b>
             <input type="hidden" name="fzuzahlen" value="0" id="fzuzahlen"/>
            </td>

          </tr>                    

          <tr>
	        <td class="tbl_5" height="2" colspan="2"> </td>
		  </tr>

          <tr>

          <td class="tbl_5" valign="top">

         		<b>Bar gegeben: </b>

          </td>

          <td class="tbl_5">

         		<input type="text" class="form" id="bargegeben" name="bargegeben" size="10" maxlength="10" onkeyup="doOnchange();" onChange="doOnchange();"/> <b>EUR</b>

          </td>          

          </tr>

          <tr>

          <td class="tbl_5">

         		<b>Geld zur&uuml;ck: </b>

          </td>
		  
          <td class="tbl_5">

          		<span class="tbl_5" id="geldzurueck" name="geldzurueck">0.00</span><b> EUR</b>

         		<input type="hidden" class="form" name="fgeldzurueck" id="fgeldzurueck" value="0.00" size="10" maxlength="10"/>

          </td>          

          </tr>

          <tr>
	        <td class="tbl_5" height="2" colspan="2"> </td>
		  </tr>

          <tr>
          <td class="tbl_1" colspan="2">&nbsp;</td>
		  </tr>
		  
          <tr>

          <td class="tbl_1">

         		<b>Soll der angezeigte Betrag zur&uuml;ck gezahlt werden, oder auf dem Konto verbleiben? </b>

          </td>

          <td class="tbl_1">

          		<input type="checkbox" class="form" name="auszahlen" id="auszahlen" value="1" onChange="doOnchange();" onClick="doOnchange();" onKeyup="doOnchange();"/> auszahlen!

          </td>          

          </tr>

          <tr>

          <td class="tbl_1">

         		<b>Erfolgt die Ausgabe/Aush&auml;ndigung des Produktes sofort? </b>

          </td>

          <td class="tbl_1">

          		<input type="checkbox" class="form" name="ausgabe" id="ausgabe" value="1" checked"/> Ja, sofort!

          </td>          

          </tr>





          <tr>

          <td class="tbl_1">

          </td>

          <td class="tbl_1">

	          <input type="image" border="0" name="imageField" src="design/{default_design}/images/buttons_add.gif" width="61" height="17"/>          

          </td>          

          </tr>

          <tr>

          <td class="tbl_1" colspan="2">

          <br/>

          <font color="#FF0000"><b>{$templ['cateringtheke']['show']['info']['status']}</b></font>

          </td>

          </tr>

    </table>

    <script language="JavaScript">

    	doOnchange();

    </script>

    </td>

  </tr>

  </form>

  <tr class="tbl_4"> 
   <td colspan="2"><img src="/" width="1" height="1"/></td>
  </tr>

  <tr class="tbl_1">
	<td colspan="2">&nbsp;Alle Angaben ohne Gew&auml;hr auf zwischenzeitlich ge&auml;nderte Produktpreise!</td>
  </tr>

  <tr class="tbl_4"> 
   <td colspan="2"><img src="/" width="1" height="1"/></td>
  </tr>

  
  <tr class="tbl_5"> 

    <td colspan="2"> 

      <p><br/>

      </p>

    </td>

  </tr>

</table>

<!-- TEMPLATE - STANDARD - CATERING SHOW CASE -->

