
<!-- TEMPLATE - STANDARD - CATERING SHOW ROW -->
<tr> 
  <td class="tbl_1" height="30" colspan="2"> 
    <table width="100%" cellspacing="0" cellpadding="3">
      <tr> 
      	 <td class="tbl_6" height="10" colspan="3"></td>
      <tr> 
         <td class="tbl_1" width="150"><br>
          {$templ['catering']['show']['row']['info']['picfile']}<br>
         </td>
         <td class="tbl_1"><br>
         	<table width="100%"><tr><td>
         		<table width="100%" class="tbl_1"><tr class="tbl_1">
		         	{$templ['catering']['show']['row']['info']['addtoshop']}
		         	{$templ['catering']['show']['row']['control']['buttons']['edit']}{$templ['catering']['show']['row']['control']['buttons']['delete']}
		         	<td align="left" class="tbl_1">{$templ['catering']['show']['row']['info']['title']}&nbsp;</td>
		         	<td width="80" align="right" class="tbl_1"><b>{$templ['catering']['show']['row']['info']['price']}</b></td>
		         	</tR>
		         </table></td>
         	</tr>
         	<tr>
	         	<td colspan="4" class="tbl_1">
	         	{$templ['catering']['show']['row']['info']['shop']}
	         	{$templ['catering']['show']['row']['info']['text']}
	         	{$templ['catering']['show']['row']['control']['buttons']['newoption']}
	         	</td>
	         </tR>
         	</table>
         	<br>
         	<!--
         	<br>
         	<b>{$templ['catering']['show']['row']['info']['price']} {$config['catering']['currency']}</b>
         	-->
         </td>
         <td class="tbl_1" valign="middle" align="right" width="20">
         	{$templ['catering']['show']['row']['control']['buttons']['updown']}
         </td>
      </tr>
    </table>
  </td>
</tr>
<!-- <tr class="tbl_4"> 
  <td colspan="2"><img src="/" width="1" height="1"></td>
</tr> -->
<!-- TEMPLATE - STANDARD - CATERING SHOW ROW -->
