<a  href="ext_inc/newsfeed/news.xml" title="Latest news feed"><img src="ext_inc/footer_buttons/button-rss.png" width="80" height="15" alt="Latest news feed" border="0" /></a>
<a  href="index.php?mod=about&action=license" rel="license" title="GNU General Public License"><img src="ext_inc/footer_buttons/button_gpl.png" width="80" height="15" alt="GNU General Public License" border="0" /></a>
<a  href="http://lansuite.orgapage.de/index.php?mod=info2&action=show_info2&id=14" title="Support LS"><img src="ext_inc/footer_buttons/button-donate.gif" alt="Support LS" width="80" height="15" border="0" /></a>
<a  href="http://www.php.net" title="Powered by PHP" rel="nofollow"><img src="ext_inc/footer_buttons/button-php.gif" width="80" height="15" alt="Powered by PHP" border="0" /></a>
<a  href="http://www.mysql.com" title="MySQL Database" rel="nofollow"><img src="ext_inc/footer_buttons/mysql.gif" width="80" height="15" alt="MySQL Database" border="0" /></a>
<a  href="http://lansuite.orgapage.de" title="Lansuite"><img src="ext_inc/footer_buttons/button_lansuite.png" width="80" height="15" alt="Lansuite" border="0" /></a>
<br />
<a href="index.php?mod=about" class="menu">{$main_footer_version} &copy;2001-{$main_footer_date}</a> |  
DB-Querys: {$main_footer_countquery} | 
Processed in: {$main_footer_timer} Sec | 
<a href="index.php?{$main_footer_cleanquery}&amp;fullscreen=yes" class="menu" rel="nofollow">Fullscreen</a>
