<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>Hilfe - {$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['version']} - www.lansuite.de</title>
	{$templ['index']['html_header']}
</head>

<body>
<img src="design/{default_design}/images/logo.gif" alt="logo"/>
{$templ['index']['info']['content']}
</body>
</html>
