<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<!-- TEMPLATE - STANDARD - HELPLET SHOW INDEX -->
<HTML>
<HEAD>
<LINK rel="STYLESHEET" href="design/{default_design}/style.css">
<TITLE>Hilfe - {$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['lansuite_version']}</TITLE>
</HEAD>
<frameset rows="70,*" frameborder="NO" border="0" framespacing="0"> 
  <frame name="topFrame" scrolling="NO" noresize src="base.php?mod=helplet_top" >
  <frame name="mainFrame"scrolling="YES" src="base.php?mod=helplet_content&helpletid={$templ['helplet']['show']['index']['control']['helpletid']}">
</frameset>
<noframes>
</body></noframes>
</HTML>
<!-- TEMPLATE - STANDARD - HELPLET -->