<tr>
	<td class="row_key" height="30" width="30%">{$templ['ls']['row']['checkbox']['key']}</td>

	<td class="row_value" width="70%" height="30">
		<input name="{$templ['ls']['row']['checkbox']['name']}" type="checkbox" class="form{$templ['ls']['row']['checkbox']['optional']}" value="{$templ['ls']['row']['checkbox']['val']}" {$templ['ls']['row']['checkbox']['checked']} {$templ['ls']['row']['checkbox']['disabled']} {$templ['ls']['row']['additionalHTML']} />
		{$templ['ls']['row']['checkbox']['text']}
		{$templ['ls']['row']['checkbox']['errortext']}
	</td>
</tr>