<tr>
	<td class="row_key" width="30%" height="30">{$templ['ls']['row']['textfield']['key']}</td>
	<td class="row_value" width="70%" height="30">
	<form name="barcode" method="{$templ['ls']['row']['formbegin']['method']}" action="{$templ['ls']['row']['formbegin']['action']}">
		<input onkeyup="checkfield(this)" type="text" name="barcodefield" class="form{$templ['ls']['row']['textfield']['optional']}" size="{$templ['ls']['row']['textfield']['size']}" value="{$templ['ls']['row']['textfield']['value']}" />
		{$templ['ls']['row']['textfield']['errortext']}
	</form>
	<script type="text/javascript">
	

	function selectfield(){
		document.forms["barcode"].elements["barcodefield"].focus();
		
	}
	
	function checkfield(id){
		if(id.value.length == 12){
			document.barcode.submit();
		}
		
	}
	selectfield();
	</script>	
	</td>
</tr>