&nbsp;&nbsp;
<select id="{$templ['ls']['row']['datetime']['name']}_value_hours" name="{$templ['ls']['row']['datetime']['name']}_value_hours" class="form{$templ['ls']['row']['datetime']['optional']}" {$templ['ls']['row']['datetime']['disabled']['hour']} {$templ['ls']['row']['datetime']['additional']}>
{$templ['ls']['row']['datetime']['value']['hour']}
</select>
St.&nbsp;
<select id="{$templ['ls']['row']['datetime']['name']}_value_minutes" name="{$templ['ls']['row']['datetime']['name']}_value_minutes" class="form{$templ['ls']['row']['datetime']['optional']}" {$templ['ls']['row']['datetime']['disabled']['min']} {$templ['ls']['row']['datetime']['additional']}>
{$templ['ls']['row']['datetime']['value']['min']}
</select>
Min.