<td>
	<img src="{$templ['ls']['row']['pictureselect']['pic_src']}" width="{$templ['ls']['row']['pictureselect']['pic_width']}" height="{$templ['ls']['row']['pictureselect']['pic_height']}" border="0" />
	<br />
	<input type="radio" name="{$templ['ls']['row']['pictureselect']['name']}" class="form{$templ['ls']['row']['pictureselect']['optional']}" value="{$templ['ls']['row']['pictureselect']['value']}" border="0" {$templ['ls']['row']['pictureselect']['checked']} />{$templ['ls']['row']['pictureselect']['caption']}
</td>
