
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<!-- TEMPLATE - STANDARD - MESSENGER QUERY MESSAGES -->
<head>
<META HTTP-EQUIV="Refresh" Content = "{$templ['messenger']['query']['messages']['refreshtime']}" URL="index.php?mod=msgsys&action=query_messages&design=base&queryid={$_GET[queryid]}#end">
<link rel="STYLESHEET" href="design/{default_design}/style.css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="tbl_1">
<table width="100%" cellspacing="0" cellpadding="2" class="tbl_1">
  <tr>
    <td valign="top">{$templ['messenger']['query']['messages']['info']['msgs']}</td>
  </tr>
</table>
