 
<!-- TEMPLATE - STANDARD - MULTIQUESTION -->
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td width="45"><img src="design/{default_design}/images/icon_question.gif"></td>
          <td><b>Auswahl</b></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td>{$templ['multiquestion']['info']['text']}</td>
        </tr>
		<tr height="5"><td height="5"><img src="/" height="5" border="0"></td></tr>
       </table>
       <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
                {$templ['multiquestion']['control']['row']}
       </table>
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - MULTIQUESTION -->
