# LanSuite configuration
/inc/base/config.php

# Database dump
database-dump.sql

# Installed by vendors
bin/phpcbf
bin/phpcbf.bat
bin/phpcs
bin/phpcs.bat
bin/phpunit
bin/phpunit.bat
bin/patch-type-declarations
bin/phan
bin/phan_client
bin/php-parse
bin/phpstan
bin/phpstan.phar
bin/rector
bin/tocheckstyle
bin/var-dump-server

# Release archives
builds/LanSuite-*.tar.gz
builds/LanSuite-*_checksums.txt

# Generated folder/files
/vendor/

# Docs
.DS_Store
website/translated_docs
website/build/
website/node_modules
website/i18n/*
!website/i18n/en.json

# IDE
.idea/

# Docker 
# Avoid accidently commit of .env files
docker/*.env