# LanSuite configuration
/inc/base/config.php

# Database dump
database-dump.sql

# Installed by vendors
bin/phpcbf
bin/phpcbf.bat
bin/phpcs
bin/phpcs.bat
bin/phpunit
bin/phpunit.bat
bin/patch-type-declarations
bin/phan
bin/phan_client
bin/php-parse
bin/phpstan
bin/phpstan.phar
bin/rector
bin/tocheckstyle
bin/var-dump-server

# PHPUnit
.phpunit.result.cache

# Release archives
builds/LanSuite-*.tar.gz
builds/LanSuite-*_checksums.txt

# Generated folder/files
/vendor/

# Docs
.DS_Store
website/translated_docs
website/build/
website/node_modules
website/i18n/*
!website/i18n/en.json

# IDE
.idea/

# Docker
# Avoid accidently commit of .env files
docker/*.env

# designs
design/*
!design/beamer/
!design/images/
!design/osX/
!design/simple/
!design/style.css
!design/sunset/
!design/templates/

# ext_inc/
ext_inc/avatare/*
ext_inc/banner/*
ext_inc/board_upload/*
ext_inc/bugtracker_upload/*
ext_inc/downloads/*
ext_inc/newsfeed/news.xml
ext_inc/party_infos/infos.xml
ext_inc/picgallery/**
ext_inc/templates_c/*.htm.php
ext_inc/pdf_fonts/*.php
ext_inc/pdf_fonts/*.z
ext_inc/pdf_fonts/*.ttf
ext_inc/pdf_templates/*
!ext_inc/pdf_templates/background_usercard.jpg
ext_inc/user_pics/*