version: '3'

services:
    web:
        image: nginx:1.25.3-alpine
        ports:
            - "8080:80"
        volumes:
            - .:/code
            - ./.docker/nginx-development.conf:/etc/nginx/conf.d/default.conf
    php:
        image: lansuite/lansuite:latest
        build:
            context: .
        volumes:
            - .:/code
            - ./.docker/nginx-php-flags.conf:/usr/local/etc/php-fpm.d/php-flags.conf
    mysql:
        image: biarms/mysql:5.7
        container_name: mysqldb
        volumes:
            - mysql_data:/var/lib/mysql
        ports:
            - "3306:3306"
        env_file:
            - docker/mysql.env
volumes:
    mysql_data: 
