<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>3</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Informationen</caption>
		<hint>Hier kannst du die Informationseite deinen Wünschen anpassen</hint>
		<link>?mod=info2&amp;action=change</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>change</action>
		<file>change</file>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
	</entry>
</menu>
