<!-- TEMPLATE - BOX OPEN -->
<table cellspacing="0" cellpadding="0" class="tbl_1" width="155">
  <tr> 
    <td width="14" height="15" valign="top" background="design/{default_design}/images/menu_topic_bg.gif"><a href="{link_open_close}"><img src="design/{default_design}/images/arrows_menutopicmax.gif" height="12" hspace="1" vspace="0" border="0"></a></td>
    <td width="133" height="15" background="design/{default_design}/images/menu_topic_bg.gif"><img src="design/{default_design}/images/menu_topic_{title}.gif"></td>
    <td width="14" height="15" background="design/{default_design}/images/menu_topic_bg.gif"> 
      <div align="center"><a href="javascript:var w=window.open('index.php?mod=helplet&action=helplet&design=base&helpletid=boxes/{title}','_blank','width=320,height=400,resizable=no');" class="menu"><img src="design/{default_design}/images/menu_topic_help.gif" width="6" height="7" hspace="1" vspace="0" border="0"></a></div></td>
  </tr>
  <tr> 
    <td colspan="3" valign="top"><img width="155" height="3" src="design/{default_design}/images/px.gif"></td>
  </tr>
  <tr> 
    <td colspan="3">{content}</td>
  </tr>
</table>

<table width="155" border="0" cellpadding="0" cellspacing="0">
<tr>
<td><img width="155" height="8" src="design/{default_design}/images/px.gif"></td>
</tr>
</table> 
<!-- TEMPLATE - BOX CLOSE -->
