
<!-- TEMPLATE - STANDARD - LOG SHOW ROW -->
<tr> 
<td class="{$templ['log']['show']['row']['control']['colour']}" height="30" colspan="2"> 
<table width="100%" cellspacing="0" cellpadding="3" class="{$templ['log']['show']['row']['control']['colour']}">
<tr> 
<td width="60%">{$templ['log']['show']['row']['info']['description']}</td>
<td width="20%">{$templ['log']['show']['row']['info']['date']}</td>
<td width="20%">{$templ['log']['show']['row']['info']['userid']}</td>
</tr>
</table>
</td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" height="1"></td>
</tr>
<!-- TEMPLATE - STANDARD - LOG SHOW ROW -->
