 
<!-- TEMPLATE - STANDARD - SEATING ADD FORM STEP2 -->
<form name="block" method="post" action="{$templ['seating']['ip']['form']['control']['action']}">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tbl_5">
      <td colspan="2">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>IP-Verwaltung</b><br/>
              <br/>
              Benutzen Sie {$templ['misc']['ip']['case']['info']['js_popup']} zur besseren Orientierung <br/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2" align="center"><br/><br/>{$templ['misc']['general']['case']['control']['plan']}<br/><br/></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td width="12"><a href="helplett"><img src="design/{default_design}/images/arrows_help.gif" width="12" height="13" border="0" alt=""/></a></td>
            <td><a href="javascript:var w=window.open('base.php?mod=helplet&helpletid=seating/ip_form2','_blank','width=320,height=400,resizable=no');"> 
              Hilfe </a></td>
          </tr>
        </table>
      </td>
      <td class="tbl_1" height="30" width="70%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td height="30"> 
              <a href="{$templ['seating']['ip']['form']['control']['backlink']}"><img src="design/{default_design}/images/buttons_back.gif" width="61" height="17" border=0 alt=""/></a>
              <input type="image" border="0" name="button" value="save" src="design/{default_design}/images/buttons_next.gif" width="61" height="17"/>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> 
        <p><br/>
        </p>
      </td>
    </tr>
  </table>
</form>
<br/>
<!-- TEMPLATE - STANDARD - SEATING ADD FORM STEP2 -->
