
<!-- TEMPLATE - STANDARD - FAQ OVERVIEW ROW CAT -->
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
  <tr> 
    <td width="15"><a href="{$templ['faq']['overview']['row']['cat']['link']}" class="menu"><img src="design/{default_design}/images/arrows_add.gif" border="0"></a></td>
    <td><a href="{$templ['faq']['overview']['row']['cat']['link']}" class="menu">{$templ['faq']['overview']['row']['cat']['titel']}</a></td>
    <td> <div align="right">{$templ['faq']['overview']['row']['question']['change']['change']['link']}</div></td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - FAQ OVERVIEW ROW CAT -->
