<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>IP-Sperre</name>
    </head>
    <items>
    	<item>
    		<name>reload_limit</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Seite bei zu häufigen Zugriffen von einer IP sperren?</description>
    	</item>
    	<item>
    		<name>reload_time</name>
    		<type>int</type>
    		<default>600</default>
    		<description>Aufzeichnungszeitraum für IP-Reload in Sekunden</description>
    	</item>
    	<item>
    		<name>reload_hits</name>
    		<type>int</type>
    		<default>120</default>
    		<description>Nach wie vielen Hits im Zeitraum soll eine IP gesperrt werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Übersetzung</name>
    </head>
    <items>
    	<item>
    		<name>show_translation_links</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll Admins hinter jedem übersetzbaren Text ein Editieren-Link gezeigt werden?</description>
    	</item>
    </items>
  </group>
</config>