<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>30</pos>
	<entry>
		<action>default</action>
		<caption>Verleih</caption>
		<hint></hint>
		<link>?mod=rent</link>
		<file>show</file>
		<requirement>2</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Operator; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>back</action>
		<caption>Rücknahme</caption>
		<hint>&Uuml;bersicht des verliehenen Equipments mit der M&ouml;glichkeit der R&uuml;cknahme</hint>
		<link>?mod=rent&action=back</link>
		<file>back</file>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>add</action>
		<caption>Hinzufügen</caption>
		<hint>Equipment zum Verleih hinzuf&uuml;gen.</hint>
		<link>?mod=rent&action=add</link>
		<file>add</file>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
</menu>