<!-- TEMPLATE - STANDARD - BOX LOGIN CONTENT -->
<form name="form_loginbox" method="post" action="?">
	<img src="design/{default_design}/images/login_topic_email.gif" width="85" height="7" alt="email"/>
	<input name="email" type="text" class="form" id="email" size="18" />

	<img src="design/{default_design}/images/login_topic_password.gif" width="85" height="7" alt="passwort"/>
	<input type="password" name="password" class="form" size="18" />

	<div>
		<input type="image" name="login" src="ext_inc/auto_images/{default_design}/{language}/button_login.png" />
		<input type="image" name="save" src="ext_inc/auto_images/{default_design}/{language}/button_save.png" />
	</div>

	<span class="tbl_1"><a href="index.php?mod=usrmgr&action=pwrecover">Passwort vergessen?</a></span>
</form>
<!-- TEMPLATE - STANDARD - BOX LOGIN CONTENT -->
