<div class="addthis_toolbox addthis_default_style">
  <a class="addthis_button_google_plusone_share"></a>
  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_email"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
{*
<div class="addthis_toolbox addthis_default_style" style="margin-top:0.5em">
  <a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
  <a class="addthis_button_facebook_like" fb:like:layout="box_count" style="float:right"></a>
  <a class="addthis_button_tweet" tw:count="vertical"></a>
</div>
*}
<script type="text/javascript">
{literal}
    var addthis_config = {
      'data_track_clickback': true
      /*, 'ui_language': 'de'*/
    }
{/literal}
</script>
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fd9c1d160583236"></script>
