 
<!-- TEMPLATE - STANDARD - RENT STUFFBACK ROW-->
<tr> 
  <td class="tbl_1" height="30" colspan="2"> 
    <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
      <tr> 
        <td width="1%" align="middle"><a href="{$templ['rent']['stuffback']['row']['control']['link']}"><img src="design/{default_design}/images/arrows_delete.gif"  width="12" height="13" border="0" title="Zur&uuml;cknehmen"></a></td>
		<td width="79%">{$templ['rent']['stuffback']['row']['info']['caption']}</td>
		<td width="20%">{$templ['rent']['stuffback']['row']['info']['out_organame']}</td>
      </tr>
    </table>
  </td>
</tr>
<tr class="tbl_4"> 
  <td colspan="2" height="1"></td>
</tr>
<!-- TEMPLATE - STANDARD - RENT STUFFBACK ROW -->
