<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>guestmap_sel</name>
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Keine Karte anzeigen</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Ja - Mit Lansuite-eigener DB</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Ja - Mit Google Maps</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>guestlist_guestmap</name>
    		<type>guestmap_sel</type>
    		<default>2</default>
    		<description>Besucherkarte (Deutschlandkarte mit Markierung der Herkunft der Gäste) anzeigen?</description>
    	</item>
    	<item>
    		<name>guestlist_showorga</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Sollen Orgas mit in der Gästeliste angezeigt werden.</description>
    	</item>
    	<item>
    		<name>guestlist_shownames</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll jeder den Vor- und Nachnamen der Benutzer sehen? (Im Intranet-Modus ist dies immer aktiviert)</description>
    	</item>
    </items>
  </group>
</config>