<!-- TEMPLATE - STANDARD - NOC SHOW device DETAILS -->
  
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td> 
            <p><b>Device '{$templ['noc']['show']['device']['details']['info']['caption']}'</b></p>
            <p>&nbsp;</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['caption']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['caption']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['ip']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['ip']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%">&nbsp; </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td><img border="1" src="{$templ['noc']['show']['device']['details']['control']['image']}" alt=""/></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['descr']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['descr']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['text']['contact']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['contact']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['uptime']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['uptime']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['location']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$templ['noc']['show']['device']['details']['info']['location']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['text']['context']}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> 
            <table cellspacing="2" cellpadding="0" class="tbl_1">
              <tr> 
                <td width="28"><img src="design/images/noc_port_on.png" alt=""/></td>
                <td> {$templ['noc']['show']['device']['details']['text']['active']}</td>
              </tr>
              <tr> 
                <td width="28"><img src="design/images/noc_port_off.png" alt=""/></td>
                <td>{$templ['noc']['show']['device']['details']['text']['inactive']}</td>
              </tr>
              <tr> 
                <td width="28"><img src="design/images/noc_port_failed.png" alt=""/></td>
                <td>{$templ['noc']['show']['device']['details']['text']['off']}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_1" height="30" colspan="2">
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
		{$templ['noc']['show']['device']['details']['control']['ports']}
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td width="12"><a href="helplett"><img src="design/{default_design}/images/arrows_help.gif" width="12" height="13" border="0" alt=""/></a></td>
          <td><a href="helplett"> Hilfe </a></td>
        </tr>
      </table>
    </td>
    <td class="tbl_6" height="30" width="70%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$templ['noc']['show']['device']['details']['control']['changebutton']} {$templ['noc']['show']['device']['details']['control']['deletebutton']}
          </td>  
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" height="1"></td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <p><br/>
      </p>
    </td>
  </tr>

<!-- TEMPLATE - STANDARD - NOC SHOW device DETAILS -->