<!-- TEMPLATE - STANDARD - GUESTLIST -->

<div class="content_head">
	<b><a name="benutzer">{$templ['guestlist']['search']['case']['user']['info']['title']}</a>&nbsp;</b><br/>
	<br/>
	Auf dieser Seite werden {$templ['guestlist']['search']['case']['user']['info']['user_on_page']}
	von {$templ['guestlist']['search']['case']['user']['info']['overall_user']}
	Benutzern angezeigt. Mit einem Klick auf die Pfeil-Symbole in der
	Spalten&uuml;berschirft k&ouml;nnen Sie die Suchergebnisse aufsteigend
	oder absteigend sortieren.<br/>Alle grau hinterlegten User haben noch nicht bezahlt.<br />
	{$templ['guestlist']['search']['case']['user']['info']['extended_description']}
	<form name="form" method="post" action="{$templ['guestlist']['search']['form']['user']['control']['form_action']}">

	<table width="90%" border="0" cellspacing="1" cellpadding="1">
	<tr>
		<td width="5%"><input type="text" name="search_keyword" size="30" maxlength="30" class="form" value="{$_POST['search_keywords']}" /></td>
		<td width="10%">&nbsp;&nbsp;&nbsp;<input type="image"  style="border:0; width:61; height:17" name="imageField" src="design/{default_design}/images/buttons_search.gif" /></td>
		<td width="75%" align="right">max Teilnehmer: <b>{$templ['guestlist']['search']['case']['user']['info']['max_teilnehmer']}</b> | bezahlt: <b>{$templ['guestlist']['search']['case']['user']['info']['bezahlt']}</b> | frei: <b>{$templ['guestlist']['search']['case']['user']['info']['frei']}</b> </td>
	</tr>
	</table>

	</form>
	<div align="right">{$templ['guestlist']['search']['case']['user']['control']['pages']}</div>
</div>
<br />

<table width="100%" cellspacing="0" cellpadding="3">
	<tr>
	<td width="22%" class="content_head">
		Benutzer <a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=username,asc"><img src="design/{default_design}/images/arrows_orderby_asc{$templ['guestlist']['search']['case']['user']['control']['order']['username']['asc']}.gif" width="12" height="13" border="0" alt="" /></a>
		<a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=username,desc"><img src="design/{default_design}/images/arrows_orderby_desc{$templ['guestlist']['search']['case']['user']['control']['order']['username']['desc']}.gif" width="12" height="13" border="0" alt="" /></a>
	</td>
	<td width="20%" class="content_head">
		Nachname <a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=name,asc"><img src="design/{default_design}/images/arrows_orderby_asc{$templ['guestlist']['search']['case']['user']['control']['order']['name']['asc']}.gif" width="12" height="13" border="0" alt="" /></a>
		<a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=name,desc"><img src="design/{default_design}/images/arrows_orderby_desc{$templ['guestlist']['search']['case']['user']['control']['order']['name']['desc']}.gif" width="12" height="13" border="0" alt="" /></a>
	</td>
	<td width="21%" class="content_head">
		Vorname <a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=firstname,asc"><img src="design/{default_design}/images/arrows_orderby_asc{$templ['guestlist']['search']['case']['user']['control']['order']['firstname']['asc']}.gif" width="12" height="13" border="0" alt="" /></a>
		<a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=firstname,desc"><img src="design/{default_design}/images/arrows_orderby_desc{$templ['guestlist']['search']['case']['user']['control']['order']['firstname']['desc']}.gif" width="12" height="13" border="0" alt="" /></a>
	</td>
	<td width="16%" class="content_head">
		Clan <a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=clan,asc"><img src="design/{default_design}/images/arrows_orderby_asc{$templ['guestlist']['search']['case']['user']['control']['order']['clan']['asc']}.gif" width="12" height="13" border="0" alt="" /></a>
		<a href="{$templ['guestlist']['search']['case']['user']['control']['working_link']}&orderby=clan,desc"><img src="design/{default_design}/images/arrows_orderby_desc{$templ['guestlist']['search']['case']['user']['control']['order']['clan']['desc']}.gif" width="12" height="13" border="0" alt="" /></a>
	</td>
	<td width="21%" class="content_head">
		Platz
	</td>
	</tr>

	{$templ['guestlist']['search']['case']['user']['control']['rows']}
</table>
<br />
<div align="right">{$templ['guestlist']['search']['case']['user']['control']['pages']}</div>
