<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<!-- TEMPLATE - STANDARD - HELPLET SHOW INDEX -->
<HTML>
<HEAD>
<LINK rel="STYLESHEET" href="design/{default_design}/style.css">
<TITLE>Hilfe - {$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['lansuite_version']}</TITLE>
</HEAD>
<table>
<tr>
 <td width="70"><img src="design/{default_design}/images/helplet_top_logo.gif" alt="logo"/></td>
 <td></td>
</tr>
<tr> 
 <td>{$templ['ls']['case']['content']['rows']}</td>
</tr> 
</table>
</HTML>
<!-- TEMPLATE - STANDARD -->