<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<!-- TEMPLATE - INSTALL -->
<HTML>
<HEAD>
<TITLE>Lansuite Installation und Administration</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK rel="STYLESHEET" href="design/standard/style.css">
</HEAD>
<BODY bgcolor="#FFFFFF" leftmargin="6" topmargin="6" marginwidth="6" marginheight="6">
<div align="center">
<br/>
  <table width="700" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#000000"> 
      <td height="1" colspan="4"></td>
      <td width="1" rowspan="3" bgcolor="#FFFFFF" height="1"></td>
    </tr>
    <tr> 
      <td width="1" height="1" rowspan="2" bgcolor="#000000"></td>
      <td colspan="2" bgcolor="#FFFFFF" height="1"></td>
      <td width="1" rowspan="2" bgcolor="#000000" height="1"></td>
    </tr>
    <tr> 
      <td width="1" bgcolor="#FFFFFF" height="1"></td>
        <td bgcolor="#E8E7E7"> 
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td background="design/standard/images/index_top_background.gif" width="10%"><a href="index.php?mod=home"><img border="0" alt="Hauptmenü" src="design/standard/images/lansuite.gif" width="187" height="85"/></a></td>
            <td background="design/standard/images/index_top_background.gif" valign="top">
				<div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif">Installer-Version: 2.0</font>&nbsp;</div>
				<br/>
				<div align="center">
				<font size="3" face="Verdana, Arial, Helvetica, sans-serif">
				<strong>Lansuite Installation und Administration</strong>
				</font>
				</div>
				<br/><div align="right"><font size="1" face="Verdana, Arial, Helvetica, sans-serif"><a href="index.php">Zurück zum Intranet</a></font>&nbsp;</div>
			</td>
          </tr>
          <tr bgcolor="#000000"> 
              <td colspan="2" height="1"></td>
          </tr>
          <tr> 
            <td colspan="2"><br/>
              <table width="80%" border="0" align="center" cellpadding="2" cellspacing="0">
                  <tr>
                    <td>
                        {$templ['index']['info']['content']}
					</td>
                </tr>
              </table>
                <br/>
              </td>
          </tr>
        </table></td>
    </tr>
    <tr bgcolor="#000000"> 
      <td height="1" colspan="4"></td>
      <td height="1" bgcolor="#FFFFFF"></td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td height="1" colspan="5"></td>
    </tr>
  </table>
    <br/>
{footer}
</div>
</BODY>
</HTML>
<!-- TEMPLATE - INSTALL -->