<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>30</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Box-Manager</caption>
		<hint>Verwalte die Boxen</hint>
		<link>?mod=boxes</link>
		<requirement>2</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<level>0</level>
	</entry>
</menu>