<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>16</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Board</caption>
		<hint></hint>
		<link>?mod=board</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<level>0</level>
	</entry>
	<entry>
		<action>forum</action>
		<file>forum</file>
		<caption>Thread-Suche</caption>
		<hint></hint>
		<link>index.php?mod=board&amp;action=forum</link>
		<requirement>0</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>bookmark</action>
		<file>forum</file>
		<caption>Lesezeichen</caption>
		<hint>Hier siehst du die von dir marieren Threads</hint>
		<link>index.php?mod=board&amp;action=bookmark</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>ranking</action>
		<file>ranking</file>
		<caption>Ranking</caption>
		<hint>Das aktuelle Posting-Rankung</hint>
		<link>index.php?mod=board&amp;action=ranking</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>add</action>
		<file>add</file>
		<caption>Hinzufügen</caption>
		<hint></hint>
		<link>?mod=board&amp;action=add</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>admin_search</action>
		<file>admin_search</file>
		<caption>Post-Suche</caption>
		<hint></hint>
		<link>?mod=board&amp;action=admin_search</link>
		<level>1</level>
		<requirement>2</requirement>
	</entry>	
	<entry>
		<action>delete</action>
		<file>delete</file>
		<requirement>3</requirement>
	</entry>	
</menu>
