<?xml version="1.0" encoding="UTF-8"?>
<lansuite-module>
	<name>board</name>			<!-- The modules internal name. This should be the same as the name of its folder! -->
	<caption>Board</caption>		<!-- The modulname displayed to the user -->
	<description>Benutzer können hier Nachrichten hinterlassen, worauf andere antworten können</description>		<!-- A short description of the module -->
	<active>1</active>				<!-- Is the module activated by default? 0/1 -->
	<changeable>1</changeable>		<!-- May the user de-/activate the module? 0/1 -->
	<author>Raphael Mansmann/Marco Müller (Genesis)</author>				<!-- The author of this module -->
	<email>raphael@one-network.org</email>					<!-- The E-Mail-Adress of the modules author -->
	<version>1.1</version>			<!-- The version of this module -->
	<state>stable</state>			<!-- The state of this module (f.e.: stable, in development, beta, ...) -->
</lansuite-module>