<?xml version="1.0" encoding="UTF-8"?>
<lansuite-module>
	<name>wiki</name>			<!-- The modules internal name. This should be the same as the name of its folder! -->
	<caption>Wiki</caption>		<!-- The modulname displayed to the user -->
	<description>Texte erstellen, bei deren Inhalt jeder Benutzer mitwirken kann</description>		<!-- A short description of the module -->
	<active>0</active>				<!-- Is the module activated by default? 0/1 -->
	<changeable>1</changeable>		<!-- May the user de-/activate the module? 0/1 -->
	<author>Jochen (KnoX)</author>				<!-- The author of this module -->
	<email>knox@orgapage.net</email>					<!-- The E-Mail-Adress of the modules author -->
	<version>1.0</version>			<!-- The version of this module -->
	<state>stable</state>			<!-- The state of this module (f.e.: stable, in development, beta, ...) -->
	<requires>
		<php>5.1.0</php>
	</requires>
</lansuite-module>