<?xml version="1.0" encoding="ISO-8859-15"?>
<menu>
	<pos>17</pos>
	<entry>
		<caption>Gästebuch</caption>
		<action>default</action>
		<file>show</file>
		<hint></hint>
		<link>?mod=guestbook</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
</menu>