<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="expires" content="900" />

<link rel="stylesheet" type="text/css" href="design/style.css" />
<link rel="stylesheet" type="text/css" href="design/{$Design}/style.css" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml" />

<script type="text/javascript" src="scripts.js"></script>