<select id="{$templ['ls']['row']['datetime']['name']}_value_day" name="{$templ['ls']['row']['datetime']['name']}_value_day" class="form{$templ['ls']['row']['datetime']['optional']}" {$templ['ls']['row']['datetime']['disabled']['day']} {$templ['ls']['row']['datetime']['additional']} onmouseover="this.focus();">
{$templ['ls']['row']['datetime']['value']['day']}
</select>
Tag&nbsp;
<select id="{$templ['ls']['row']['datetime']['name']}_value_month" name="{$templ['ls']['row']['datetime']['name']}_value_month" class="form{$templ['ls']['row']['datetime']['optional']}" {$templ['ls']['row']['datetime']['disabled']['month']} {$templ['ls']['row']['datetime']['additional']} onmouseover="this.focus();">
{$templ['ls']['row']['datetime']['value']['month']}
</select>
Monat&nbsp;
<select id="{$templ['ls']['row']['datetime']['name']}_value_year" name="{$templ['ls']['row']['datetime']['name']}_value_year" class="form{$templ['ls']['row']['datetime']['optional']}" {$templ['ls']['row']['datetime']['disabled']['year']} {$templ['ls']['row']['datetime']['additional']} onmouseover="this.focus();">
{$templ['ls']['row']['datetime']['value']['year']}
</select>
Jahr