<li class="LineLeft">
	<label for="{$name}">{$key}</label>
	<br />
	<br />LS-Code ist <strong>an</strong>
	<br />Verbl. Zeichen: <input type="text" name="{$name}_chr" class="form" maxlength="10" size="10" value="{$maxchar}" readonly />
	<br />
  <br /><a href="index.php?mod=popups&amp;action=ls_row_textareaplus_popup&amp;design=popup&amp;form={$formname}&amp;textarea={$name}" onclick="OpenWindow(this.href, 'TextFormatSelect'); return false">Smilies einfügen</a>
  <br />
  <br /><a href="index.php?mod=popups&amp;action=ls_row_textareaplus_link&amp;design=popup&amp;form={$formname}&amp;textarea={$name}" onclick="OpenWindow(this.href, 'TextFormatSelect'); return false">Interner Link</a>
</li>
<li class="LineRight">
  <textarea name="{$name}" id="{$name}" class="form{$optional}" rows="{$rows}" onKeyUp="TextAreaPlusCharsLeft(this, document.{$formname}.{$name}_chr, {$maxchar}); AddaptTextAreaHeight(this)">{$value}</textarea>
	{$errortext}
  </li>
  <li class="LineLeft">&nbsp;</li>
  <li class="LineRight">{$buttons}

	<select name="color" onChange="javascript:if (this.options[this.selectedIndex].value != '') InsertCode(document.{$formname}.{$name}, '[color=' + this.options[this.selectedIndex].value + ']', '[/color]')" class="form">
  	<option style="color:black;" value="" >Schriftfarbe</option>
  	<option style="color:darkred;" value="darkred" >Dunkelrot</option>
  	<option style="color:red;" value="red" >Rot</option>
  	<option style="color:orange;" value="orange" >Orange</option>
  	<option style="color:brown;" value="brown" >Braun</option>
  	<option style="color:yellow;" value="yellow" >Gelb</option>
  	<option style="color:green;" value="green" >Grün</option>
  	<option style="color:olive;" value="olive" >Oliv</option>
  	<option style="color:cyan;" value="cyan" >Cyan</option>
  	<option style="color:blue;" value="blue" >Blau</option>
  	<option style="color:darkblue;" value="darkblue" >Dunkelblau</option>
  	<option style="color:indigo;" value="indigo" >Indigo</option>
  	<option style="color:violet;" value="violet" >Violett</option>
  	<option style="color:black;" value="black" >Schwarz</option>
	</select>

	<select name="color" onChange="javascript:if (this.options[this.selectedIndex].value != '') InsertCode(document.{$formname}.{$name}, '[size=' + this.options[this.selectedIndex].value + ']', '[/size]')" class="form">
  	<option value="" selected>Schriftgröße</option>
  	<option value="7"  >Winzig</option>
  	<option value="9"  >Klein</option>
  	<option value="12" >Normal</option>
  	<option value="18" >Groß</option>
  	<option value="24" >Riesig</option>
	</select>
</li>
