<tr>
	<td class="row_key" width="30%" height="30"><label for="{$templ['ls']['row']['file']['name']}">{$templ['ls']['row']['file']['key']}</label></td>

	<td class="row_value" width="70%" height="30">
		<input type="file" id="{$templ['ls']['row']['file']['name']}" name="{$templ['ls']['row']['file']['name']}" class="form{$templ['ls']['row']['file']['optional']}" value="" size="{$templ['ls']['row']['file']['size']}" enctype="multipart/form-data" maxlength="{$templ['ls']['row']['file']['maxlength']}" />
		{$templ['ls']['row']['file']['errortext']}
	</td>
</tr>