<tr>
	<td class="row_key" width="30%" height="30" valign="top">
		{$templ['ls']['row']['textarea']['key']}
		<br />
		<span class="small">
			<br />LS-Code ist <strong>an</strong>
			<br />Verbl. Zeichen: <input type="text" name="{$templ['ls']['row']['textarea']['name']}_chr" class="form" maxlength="10" size="10" value="{$templ['ls']['row']['textarea']['maxchar']}" readonly />
			<br /><a href="base.php?mod=ls_row_textareaplus&form={$templ['ls']['row']['textarea']['formname']}&textarea={$templ['ls']['row']['textarea']['name']}" onclick="OpenWindow(this.href, 'TextFormatSelect'); return false">Formatierung und Smilies einfügen</a>
		</span>
	</td>

	<td width="70%" height="30" class="row_value">
			<textarea name="{$templ['ls']['row']['textarea']['name']}" id="{$templ['ls']['row']['textarea']['name']}" class="form{$templ['ls']['row']['textarea']['optional']}" cols="{$templ['ls']['row']['textarea']['cols']}" rows="{$templ['ls']['row']['textarea']['rows']}" onKeyUp="TextAreaPlusCharsLeft(this, document.{$templ['ls']['row']['textarea']['formname']}.{$templ['ls']['row']['textarea']['name']}_chr, {$templ['ls']['row']['textarea']['maxchar']})">{$templ['ls']['row']['textarea']['value']}</textarea>
			{$templ['ls']['row']['textarea']['errortext']}
	</td>
</tr>