<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<!-- TEMPLATE - STANDARD - HELPLET SHOW INDEX -->
<HTML>
<HEAD>
<TITLE>Variablen</TITLE>
{$templ['index']['html_header']}
<script language="JavaScript">
<!--
// Close window
function x(){	top.close(); }
//-->
</script>
</head>
<body onload="window.resizeTo(250,450);">
<body leftmargin="2" topmargin="2" marginwidth="2" marginheight="2">
{$templ['index']['info']['content']}
</body>
</html>