<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<META HTTP-EQUIV="Refresh" Content = "{$refreshtime}" URL="index.php?mod=msgsys&action=query_messages&design=base&queryid={$queryid}#end">
<link rel="STYLESHEET" href="design/style.css">
<link rel="STYLESHEET" href="design/{$default_design}/style.css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" class="tbl_1">
<table width="100%" cellspacing="0" cellpadding="2" class="tbl_1">
  <tr>
    <td valign="top">{$msgs}</td>
  </tr>
</table>
</body>
</html>
