 
<!-- TEMPLATE - STANDARD - MULTIQUESTION ROW -->
    <tr> 
	  <td class="tbl_5" height="25" width="45"> 
      </td>
	  <td class="tbl_5" height="25" width="15"> 
        <a href="{$templ['multiquestion']['row']['link']}"><img src="design/{default_design}/images/arrows_menurow.gif" border="0" alt=""/></a>
      </td>
      <td class="tbl_5" height="25"> 
		<a href="{$templ['multiquestion']['row']['link']}" class="menu">{$templ['multiquestion']['row']['text']}</a>
      </td>
    </tr>	 
<!-- TEMPLATE - STANDARD - MULTIQUESTION ROW -->