<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Discord Serverkonfiguration</name>
    </head>
    <items>
    	<item>
    		<name>discord_server_id</name>
    		<type>int</type>
    		<default>0</default>
    		<description>Discord server ID</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Anzeigeeinstellungen</name>
    </head>
    <items>
        <item>
                <name>discord_hide_bots</name>
                <type>boolean</type>
                <default>1</default>
                <description>Sollen Bots ausgeblendet werden?</description>
        </item>
    </items>
  </group>
</config>
