<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>4</pos>
	<entry>
		<action>default</action>
		<file>guestlist</file>
		<caption>Gästeliste</caption>
		<hint></hint>
		<link>?mod=guestlist&amp;action=guestlist</link>
		<requirement>0</requirement>
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>usermap</action>
		<file>usermap</file>
		<caption>Besucherkarte</caption>
		<hint>Hier siehst du aus welchen Gegenden die Besucher kommen</hint>
		<link>?mod=guestlist&amp;action=usermap</link>
		<requirement>0</requirement>
		<needed_config>ShowGuestMap</needed_config>
		<level>1</level>
	</entry>
	<entry>
		<caption>Kontocheck updaten</caption>
		<hint></hint>
		<link>?mod=guestlist&amp;action=checking</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<caption>Gäste exportieren</caption>
		<hint></hint>
		<link>?mod=guestlist&amp;action=export</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>random_user</action>
		<file>random_user</file>
		<caption>Zufallsgast</caption>
		<hint>Wählt anhand bestimmter Kriterien zufällige Gäste aus</hint>
		<link>?mod=guestlist&amp;action=random_user</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>onlineuser</action>
		<file>onlineuser</file>
		<caption>Onlineuser</caption>
		<hint></hint>
		<link>?mod=guestlist&amp;action=onlineuser</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
</menu>