<!-- TEMPLATE - STANDARD - NOC SHOW device DETAILS -->

<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td> 
            <p><b>Device '{$caption}'</b></p>
            <p>&nbsp;</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$caption}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$caption}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$ip}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$ip}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%">&nbsp; </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td><img border="1" src="{$image}" alt=""/></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$descr}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$descr}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td> {$contact}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$contact}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$uptime}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$uptime}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$location}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> {$location}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$context}</td>
        </tr>
      </table>
    </td>
    <td class="tbl_1" width="70%" height="30"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
        <tr> 
          <td> 
            <table cellspacing="2" cellpadding="0" class="tbl_1">
              <tr> 
                <td width="28"><img src="design/images/noc_port_on.png" alt=""/></td>
                <td> {$active}</td>
              </tr>
              <tr> 
                <td width="28"><img src="design/images/noc_port_off.png" alt=""/></td>
                <td>{$inactive}</td>
              </tr>
              <tr> 
                <td width="28"><img src="design/images/noc_port_failed.png" alt=""/></td>
                <td>{$off}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_1" height="30" colspan="2">
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
		{$ports}
      </table>
    </td>
  </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" width="30%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td width="12"><a href="helplett"><img src="design/{default_design}/images/arrows_help.gif" width="12" height="13" border="0" alt=""/></a></td>
          <td><a href="helplett"> Hilfe </a></td>
        </tr>
      </table>
    </td>
    <td class="tbl_6" height="30" width="70%"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td>{$changebutton} {$deletebutton}
          </td>  
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" height="1"></td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <p><br/>
      </p>
    </td>
  </tr>

<!-- TEMPLATE - STANDARD - NOC SHOW device DETAILS -->