<form name="form_loginbox" method="post" action="index.php">
	<label for="email" class="copyright">E-Mail</label>
	<input name="email" type="text" class="form" id="email" size="18" />

	<label for="password" class="copyright">Passwort</label>
	<input type="password" name="password" class="form" size="18" />

	<div>
		<input type="image" name="login" src="ext_inc/auto_images/{default_design}/{language}/button_login.png" />
		<input type="image" name="save" src="ext_inc/auto_images/{default_design}/{language}/button_save.png" />
	</div>
</form>
