<!-- TEMPLATE - STANDARD - BOX LOGIN CONTENT -->
<form name="form_searchbox" method="post" action="?mod=search&action=searchbox">
	<img src="design/{default_design}/images/search_topic_keywords.gif" width="85" height="7" alt="keyword"/>
	<input type="text" name="search_keywords" value="{$templ['mastersearch']['search']['content']['search_keywords']}" class="form" style="width: 138px" />

	<img src="design/{default_design}/images/search_topic_module.gif" width="85" height="7" alt="module"/>
	{$templ['mastersearch']['search']['content']['module']}

	<div align="right">
		<input type="image" name="login2" value="login" src="design/{default_design}/images/buttons_search.gif" />
	</div>
</form>
<!-- TEMPLATE - STANDARD - BOX LOGIN CONTENT -->