<tr>
	<td colspan="2">
    <form name="ms_search" method="post" onSubmit="loadPage({$templ['ms2']['action']}); return false">
    <table width="100%" cellspacing="0" cellpadding="0">
    {$templ['ms2']['inputs']}
    <tr><td class="row_key">
      &nbsp;
    </td><td class="row_value" colspan="3">
      <input type="image" style="border:0; width:61; height:17" name="sending" src="ext_inc/auto_images/{default_design}/{language}/button_search.png" />
    </td></tr>
    </table>
    </form>
	</td>
</tr>
