<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>msgsys_alwayson</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll der Messenger auch im Internet-Modus angezeigt werden?</description>
    	</item>
    	<item>
    		<name>msgsys_popup</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Soll ein POPUP geöffnet werden bei einer neuen Nachricht?</description>
    	</item>
    </items>
  </group>
</config>