<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>35</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Geburtstage</caption>
		<hint></hint>
		<link>?mod=birthday</link>
		<requirement>2</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Operator; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
</menu>
