<!-- SINGLE ROW BEGIN -->

		<table border="0" width="100%" cellspacing="0" cellpadding="3" class="row_value">
		<tr>
			<td>Aktion</td>
			<td><input type="text" name="action[{$id}]" value="{$action}" size="18"></td>
			<td>PHP-Datei</td>
			<td><input type="text" name="file[{$id}]" value="{$file}" size="25"> Pos <input type="text" name="pos[{$id}]" value="{$pos}" size="2"> [<a href="index.php?mod=install&action=modules&module={$module}&step=23&id={$id}">löschen</a>]</td>
		</tr>
		<tr>
			<td>Titel</td>
			<td><input type="text" name="caption[{$id}]" value="{$caption}" size="18"></td>
			<td>Linkziel</td>
			<td><input type="text" name="link[{$id}]" value="{$link}" size="46"></td>
		</tr>
		<tr>
			<td>Zugriff</td>
			<td><select name="requirement[{$id}]">
				{$requirement}
			</select></td>
			<td>Abhängigkeit</td>
			<td><select name="needed_config[{$id}]">
				{$needed_config}
			</select></td>
		</tr>
		<tr>
			<td>Tipp</td>
			<td colspan="3">
        <input type="text" name="hint[{$id}]" value="{$hint}" size="70">
        {$boxid}
      </td>
		</tr>
		</table>

<!-- SINGLE ROW END -->
