<tr>
	<td class="row_key" id="pid{$templ['board']['thread']['case']['info']['post']['pid']}" width="150" valign="top">
    {$templ['board']['thread']['case']['info']['post']['date']}
    <br /><b>{$templ['board']['thread']['case']['info']['post']['poster']['username']}</b> 
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['type']} 
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['avatar']} 
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['posts']} 
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['rank']}
  </td>
	<td class="row_value{$templ['board']['highlighted']}" width="*" valign="top">
    {$templ['board']['thread']['case']['info']['post']['edit']}
    {$templ['board']['thread']['case']['info']['post']['text']}
    {$templ['board']['thread']['case']['info']['post']['poster']['signature']}
  </td>
</tr>
