<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//DE" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>{$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['version']} - www.lansuite.de</title>
	{$templ['index']['html_header']}
  <link rel="stylesheet" type="text/css" href="ext_scripts/niftycube/niftyCorners.css">
  <script type="text/javascript" src="ext_scripts/niftycube/niftycube.js"></script>
</head>


<body {$templ['index']['body']['js']}>
{$templ['index']['control']['js']}
<a name="top"></a>
<span id="LSloading" class="loading"></span>

<div id="Logo"><a href="{$templ['index']['control']['current_url']}" class="menu"><img src="design/{default_design}/images/arrows_delete.gif" border="0" alt="" /></a> Lansuite - Vollbildmodus</div>
<div id="DateLogout">{$templ['index']['info']['current_date']} {$templ['index']['info']['logout_link']}</div>

<div id="ContentFullscreen">
  {$templ['index']['info']['content']}
  <div id="Footer">
    {footer}
  </div>
</div>

<script type="text/javascript">
window.onload=function() {
  Nifty("div#ContentFullscreen", "big");
}
</script>

</body>
</html>