<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//DE" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>{$templ['index']['info']['lanparty_name']} - lansuite {$templ['index']['info']['version']} - www.lansuite.de</title>
	{$templ['index']['html_header']}
  <link rel="stylesheet" type="text/css" href="ext_scripts/niftycube/niftyCorners.css">
  <script type="text/javascript" src="ext_scripts/niftycube/niftycube.js"></script>
</head>


<body onload="BodyOnload()" {$templ['index']['body']['js']}>
{$templ['index']['control']['js']}
<a name="top"></a>
<span id="LSloading" class="loading"></span>

<div id="Logo"><img src="design/simple/images/logo.gif" alt="Logo" title="Lansuite"></div>
<div id="DateLogout">{$templ['index']['info']['current_date']} {$templ['index']['info']['logout_link']}</div>
<div id="Banner">{$templ['index']['banner_code']}</div>

<div id="BoxesLeft">
{$templ['index']['control']['boxes_letfside']}
</div>

<div id="Content">
  {$templ['index']['info']['content']}
  <div id="Footer">
    {footer}
  </div>
</div>

<div id="BoxesRight">
{$templ['index']['control']['boxes_rightside']}
</div>

</body>
</html>