<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<tr>
	<td class="tbl_1" height="30" colspan="2"> 
		<table width="100%" cellspacing="0" cellpadding="3">
			<tr> 
				<td class="tbl_6" height="10" colspan="3"></td>
			</tr>
			<tr> 
				<td class="tbl_1">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tr>
							<td width="70%" rowspan="4" class="tbl_1">&nbsp;</td>
							<td width="5%" rowspan="4" class="tbl_1" align="center" valign="middle">&nbsp;{$templ['catering']['show']['row']['info']['addtoshop']}</td>
							<td class="tbl_1">Basis:</td>
							<td class="tbl_1" align="right"><span id="price_base">0.00</span> EUR</td>
						</tr>
						<tr>
							<td class="tbl_1">Zusätzlich:</td>
							<td class="tbl_1" align="right"><span id="price_add">0.00</span> EUR</td>
						</tr>
						<tr class="tbl_4"> 
							<td colspan="2" height="1"><img src="/" width="1" height="1"></td>
						</tr>
						<tr>
							<td class="tbl_1"><b>Gesamt:</b></td>
							<td class="tbl_1" align="right"><span id="price_all">0.00</span> EUR</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="tbl_1"><br>

					<table width="100%" cellspacing="0" cellpadding="0">
						<tr class="tbl_4"> 
							<td colspan="2" height="1"><img src="/" width="1" height="1"></td>
						</tr>
						<tr class="tbl_1">
							<td colspan="2">
								&nbsp;Alle Angaben ohne Gewähr auf zwischenzeitlich geänderte Produktpreise und/oder Berechnungsfehler!
							</td>
						</tr>
						<tr class="tbl_4"> 
							<td colspan="2"  height="1"><img src="/" width="1" height="1"></td>
						</tr>
					</table>

				</td>
			</tr>
		</table>
	</td>
</tr>