
<!-- TEMPLATE - STANDARD - CATERING SHOW CASE -->

<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td class="tbl_5"><b>Speisekarte</b> {$templ['catering']['show']['row']['info']['availmon']}<br></td>
        </tr>
        <tr> 
          <td class="tbl_1"><br> 
		<b>Gruppen</b><br>
		{$templ['catering']['show']['row']['info']['foodgrps']}
          
		<br>
	</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2"><img src="/" width="1" height="1"></td>
  </tr>
  {$templ['catering']['show']['case']['control']['rows']}
  <tr class="tbl_5">
    <td colspan="2">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td> 
		&nbsp;
            </td>
          </tr>
        </table>
    </td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <p><br>
      </p>
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - CATERING SHOW CASE -->
