
<!-- TEMPLATE - STANDARD - CATERING OVERVIEW CASE -->
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td><b>{$templ['catering']['overview']['case']['info']['page_title']}</b><br>
            <br>
            {$templ['catering']['overview']['case']['info']['page_description']}
           <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td><img src="/" width="1" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_1" height="30">{$templ['catering']['overview']['case']['rows']} </td>
  </tr>
  <tr class="tbl_4"> 
    <td><img src="/" width="1" height="1"></td>
  </tr>
  <tr class="tbl_5"> 
    <td> 
      <p><br>
      </p>
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - CATERING OVERVIEW CASE -->