<!-- TEMPLATE - STANDARD - STATS EXPORT -->
  
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td> <p><b>Statistik - Report</b><br/>
              <br/>
              Zu allgemeinen Statistikzwecken bitten wir Sie durch Klicken auf den "senden" Button folgende Daten an <a href="http://www.lansuite.de" target="_blank">One-Network.org</a> senden:<br/>
              <br/>
              <table width="100%" cellspacing="0" cellpadding="0" border=0 class="tbl_5">
  		<tr>
  		 <td width="30%">- Lansuite-Version:</td>
  		 <td width="70%">{$templ['stats_data']['version']}</td>
  		</tr>
  		 <tr>
  		 <td>- Lanpartyname:</td>
  		 <td>{$templ['stats_data']['name']}</td>
  		</tr>
  		<tr>
  		 <td>- Postleitzahl:</td>
  		 <td>{$templ['stats_data']['plz']}</td>
  		</tr>
  		<tr>
  		 <td>- Party-Url:</td>
  		 <td>{$templ['stats_data']['url']}</td>
  		</tr>
  		<tr>
  		 <td>- Anzahl der G&auml;ste:</td>
  		 <td>{$templ['stats_data']['guests']}</td>
  		</tr>
  		<tr>
  		 <td>- Datum der Veranstaltung:</td>
  		 <td>{$templ['stats_data']['date']}</td>
  		</tr>
  		<tr>
  		 <td>- Email des Webmasters:</td>
  		 <td>{$templ['stats_data']['mail']} (F&uuml;r wichtige Updates)</td>
  		</tr>
  		<tr>
  		 <td colspan=2>&nbsp;</td>
  		</tr>
  		<tr>
  		 <td colspan=2><b>Es werden KEINERLEI personenspezifische Daten &uuml;bermittelt!</b></td>
  		</tr>
  		
  		<tr>
  		 <td colspan=2>&nbsp;</td>
  		</tr>
  		<tr>
  		 <td colspan=2><i>Diese Daten k&ouml;nnen Sie auf der Adminseite unter "Allgemeine Einstellungen" &auml;ndern.</i></td>
  		</tr>
              </table>                          
            </p></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
     <td class="tbl_6" height="30" width="70%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> 
              <a href="index.php?mod=stats&action=export"><img src="ext_inc/auto_images/{default_design}/{language}/button_send.png" border="0" alt="send"/></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  <tr> 
    <td colspan="2" class="tbl_4" height="1"></td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2"> <p><br/>
      </p></td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - STATS EXPORT -->