{if $mode == 2}
  {foreach from=$HiddenFields key=k item=v}
    <input id="cell{$k}" name="cell[{$k}]" value="{$v}" type="hidden" />
  {/foreach}
{/if}

{if $mode == 0 or $mode == 1 or $mode == 2}
  <div id="SeatPlanSVGContet" height="{$SVGHeight}" width="{$SVGWidth}" style="width:{$SVGWidth}px; height:{$SVGHeight}px"></div><script>go();</script>

{elseif $mode == 3}
<table cellspacing="0" cellpadding="0" class="content" align="center">
  <tr>
    <td class="content"></td>
    {foreach from=$head key=k item=v}
      <td class="content" style="font-size:8px; table-layout:fixed; width:{$v.width}px;" align="left" onclick="AllselectV({$k});">{$v.name}</td>
    {/foreach}
  </tr>

  {foreach from=$body key=k item=lines}
    <tr style="table-layout:fixed; height:{$lines.height}px;">
    
      <td class="content" style="font-size:8px" align="left" valign="top" onclick="AllselectH({$k});">{$lines.desc}</td>
      {foreach from=$lines.line key=k2 item=v}
      	<td class="content" style="font-size:8px;" align="left" valign="top">{$v.content}</td>
      {/foreach}
    </tr>
  {/foreach}
</table>
{/if}