<table>
<tr>

<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/124.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/123.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/122.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/121.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/127.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/131.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/125.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/128.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/119.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/118.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/117.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/116.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/126.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/130.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/120.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/129.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/226.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/223.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/222.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/225.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/228.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/211.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/212.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/215.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/207.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/216.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/208.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/220.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/219.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/206.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/218.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/210.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/217.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/default/214.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/213.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/221.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/209.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td style="white-space:nowrap;">
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/202.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/default/204.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/201.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/203.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <br />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/205.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/lsthumb_100.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
</tr>

<tr>
<td colspan="3">
  <img src="ext_inc/seating_symbols/default/132.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/152.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
<td colspan="5">
  <img src="ext_inc/seating_symbols/default/227.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
  <img src="ext_inc/seating_symbols/default/224.png" width="14" height="14" onClick="javascript:UpdateCurrentPicture(this.src);" />
</td>
</tr>
</table>
