<br />
<br />
<table align="center" cellspacing="2">
	<tr><td class="frame_box">
		Sitzplan-Legende
	</td></tr>
	<tr><td class="content" align="left">
		<img src="ext_inc/auto_images/{default_design}/seat/seat_free.png" /> {$templ['seating']['legend']['free']} <br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_marked.png" /> {$templ['seating']['legend']['marked']}<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_reserved.png" /> {$templ['seating']['legend']['reserved']}<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_clanmate.png" /> {$templ['seating']['legend']['clan']}<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_myselfe.png" /> {$templ['seating']['legend']['me']}<br />
	</td></tr>
</table>
