		<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6" border=0>
		  <tr>
			<td width="8%" align="left"><a href="index.php?mod=pdf&action={$action}&act=change&direction=minus&id={$id}&itemid={$itemid}"><img src="design/{$default_design}/images/arrows_orderby_desc.gif" border="0" alt="UP" /></a><sup> {$change}&nbsp; </sup><a href="?mod=pdf&action={$action}&act=change&direction=plus&id={$id}&itemid={$itemid}"><img src="design/{$default_design}/images/arrows_orderby_asc.gif" border="0" alt="DOWN" /></a></td>
			<td width="62%" align="left"><strong>{$typename}</strong></td>
			<td width="30%"></td>
		  </tr>
		  <tr>
		  	<td width="8%" align="left">&nbsp;</td>
		  	<td width="62%" align="left">{$description}</td>
			<td width="30%" align="right" nowrap>	{$button_edit} &nbsp; {$button_del}</td>
		  </tr>
        </table>

