<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>21</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Troubletickets</caption>
		<hint>Mit den Troubletickets können die Orgas und die Teilnehmer ihre Probleme etc. verwalten</hint>
		<link>?mod=troubleticket</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>cat</action>
		<file>cat</file>
		<caption>Kategorie</caption>
		<hint>Neue Kategorie hinzufügen oder ändern</hint>
		<link>?mod=troubleticket&amp;action=cat</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>	
	<entry>
		<action>add</action>
		<file>add</file>
		<caption>Hinzufügen</caption>
		<hint>Ein Troubleticket hinzufügen</hint>
		<link>?mod=troubleticket&amp;action=add</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>assign</action>
		<file>assign</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>showme</action>
		<file>showme</file>
		<caption>Meine Tickets</caption>
		<hint>Eine Auflistung aller Troubletickets die mir zugewiesen wurden sowie Bearbeitung nach Auswahl</hint>
		<link>?mod=troubleticket&amp;action=showme</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>change</action>
		<file>change</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>delete</action>
		<file>delete</file>
		<requirement>3</requirement>
	</entry>
</menu>
