<a href="{$request_uri}language=it"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1wQCCCAFd5tp6QAAADJJREFUeNpj/P//PwM1ARMDlcHg
N5CRoYcBayD+L8Yftj8YGUfDcNTAUQOHc+Ew8gpYANXvCxblHX2RAAAAAElFTkSuQmCC" alt="it" title="Italiano" width="20" height="20" border="0" /></a>
<a href="{$request_uri}language=fr"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1wQCCCArq01kJgAAADpJREFUeNpj/P//PwM1ARMDlcHg
N5CRgeH7fwYGRgyJ///Z8Wr8yciIy4WMo5EyauCogcOgcBh5BSwA6Z4LGL3iOzIAAAAASUVORK5C
YII=" alt="fr" title="Français" width="20" height="20" border="0"/></a>
<a href="{$request_uri}language=es"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAMklEQVR42mP8//8/AzUBEwOVweA3kPE/A8P/keVlFup6eEQmmxFo
IAsD48grHEZcAQsAaegJIuin2YEAAAAASUVORK5CYII=" alt="es" title="Español" width="20" height="20" border="0" /></a>
<a href="{$request_uri}language=nl"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1wQCCCENYFvQmgAAADhJREFUeNpj/P//PwM1ARMDlcHg
N5DxPwPDv9EwpAiwMPz/zzgahoMsYTMYz/w/GoYUFg4jroAFAMd8C+ic8APiAAAAAElFTkSuQmCC" alt="nl" title="Nederlands" width="20" height="20" border="0" /></a>
<a href="{$request_uri}language=en"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1wQCCCMRRmzuVwAAAB10RVh0Q29tbWVudABDcmVhdGVk
IHdpdGggVGhlIEdJTVDvZCVuAAAA5UlEQVR42uWUMU7DQBRE37NcOB0cJVcIx0hHLIHEeejgGnRw
hVyDkg4XoKFw1lYiEFtYChK/29Xs7Oz8+WsSlqyGhWtxQgPPJBu9GeCzOwUkD6Blofb5AfMCPLUk
G5QkHYBugVWVmukyH4dR1O1lqz1JJhWlSdrXkY34DhA+0kyHS7d/YwLgfbYB0OurYoWpyc3s4Xm6
nD+dw7bGl7N62Gh/nBQFRbffJugIr/dFfdlvppDO9TY+bVUzKndFROFoJzIdgI7koibbBXOYsj26
TnLwUPcknezqBuXUAnZrRuJX/98H+wX68mWxYGHr3AAAAABJRU5ErkJggg==" alt="en" title="English" width="20" height="20" border="0" /></a>
<a href="{$request_uri}language=de"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
WXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH1wEEETQHSUeXwwAAAB10RVh0Q29tbWVudABDcmVhdGVk
IHdpdGggVGhlIEdJTVDvZCVuAAAANElEQVR42u2RwQ0AMBCCsOn+K9Ml7mHSYwCjGJVJDsOMBwbw
r8n9gdd12HcKrsO+UzDVDR9iSgcnjaBB6wAAAABJRU5ErkJggg==" alt="de" title="Deutsch" width="20" height="20" border="0" /></a>