<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>8</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Poll</caption>
		<hint>Hier kannst du alle eingetragenen Polls anzeigen</hint>
		<link>?mod=poll</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>search</action>
		<file>show</file>
		<requirement>0</requirement>
	</entry>
	<entry>
		<action>add</action>
		<file>add</file>
		<caption>Hinzufügen</caption>
		<hint>Hier kannst du Polls hinzufügen</hint>
		<link>?mod=poll&amp;action=add</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>change</action>
		<file>add</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>result</action>
		<file>result</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>delete</action>
		<file>delete</file>
		<requirement>3</requirement>
	</entry>
	<entry>
		<action>vote</action>
		<file>vote</file>
		<requirement>0</requirement>
	</entry>
</menu>
