<!-- TEMPLATE - STANDARD - GAMES MINESWEEPER -->

<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td>


<CENTER>
<P>
<FORM NAME="mineField">
</P>
<TABLE BORDER="0">

{$generate_field}

</TABLE>
</FORM>

<FORM NAME="init_form">
<INPUT onfocus=HandsOff(this) size=15 value="" name=status>
<br>Reihen: {$rows}
<br>Spalten: {$columns}
<br>Minen: {$mines}
</form>

</CENTER>





<script>
{literal}
function MakeArray(n) {
	for (var i = 0; i < n; i++)
		this[i] = false
	return this
}

function MineField() {
	for (var i = 0; i < rows; i++)
		this[i] = new MakeArray(cols)
	for (var k = 0; k < mines; k++) {
		var i_r = Math.floor(Math.random()*rows)
		var j_r = Math.floor(Math.random()*cols)
		while ( this[i_r][j_r] ) {
			i_r = Math.floor(Math.random()*rows)
			j_r = Math.floor(Math.random()*cols)
		}
		this[i_r][j_r] = true
	}
	return this
}


function HandsOff(textfield) {
	textfield.blur()
}


function Check(button) {
	if ( button.value == ' ' ) {
		var ci = eval(button.name.substring(0, 2))
		var cj = eval(button.name.substring(2, 4))
		if ( field[ci][cj] ) {
			stat.value = 'Leider verloren :-('
			ShowMines()
			alert('WOUM!')
		}
		else {
			button.value = Count(ci, cj)
			if ( button.value == 0 ) with (Math) {
				for (var i = max(0, ci-1); i < min(rows, ci+2); i++)
					for (var j = max(0, cj-1); j < min(cols, cj+2); j++)
						Check(document.mineField.elements[i*cols+j])
			}
			left--
			if ( left == 0 ) {
				stat.value = 'Gewonnen! :-)'
				ShowMines()
{/literal}
				document.location.href = "{$link_won}";
{literal}
			}
			else
				stat.value = left + ' Felder übrig'
		}
	}
	button.blur()
}

function Count(ci, cj) {
	var k = 0
	with (Math) {
	for (var i = max(0, ci-1); i < min(rows, ci+2); i++)
		for (var j = max(0, cj-1); j < min(cols, cj+2); j++)
			if ( field[i][j] ) k++
	}
	return k
}

function ShowMines() {
	for (var i = 0; i < rows; i++)
		for (var j = 0; j < cols; j++)
			if ( field[i][j] )
				document.mineField.elements[i*cols+j].value = 'X'
			else if ( document.mineField.elements[i*cols+j].value == ' ' )
				document.mineField.elements[i*cols+j].value = ''
}


{/literal}
rows = {$rows};
cols = {$columns};
mines = {$mines};
{literal}

left = rows*cols-mines;
if (mines < rows*cols) { var field = new MineField(); }
stat = document.init_form.status;

{/literal}
</script>


          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - GAMES MINESWEEPER -->