<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td class="tbl_0" width="50%"><div align="center"><a href="index.php?mod=games&action=minesweeper&headermenuitem=1" onclick="loadPage(this.href); return false"><img src="design/images/minesweeper.png" border="0"></a></div></td>
          <td class="tbl_0" width="50%"><div align="center"> [<a href="index.php?mod=games&action=minesweeper&headermenuitem=2" onclick="loadPage(this.href); return false">Highscore</a>]</div></td>
        </tr>
        <tr> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td class="tbl_0"><div align="center"><a href="index.php?mod=games&action=number&headermenuitem=1" onclick="loadPage(this.href); return false"><img src="design/images/zahlenraten.png" border="0"></a></div></td>
          <td class="tbl_0"><div align="center"> [<a href="index.php?mod=games&action=number&headermenuitem=2" onclick="loadPage(this.href); return false">Highscore</a>]
            </div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr> 
          <td class="tbl_0"><div align="center"><a href="index.php?mod=games&action=hangman" onclick="loadPage(this.href); return false"><img src="design/images/hangman.png" border="0"></a></div></td>
          <td class="tbl_0"><div align="center"> [<a href="index.php?mod=games&action=hangman&headermenuitem=2" onclick="loadPage(this.href); return false">Highscore</a>]
            </div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
</table>