/*
Lansuite common Style-Definitions
These styles are loaded, before the custom designs definitions

For detailed Information see:
http://lansuite-docu.orgapage.de/index.php?title=Stylesheets

Format:
name {
  Positioning, Width, Height
  Margin, Border, Padding
  Float, Clear, Allign, White-space
  Colors, Background, Backgroundimages
  Font-size, -weight and -family
}
*/

/* Relativer Tooltip */
a span.infobox {
  visibility:hidden; display:none;
  position:absolute;
  margin-top:1.5em; padding:0.5em;
  text-decoration:none;
  z-index:1;
}

a:hover span.infobox {
  visibility:visible; display:block;
  left:1em;
  border:1px solid #c30;
  color:black; background:white;
  text-decoration:none;
  z-index:1;
}

#infobox span.infobox {
  visibility:hidden; display:none;
  position:absolute;
  margin-top:1.5em; padding:0.5em;
  text-decoration:none;
  z-index:1;
}

#infobox:hover span.infobox {
  visibility:visible; display:block;
  left:1em;
  border:1px solid #c30;
  color:black; background:white;
  text-decoration:none;
  z-index:1;
}
