<ul class="Line">
  <li class="LineLeftBoard">
    {$templ['board']['thread']['case']['info']['post']['date']}
    <br /><b>{$templ['board']['thread']['case']['info']['post']['poster']['username']}</b>
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['type']}
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['avatar']}
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['posts']}
    <br />{$templ['board']['thread']['case']['info']['post']['poster']['rank']}
  </li>
  <li class="LineRight" id="{$templ['AddDoubleRow']['id']}">
    {$templ['board']['thread']['case']['info']['post']['edit']}
    {$templ['board']['thread']['case']['info']['post']['text']}
    {$templ['board']['thread']['case']['info']['post']['poster']['signature']}
  </li>
</ul>
