<div id="GoogleMaps" style="width:100%; height:600px"></div>
<div id="mapcode">
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={$apikey}" type="text/javascript"></script>
<script type="text/javascript">
{literal}
function ShowMap() {
  if (GBrowserIsCompatible()) {

    var map = new GMap2(document.getElementById("GoogleMaps"));
    map.addControl(new GSmallMapControl());
    map.addControl(new GMapTypeControl());
    map.enableScrollWheelZoom();
    map.setCenter(new GLatLng(51.17689812200107, 9.84375), 6);

    var geocoder = new GClientGeocoder();

    function showAddress(country, city, plz, street, hnr, text) {
      if (country == '') country = 'Germany';
      if (city == '' && plz == '') return;

      geocoder.getLatLng(street+' '+hnr+', '+plz+' '+city+', '+country, function(point) {
        if (point) {
          var marker = new GMarker(point, 'text');
          map.addOverlay(marker);
          GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(text); });
        } else geocoder.getLatLng(street+', '+plz+' '+city+', '+country, function(point2) {
          if (point2) {
            var marker = new GMarker(point2, 'text');
            map.addOverlay(marker);
            GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(text); });
          } else geocoder.getLatLng(street+', '+plz+', '+country, function(point3) {
            if (point3) {
              var marker = new GMarker(point3, 'text');
              map.addOverlay(marker);
              GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(text); });
            } else geocoder.getLatLng(street+', '+city+', '+country, function(point4) {
              if (point4) {
                var marker = new GMarker(point4, 'text');
                map.addOverlay(marker);
                GEvent.addListener(marker, "click", function() { marker.openInfoWindowHtml(text); });
              }
            });
          });
        });
      });
    }

{/literal}
  {$adresses}
{literal}
  }
}
{/literal}
</script>
</div>
