<tr>
	<td width="22%" class="row_value">
		<a href="{$templ['guestlist']['search']['row']['user']['control']['target_link']}">{$templ['guestlist']['search']['row']['user']['info']['username']}</a>
	</td>
	<td width="20%" class="row_value">
		<a href="{$templ['guestlist']['search']['row']['user']['control']['target_link']}">{$templ['guestlist']['search']['row']['user']['info']['name']}</a>
	</td>
	<td width="21%" class="row_value">
		<a href="{$templ['guestlist']['search']['row']['user']['control']['target_link']}">{$templ['guestlist']['search']['row']['user']['info']['firstname']}</a>
	</td>
	<td width="16%" class="row_value">
		<a href="{$templ['guestlist']['search']['row']['user']['control']['target_link']}">{$templ['guestlist']['search']['row']['user']['info']['clan']}</a>
	</td>
	<td width="21%" class="row_value">
		{$templ['guestlist']['search']['row']['user']['info']['seat']}
	</td>
</tr>
