 
<!-- TEMPLATE - STANDARD - BOARD OVERVIEW CASE -->
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td><p><b>{$templ['board']['overview']['case']['info']['caption_text']} </b></p>
            <p>&nbsp;</p></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" height="1"></td>
  </tr>
  <tr> 
    <td class="tbl_6" height="30" colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
        <tr> 
          <td width="6%"><br/>
          </td>
          <td width="40%">{$templ['board']['overview']['case']['info']['forum_text']}</td>
          <td width="10%"> 
            <div align="center">{$templ['board']['overview']['case']['info']['topic_text']}</div>
          </td>
          <td width="10%"> 
            <div align="center">{$templ['board']['overview']['case']['info']['posts_text']} </div>
          </td>
          <td width="34%">{$templ['board']['overview']['case']['info']['last_post_text']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" height="1"></td>
  </tr>
  {$templ['board']['overview']['case']['control']['rows']}  
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td width="20%"> 
            <div align="right">{$templ['board']['overview']['case']['info']['last_post']}<br/>
              {$templ['board']['overview']['case']['info']['posts']}<br/>
              {$templ['board']['overview']['case']['info']['topics']}<br/>
              <br/>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2"><br/>
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - BOARD OVERVIEW CASE -->
