{$text} <br>
<br>
<b>{$desc_DBMS}: </b>	{$DBMS}<br>
<b>{$desc_DB_Host}: </b>	{$DB_Host}<br>
<b>{$desc_DB_Name}: </b>	{$DB_Name}<br>
<b>{$desc_DB_Username}: </b>	{$DB_Username}<br>
<b>{$desc_DB_Password}: </b>	{$DB_Password}<br>
<b>{$desc_Table_Prefix}: </b>	{$Table_Prefix}<br>
<br>
<b>{$desc_Admin_email}: </b>	{$overwrite_Admin}<br>
<b>{$desc_Admin_Username}: </b>	{$overwrite_Admin}<br>
<b>{$desc_Admin_Password}: </b>	{$overwrite_Admin}<br>
<b>{$desc_Admin_Password_confirm}: </b>	{$overwrite_Admin}<br>
<br>
{$completeFormCorrectly}<br>
<br>
<a href="{$url}" target="_blank">{$installphpBB}</a> <br>
<br>
{$integration}<br>