{$templ['index']['board2']['install']['text']} <br>
<br>
<b>{$templ['index']['board2']['install']['_Default_lang']}: </b>	{$templ['index']['board2']['install']['Default_lang']}<br>
<b>{$templ['index']['board2']['install']['_dbms']}: </b>	{$templ['index']['board2']['install']['dbms']}<br>
<b>{$templ['index']['board2']['install']['_Install_Method']}: </b>	{$templ['index']['board2']['install']['Install_Method']}<br>
<br>
<b>{$templ['index']['board2']['install']['_DB_Host']}: </b>	{$templ['index']['board2']['install']['DB_Host']}<br>
<b>{$templ['index']['board2']['install']['_DB_Name']}: </b>	{$templ['index']['board2']['install']['DB_Name']}<br>
<b>{$templ['index']['board2']['install']['_DB_Username']}: </b>	{$templ['index']['board2']['install']['DB_Username']}<br>
<b>{$templ['index']['board2']['install']['_DB_Password']}: </b>	{$templ['index']['board2']['install']['DB_Password']}<br>
<b>{$templ['index']['board2']['install']['_Table_Prefix']}: </b>	{$templ['index']['board2']['install']['Table_Prefix']}<br>
<br>
<b>{$templ['index']['board2']['install']['_Admin_email']}: </b>	{$templ['index']['board2']['install']['overwrite_Admin']}<br>
<b>{$templ['index']['board2']['install']['_Admin_Username']}: </b>	{$templ['index']['board2']['install']['overwrite_Admin']}<br>
<b>{$templ['index']['board2']['install']['_Admin_Password']}: </b>	{$templ['index']['board2']['install']['overwrite_Admin']}<br>
<b>{$templ['index']['board2']['install']['_Admin_Password_confirm']}: </b>	{$templ['index']['board2']['install']['overwrite_Admin']}<br>
<br>
{$templ['index']['board2']['install']['completeFormCorrectly']}<br>
<br>
<a href="{$templ['index']['board2']['install']['url']}" target="_blank">{$templ['index']['board2']['install']['installphpBB']}</a> <br>
<br>
{$templ['index']['board2']['install']['integration']}<br>