{literal}
<style type="text/css">
.liste_head {
	border-width:0px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:2px;
	border-style:solid;
	border-color:#9d9d9d;
	padding:4px;
	font-size:10pt;
	font-weight:bold;
	font-family: Verdana,Arial,Avantgarde;	
	text-align:justify
	}
.liste_body	{
	border-width:0px;
	border-top-width:0px;
	border-left-width:1px;
	border-right-width:0px;
	border-bottom-width:2px;
	border-style:solid;
	border-color:#9d9d9d;
	padding:4px;
	font-size:8pt;
	font-family: Verdana,Arial,Avantgarde;	
	text-align:justify
	}
</style>
{/literal}