<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>search_box</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll die Such-Box angezeigt werden?</description>
    	</item>
    </items>
  </group>
</config>