
<!-- TEMPLATE - STANDARD - CATERING FORM -->
<script language="JavaScript">
<!--
function code(sign) 
{
	document.form.catering_text.value = document.form.catering_text.value + sign;
	checklength();
}
//-->
<!--
function checklength()
{
var maxchars=5000;
	with (document.form)
	{
		chars=catering_text.value
		if (chars.length > maxchars)
      		{
      			catering_text.value=chars.substr(0,maxchars);
      			catering_text.blur();
      		}
    		chr.value=maxchars-catering_text.value.length;
	}
}

function switchbox(a)
{
	if(a.checked==true) {
		document.all['sizebox_s'].disabled=false;
		document.all['sizebox_m'].disabled=false;
		document.all['sizebox_l'].disabled=false;
		document.all['sizebox_p'].disabled=false;

		document.all['catering_ek_s'].disabled=false;
		document.all['catering_price_s'].disabled=false;
		document.all['catering_ek_l'].disabled=false;
		document.all['catering_price_l'].disabled=false;
		document.all['catering_ek_p'].disabled=false;
		document.all['catering_price_p'].disabled=false;
	}
	else {
		document.all['sizebox_s'].disabled=true;
		document.all['sizebox_m'].checked=true;
		document.all['sizebox_m'].disabled=true;
		document.all['sizebox_l'].disabled=true;
		document.all['sizebox_p'].disabled=true;

		document.all['catering_ek_s'].disabled=true;
		document.all['catering_price_s'].disabled=true;
		document.all['catering_ek_l'].disabled=true;
		document.all['catering_price_l'].disabled=true;
		document.all['catering_ek_p'].disabled=true;
		document.all['catering_price_p'].disabled=true;
	}
}
//-->
</script>
<form name="form" method="post" enctype="multipart/form-data" action="{$templ['catering']['form']['control']['form_action']}">
  <input type="hidden" name="catering_id" value="{$_GET['foodid']}">
  {$templ['catering']['form']['control']['catering_pid']}
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tbl_5"> 
      <td colspan="2"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>{$templ['catering']['form']['info']['page_title']}</b><br>
              <br>
              {$templ['catering']['form']['info']['page_description']}
			  <br>
              <br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Titel</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['title']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="text" name="catering_title" size="50" maxlength="200" class="form" value="{$_POST['catering_title']}">
              {$templ['catering']['form']['error']['title']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Bilddatei</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['picfile']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="file" name="catering_picfile" size="50" maxlength="200" class="form" {$templ['catering']['form']['control']['catering_picfile']}>
              <input type="hidden" name="catering_oldpicfile" value="{$_POST['catering_oldpicfile']}" {$templ['catering']['form']['control']['catering_picfile']}>
              {$templ['catering']['form']['error']['picfile']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Text</td>
          </tr>
          <tr> 
            <td class="tbl_small">HTML ist <b>aus<br>
              </b>LS-Code ist<b> an</b></td>
          </tr>
          <tr> 
            <td class="tbl_small"> verbl. Zeichen: 
              <input type="text" name="chr" class="form" maxlength="4" size="4" onFocus="this.blur()" value="0">
            </td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['text']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1{$templ['catering']['form']['error']['text']['bgrd']}">
          <tr> 
            <td> 
              <textarea name="catering_text" cols="50" class="form" rows="7" wrap="PHYSICAL" onKeyUp="checklength()" {$templ['catering']['form']['control']['catering_text']}>{$_POST['catering_text']}</textarea>
              <br>
              {$templ['catering']['form']['error']['text']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- Wizzard -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Wizzard-Funktion</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['ek']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td> 
		<input type="checkbox" name="size" value="wizzard" onclick="switchbox(this)"> <br/>
            </td>
          </tr>
        </table>
      </td>
    </tr>    
    <!-- Wizzard Ende -->    

    <!-- Groesse -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Verfügbare Größen</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['ek']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr> 
            <td width="25%"> 
		<input type="checkbox" id="sizebox_s" name="size[]" value="s" disabled> klein<br/>
            </td>
            <td width="25%">
		<input type="checkbox" id="sizebox_m" name="size[]" value="m" checked disabled> mittel/normal<br/>
            </td>
            <td width="25%"> 
		<input type="checkbox" id="sizebox_l" name="size[]" value="l" disabled> groß<br/>
            </td>
            <td width="25%"> 
		<input type="checkbox" id="sizebox_p" name="size[]" value="p" disabled> Pfannenpizza<br/>
            </td>
          </tr>
        </table>
      </td>
    </tr>    
    <!-- Groesse Ende -->    

    <!-- EK -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Einkaufspreis</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['ek']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td width="25%"> 
              <input type="text" name="catering_ek_s" size="8" maxlength="12" class="form" value="{$_POST['catering_ek_s']}" disabled>
              {$templ['catering']['form']['error']['ek_s']['msg']}</td>
	<td width="25%">
              <input type="text" name="catering_ek_m" size="8" maxlength="12" class="form" value="{$_POST['catering_ek_m']}">
              {$templ['catering']['form']['error']['ek_m']['msg']}</td>
            <td width="25%"> 
              <input type="text" name="catering_ek_l" size="8" maxlength="12" class="form" value="{$_POST['catering_ek_l']}" disabled>
              {$templ['catering']['form']['error']['ek_l']['msg']}</td>
            <td width="25%"> 
              <input type="text" name="catering_ek_p" size="8" maxlength="12" class="form" value="{$_POST['catering_ek_p']}" disabled>
              {$templ['catering']['form']['error']['ek_p']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>    
    <!-- EK Ende -->    

    <!-- EK 
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Einkaufspreis</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['ek']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="text" name="catering_ek" size="8" maxlength="12" class="form" value="{$_POST['catering_ek']}">
              {$templ['catering']['form']['error']['ek']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>    
     EK Ende -->    
    

    <!-- Preis -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Preis</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['price']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td width="25%"> 
              <input type="text" name="catering_price_s" size="8" maxlength="12" class="form" value="{$_POST['catering_price_s']}" disabled>
              {$templ['catering']['form']['error']['price_s']['msg']}</td>
	<td width="25%">
              <input type="text" name="catering_price_m" size="8" maxlength="12" class="form" value="{$_POST['catering_price_m']}">
              {$templ['catering']['form']['error']['price_m']['msg']}</td>
            <td width="25%"> 
              <input type="text" name="catering_price_l" size="8" maxlength="12" class="form" value="{$_POST['catering_price_l']}" disabled>
              {$templ['catering']['form']['error']['price_l']['msg']}</td>
            <td width="25%"> 
              <input type="text" name="catering_price_p" size="8" maxlength="12" class="form" value="{$_POST['catering_price_p']}" disabled>
              {$templ['catering']['form']['error']['price_p']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>    
    <!-- Preis Ende -->    


    <!-- Preis 
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Preis</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['price']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="text" name="catering_price" size="8" maxlength="12" class="form" value="{$_POST['catering_price']}">
              {$templ['catering']['form']['error']['price']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>    
     Preis Ende -->

    
    
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Gruppe</td>
          </tr>
          <tr>
            <td>
               oder neue Gruppe:&nbsp;
            </td>
          </tR>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['gruppe']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="hidden" name="catering_oldgrpID" value="{$_POST['catering_oldgrpID']}">
              <select name="catering_gruppe" class="form">
              {$_POST['catering_gruppe']}
              </select>
            </td>
         </tr>
         <tr>
           <td>
              <input type="text" class="form" name="catering_new_group" value="{$_POST['catering_new_group']}" size="20" maxlength="100">
              {$templ['catering']['form']['error']['gruppe']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>     
     
    <!-- Lieferant -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Lieferant</td>
          </tr>
          <tr>
            <td>
               oder neuer Lieferant:&nbsp;
            </td>
          </tR>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['supplier']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="hidden" name="catering_oldsupplID" value="{$_POST['catering_oldsupplID']}">
              <select name="catering_supplier" class="form">
              {$_POST['catering_supplier']}
              </select>
            </td>
         </tr>
         <tr>
           <td>
              <input type="text" class="form" name="catering_new_supplier" value="{$_POST['catering_new_supplier']}" size="20" maxlength="255">
              {$templ['catering']['form']['error']['supplier']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>         
    <!-- Lieferant Ende -->

    <!-- Lieferantenhinweis -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Hinweis f&uuml;r den Lieferanten<br>(bspw. Nummer auf dessen Speisekarte)</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['supplhint']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="text" name="catering_supplhint" size="40" maxlength="100" class="form" value="{$_POST['catering_supplhint']}">
              {$templ['catering']['form']['error']['supplhint']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>        
    <!-- Lieferantenhinweis Ende -->    
    
    <!-- Prio -->
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td>Priorit&auml;t</td>
          </tr>
        </table>
      </td>
      <td class="tbl_1{$templ['catering']['form']['error']['prio']['bgrd']}" width="70%" height="30"> 
        <table width="100%" cellspacing="0" cellpadding="3">
          <tr> 
            <td> 
              <input type="text" name="catering_prio" size="8" maxlength="12" class="form" value="{$_POST['catering_prio']}">
              {$templ['catering']['form']['error']['prio']['msg']}</td>
          </tr>
        </table>
      </td>
    </tr>        
    <!-- Prio Ende -->
    
    
    <tr> 
      <td class="tbl_6"><img src="/" width="1" height="1"></td>
      <td class="tbl_4"><img src="/" width="1" height="1"></td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr> 
      <td class="tbl_6" height="30" width="30%">&nbsp;</td>
      <td class="tbl_6" height="30" width="70%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> 
              <input type="image" border="0" name="imageField" src="design/{default_design}/images/buttons_add.gif" width="61" height="17">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2"><img src="/" width="1" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> 
        <p><br>
        </p>
      </td>
    </tr>
  </table>
</form>
<!-- TEMPLATE - STANDARD - CATERING FORM -->
