
<!-- TEMPLATE - STANDARD - CATERING OVERVIEW ROW CAT -->
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
  <tr> 
    <td width="15"><a href="{$templ['catering']['overview']['row']['cat']['link']}" class="menu"><img src="design/{default_design}/images/arrows_add.gif" border="0"></a></td>
    <td><a href="{$templ['catering']['overview']['row']['cat']['link']}" class="menu">{$templ['catering']['overview']['row']['cat']['titel']}</a></td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - CATERING OVERVIEW ROW CAT -->