<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>10</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>FAQ</caption>
		<hint>FAQ ist englisch und bedeutet Frequently-Asked-Questions was soviel hei&szlig;t wie häufig gestellte Fragen</hint>
		<link>?mod=faq</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>add_item</action>
		<file>add_item</file>
		<caption>Frage hinzufügen</caption>
		<hint>Eine neue Frage mit Lösung in die FAQ einstellen</hint>
		<link>?mod=faq&amp;object=item&action=add_item</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>add_cat</action>
		<file>add_cat</file>
		<caption>Kategorie hinzufügen</caption>
		<hint>Eine neue Kategorie definieren, um die Fragen ordnen zu können</hint>
		<link>?mod=faq&amp;object=cat&amp;action=add_cat</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>change_item</action>
		<file>change_item</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>delete_cat</action>
		<file>delete_cat</file>
		<requirement>3</requirement>
	</entry>
	<entry>
		<action>delete_item</action>
		<file>delete_item</file>
		<requirement>3</requirement>
	</entry>
	<entry>
		<action>change_cat</action>
		<file>change_cat</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>comment</action>
		<file>show_item</file>
		<requirement>0</requirement>
	</entry>
</menu>
