<?xml version="1.0" encoding="UTF-8"?>
<lansuite-module>
    <name>hardware</name>         <!-- The modules internal name. This should be the same as the name of its folder! -->
    <caption>Userhardware</caption>      <!-- The modulname displayed to the user -->
    <description>Zusaetzliche Hardwaredaten fuer User</description>       <!-- A short description of the module -->
    <active>0</active>              <!-- Is the module activated by default? 0/1 -->
    <changeable>1</changeable>      <!-- May the user de-/activate the module? 0/1 -->
    <author>bastardop, knox, bytekilla</author>              <!-- The author of this module -->
    <email>bytekilla@synergy-lan.de</email>                    <!-- The E-Mail-Adress of the modules author -->
    <version>0.1.0</version>          <!-- The version of this module -->
    <state>stable</state>           <!-- The state of this module (f.e.: stable, in development, beta, ...) -->
</lansuite-module>