<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Zieladresse</name>
    </head>
    <items>
    	<item>
    		<name>map_street</name>
    		<type>string</type>
    		<default></default>
    		<description>Straße</description>
    	</item>
    	<item>
    		<name>map_hnr</name>
    		<type>string</type>
    		<default></default>
    		<description>Hausnummer</description>
    	</item>
    	<item>
    		<name>map_plz</name>
    		<type>string</type>
    		<default></default>
    		<description>PLZ</description>
    	</item>
    	<item>
    		<name>map_city</name>
    		<type>string</type>
    		<default></default>
    		<description>Ort</description>
    	</item>
    </items>
  </group>
</config>