<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>signon</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Feld deaktiviert</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Optionale Angabe</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Pflichtfeld</description>
  		</entry>
    </entries>
  </typedefinition>
  <typedefinition>
    <head>
      <name>signon_on_off</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Feld deaktiviert</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Pflichtfeld</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Felder bei Anmeldung</name>
    </head>
    <items>
	    	<item>
    		<name>signon_username_unique</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Soll der Username einmalig sein?</description>
    	</item>
    	<item>
    		<name>signon_show_firstname</name>
    		<type>signon</type>
    		<default>2</default>
    		<description>Vorname</description>
    	</item>
    	<item>
    		<name>signon_show_lastname</name>
    		<type>signon</type>
    		<default>2</default>
    		<description>Nachname</description>
    	</item>
    	<item>
    		<name>signon_show_street</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Straße und Hausnummer</description>
    	</item>
    	<item>
    		<name>signon_show_city</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>PLZ und Ort</description>
    	</item>
    	<item>
    		<name>signon_show_perso</name>
    		<type>signon</type>
    		<default>0</default>
    		<description>Personalausweis</description>
    	</item>
    	<item>
    		<name>signon_show_birthday</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Geburtstag</description>
    	</item>
    	<item>
    		<name>signon_show_gender</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Geschlecht</description>
    	</item>
    	<item>
    		<name>signon_show_agb</name>
    		<type>signon_on_off</type>
    		<default>2</default>
    		<description>AGB bestätigen</description>
    	</item>
    	<item>
    		<name>signon_show_voll</name>
    		<type>signon_on_off</type>
    		<default>0</default>
    		<description>U18-Vollmacht</description>
    	</item>
    	<item>
    		<name>signon_show_clan</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Clan</description>
    	</item>
    	<item>
    		<name>signon_show_clanurl</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Clanurl</description>
    	</item>
    	<item>
    		<name>signon_show_wwcl_id</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>WWCL-ID</description>
    	</item>
    	<item>
    		<name>signon_show_ngl_id</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>NGL-ID</description>
    	</item>
    	<item>
    		<name>signon_show_lgz_id</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>LGZ-ID</description>
    	</item>
    	<item>
    		<name>signon_show_newsletter</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Newsletter abonnieren</description>
    	</item>
    	<item>
    		<name>signon_show_telefon</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Telefon</description>
    	</item>
    	<item>
    		<name>signon_show_handy</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Handy</description>
    	</item>
    	<item>
    		<name>signon_show_icq</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>ICQ</description>
    	</item>
    	<item>
    		<name>signon_show_msn</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>MSN</description>
    	</item>
    	<item>
    		<name>signon_show_xmpp</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>XMPP</description>
    	</item>
    	<item>
    		<name>signon_show_skype</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Skype</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>AGB, U18-Vollmacht, Bezahlung</name>
    </head>
    <items>
    	<item>
    		<name>signon_alwaysagb</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll die AGB auch angezeigt werden, wenn man nur einen Account erstellt?</description>
    	</item>
    	<item>
    		<name>signon_agb_targetblank</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Soll der Link zu den AGB in einem neuen Fenster angezeigt werden?</description>
    	</item>
    	<item>
    		<name>signon_agblink</name>
    		<type>string</type>
    		<default>/index.php?mod=info2&amp;action=show_info2&amp;submod=Regeln%20(AGB)</default>
    		<description>Link zu den AGB</description>
    	</item>
    	<item>
    		<name>signon_volllink</name>
    		<type>string</type>
    		<default></default>
    		<description>Link zu der U18-Vollmacht</description>
    	</item>
        <item>
    		<name>signon_paylink</name>
    		<type>string</type>
    		<default></default>
    		<description>Link zu den Bezahlinfos</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Passwort-Generierung und -Mitteilung</name>
    </head>
    <items>
    	<item>
    		<name>signon_password_mail</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Dem neuen Teilnehmer sein Passwort per eMail zusenden?</description>
    	</item>
    	<item>
    		<name>signon_password_view</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Dem neuen Teilnehmer sein Passwort anzeigen?</description>
    	</item>
    	<item>
    		<name>signon_autopw</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll das Passwort automatisch generiert werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Sicherheit</name>
    </head>
    <items>
    	<item>
    		<name>signon_captcha</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Captcha-Code verlangen (Hilft gegen Bot-Accounts)</description>
    	</item>
    	<item>
    		<name>signon_def_locked</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Sind neue Accounts automatisch gesperrt?</description>
    	</item>
    </items>
  </group>
</config>
