<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>signon</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Feld deaktiviert</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Optionale Angabe</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Pflichtfeld</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Felder bei Anmeldung</name>
    </head>
    <items>
    	<item>
    		<name>signon_show_firstname</name>
    		<type>signon</type>
    		<default>2</default>
    		<description>Vorname</description>
    	</item>
    	<item>
    		<name>signon_show_lastname</name>
    		<type>signon</type>
    		<default>2</default>
    		<description>Nachname</description>
    	</item>
    	<item>
    		<name>signon_show_street</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Straße</description>
    	</item>
    	<item>
    		<name>signon_show_city</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Stadt</description>
    	</item>
    	<item>
    		<name>signon_show_perso</name>
    		<type>signon</type>
    		<default>0</default>
    		<description>Personalausweis</description>
    	</item>
    	<item>
    		<name>signon_show_birthday</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Geburtstag</description>
    	</item>
    	<item>
    		<name>signon_show_gender</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Geschlecht</description>
    	</item>
    	<item>
    		<name>signon_show_agb</name>
    		<type>signon</type>
    		<default>2</default>
    		<description>AGB Zustimmung</description>
    	</item>
    	<item>
    		<name>signon_show_voll</name>
    		<type>signon</type>
    		<default>0</default>
    		<description>U18 Zustimmung</description>
    	</item>
    	<item>
    		<name>signon_show_clan</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Clan</description>
    	</item>
    	<item>
    		<name>signon_show_clanurl</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Clanurl</description>
    	</item>
    	<item>
    		<name>signon_show_wwcl_id</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>WWCL-ID</description>
    	</item>
    	<item>
    		<name>signon_show_ngl_id</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>NGL-ID</description>
    	</item>
    	<item>
    		<name>signon_show_newsletter</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Newsletter Anforderung</description>
    	</item>
    	<item>
    		<name>signon_show_telefon</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Telefon</description>
    	</item>
    	<item>
    		<name>signon_show_handy</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Handy</description>
    	</item>
    	<item>
    		<name>signon_show_icq</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>ICQ</description>
    	</item>
    	<item>
    		<name>signon_show_msn</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>MSN</description>
    	</item>
    	<item>
    		<name>signon_show_skype</name>
    		<type>signon</type>
    		<default>1</default>
    		<description>Skype</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Anmelde-Mail</name>
    </head>
    <items>
    	<item>
    		<name>signon_signonemail_subject</name>
    		<type>string</type>
    		<default>Informationsmail zur Anmeldung bei der LANparty</default>
    		<description>Betreff der eMail, die dem Teilnehmer nach seiner Registrierung gesendet wird</description>
    	</item>
    	<item>
    		<name>signon_signonemail_text</name>
    		<type>text</type>
    		<default>Hallo %USERNAME%!

Sie sind nun registriert und für die kommende LanParty "%PARTYNAME%" vorgemerkt. Ihre Anmeldung ist jedoch erst vollständig, wenn Sie die Teilnahmegebühr überwiesen haben.

Bitte halten Sie diese E-Mail gespeichert, falls Sie Ihr Passwort vergessen sollten.
Ihre Login-Daten sind die folgenden:

--Userdata------------------
Username: %USERNAME%
E-Mail: %EMAIL%
Passwort: %PASSWORD%
Clan: %CLAN%
----------------------------


--LANdata-------------------
Event: %PARTYNAME%
Webseite: %PARTYURL%
Teilnehmer: %MAXGUESTS%
---------------------------


Ihre Orgas</default>
    		<description>Text der eMail, die dem Teilnehmer nach seiner Registrierung gesendet wird, wenn er sich auch zur aktuellen Party anmeldet</description>
    	</item>
    	<item>
    		<name>signon_signonemail_text_register</name>
    		<type>text</type>
    		<default>Hallo %USERNAME%!

Sie haben sich erfolgreich auf %PARTYURL% angemeldet.

Hier nochmal Ihre Daten, die Sie angegeben haben:

--Userdata------------------
Username: %USERNAME%
E-Mail: %EMAIL%
Passwort: %PASSWORD%
Clan: %CLAN%
----------------------------

Ihre Orgas</default>
    		<description>Text der eMail, die dem Teilnehmer nach seiner Registrierung gesendet wird, wenn er nur einen Account erstellt</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>AGB und U18-Vollmach</name>
    </head>
    <items>
    	<item>
    		<name>signon_alwaysagb</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll die AGB auch angezeigt werden, wenn man nur einen Account erstellt?</description>
    	</item>
    	<item>
    		<name>signon_agb_targetblank</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Soll der Link zu den AGB in einem neuen Fenster angezeigt werden?</description>
    	</item>
    	<item>
    		<name>signon_agblink</name>
    		<type>string</type>
    		<default>/index.php?mod=info2&amp;action=show_info2&amp;submod=Regeln%20(AGB)</default>
    		<description>Link zu den AGB</description>
    	</item>
    	<item>
    		<name>signon_volllink</name>
    		<type>string</type>
    		<default></default>
    		<description>Link zu der U18-Vollmacht</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Auto-Checkin und Auto-Paid</name>
    </head>
    <items>
    	<item>
    		<name>signon_autocheckin</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Sollen neu angemeldete User automatisch eingecheckt werden?</description>
    	</item>
    	<item>
    		<name>signon_autopaid</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Sollen neu angemeldete User automatisch auf bezahlt gesetzt werden?</description>
    	</item>
    	<item>
    		<name>signon_locked</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Müssen neu erstellte Accounts erst freigeschaltet werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Passwort-Generierung und -Mitteilung</name>
    </head>
    <items>
    	<item>
    		<name>signon_password_mail</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Dem neuen Teilnehmer sein Passwort per eMail zusenden?</description>
    	</item>
    	<item>
    		<name>signon_password_view</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Dem neuen Teilnehmer sein Passwort anzeigen?</description>
    	</item>
    	<item>
    		<name>signon_autopw</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll das Passwort automatisch generiert werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Info-Boxen</name>
    </head>
    <items>
    	<item>
    		<name>signon_last_user_box</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll eine Box mit den zuletzt angemeldeten Benutzern angezeigt werden?</description>
    	</item>
    </items>
  </group>
</config>
