<form method="POST" action="{$templ['cashmgr']['payment']['form']['action']}">
<table width="100%" cellspacing="0" cellpadding="0">
<tr class="tbl_5"> 
<td colspan="2"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
<tr> 
<td><b>Zahlung buchen:</b><br/><br/>Hier kannst du eine Buchung eingeben. Es kann auch ein negativ Wert eingegeben werden.<br/> </td>
</tr>
</table></td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
<tr class="tbl_6"> 
<td colspan="2">
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
<tr> 
<td><b>Preis:</b></td>
<td><b>Verwendungszweck:</b></td>
</tr>
</table>
</td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
</tr>
<tr class="tbl_1"> 
<td colspan="2">
<table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
<tr>
<td><input type="text" name="payment" size="6" class="form"/> €</td>
<td><input type="text" name="comment" size="30" class="form" maxlength="28"/></td>
</tr>
</table>
</td>
</tr>
<tr class="tbl_4"> 
<td colspan="2" class="tbl_4"><img src="/" width="1" height="1"/></td>
</tr>
<tr class="tbl_5"> 
<td colspan="2">

<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
<tr> 
<td>
<input type="image" border="0" name="imageField" src="design/{default_design}/images/buttons_add.gif" width="61" height="17"/>
</td>
</tr>
</table>

</td>
</tr>
<tr class="tbl_5"> 
<td colspan="2">
&nbsp;
</td>
</tr>
</table>

<input type="hidden" name="mod" value=""/>
</form>
