<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>26</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Bug melden</caption>
		<hint>Hier kannst du Fehler auf dieser Webseite melden</hint>
		<link>?mod=bugtracker</link>
		<requirement>1</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<level>0</level>
	</entry>
	<entry>
		<action>add</action>
		<file>add</file>
		<caption>Hinzufügen</caption>
		<hint></hint>
		<link>?mod=bugtracker&amp;action=add</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>import</action>
		<file>import</file>
		<caption>Importieren</caption>
		<hint></hint>
		<link>?mod=bugtracker&amp;action=import</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<action>export</action>
		<file>export</file>
		<caption>Exportieren</caption>
		<hint></hint>
		<link>?mod=bugtracker&amp;action=export</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
</menu>
