
<!-- TEMPLATE - STANDARD - FOOD  JAVASCRIPT -->

<script type="text/javascript" language="JavaScript">

function change_type(id){
	switch(id){
		case "1": 
			document.getElementById("type_1").style.display = "none";
		break;
		case "2": 
			document.getElementById("type_1").style.display = "";
		break;
		case "3": 
			document.getElementById("type_1").style.display = "";
		break;
		
	}
	
}

function change_party(id){
		if(id){
			document.getElementById("party_1").style.display = "";
		}else{
			document.getElementById("party_1").style.display = "none";
		}

}

function change_group(id){

{$templ['ls']['row']['hidden_row']['options']}
	
	for(i=0;i < document.signon.price_id.length;i++){
		document.signon.price_id.options[i] = null;
	}
	
	if(!(typeof option[id] == 'object' && option[id].constructor == Array)) id = 0;
	
	for(i=0;i < option[id].length;i++){
		document.signon.price_id.options[i] = new Option(option[id][i], price[id][i], false, true);
	}
	
	
}
	

</script>


<!-- TEMPLATE - STANDARD - FOOD  JAVASCRIPT -->