<script language="JavaScript">
function CalculateAge(year, month, day)
{
  // Wenn eine Angabe fehlt wird "" zurückgegeben
  if (year == 0 || month == 0 || day == 0)
    return "";
              
  var birthday = new Date(year, month - 1, day);
  var today = new Date();
              
  var age = today.getFullYear() - birthday.getFullYear();
  // Wenn der Monat noch nicht erreicht ist => 1 Jahr abziehen
  if (today.getMonth() < birthday.getMonth())
    age = age - 1;
  else
  {
    // Richtiger Monat aber der Tag ist noch nicht erreicht 
    // => 1 Jahr abziehen
    if (today.getMonth() == birthday.getMonth() &&
    today.getDate() < birthday.getDate())
      age = age - 1;
  }
  // Alter zurückgeben
  return age;
}

function WriteAge() {
    dd = document.getElementById('birthday_value_day').value;
    mm = document.getElementById('birthday_value_month').value;
    yy = document.getElementById('birthday_value_year').value;

	document.getElementById('u18check').value=CalculateAge(yy, mm, dd);
}
</script>
<input id="u18check" type="text" class="form_optional" size="2" value="0" readonly>
<script language="JavaScript">
WriteAge();
</script>