<!-- TEMPLATE - STANDARD - USRMGR EXTEND SEARCH-->
<form name="form" method="post" action="{$templ['usrmgr']['form']['action']}">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr class="tbl_5"> 
      <td colspan="2"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
          <tr> 
            <td><b>Erweiterte Benutzer-Suche</b><br/><br/>
			Zeigt alle Benutzer nach folgenden Kriterien. Alle Regeln werden durch Logisch-UND verknüpft.
			<br/>Achtung: In der Ergebnisanzeige ist Sortieren und 'Nächste Seite' nicht funktionsfähig.
			</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>Userstatus</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_type">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Benutzer</option>
			 	<option value="2">Orgas (A+O)</option>				
			 	<option value="3">Adminstratoren</option>
			 	<option value="4">Operatoren</option>
			 	<option value="5">Deaktivierte User</option>
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>

	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>Bezahlt-Status</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_paid">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Nicht bezahlt</option>
			 	<option value="2">Bezahlt</option>				
			 	<option value="3">Bezahlt + Abendkasse</option>
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>
	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>Platzpfand erhoben</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_seatcontrol">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Ja!</option>
			 	<option value="2">Nein!</option>				
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>
	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>CheckIN/CheckOUT</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_checkinout">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Hat noch nicht eingecheckt.</option>
			 	<option value="2">Hat eingescheckt.</option>				
			 	<option value="3">Ist bereits ausgescheckt.</option>
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>
	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
	
    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>WWCL/NGL-ID</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_wwclnglid">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Hat keine der beiden.</option>
			 	<option value="2">Hat eine WWCL-ID.</option>
			 	<option value="3">Hat eine NGL-ID.</option>				
			 	<option value="4">Hat WWCL und NGL-ID.</option>
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>
	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

    <tr>
      <td class="tbl_6" height="30" width="30%"> <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <td>Geschlecht</td>
          </tr>
        </table></td>
      <td class="tbl_1" height="30" width="70%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <td>
			 <select class="form" name="user_sex">
			 	<option value="0">Nicht in die Suche einbeziehen.</option>
			 	<option value="1">Unbekannt</option>
			 	<option value="2">Männlich</option>				
			 	<option value="3">Weiblich</option>
			 </select>
			</td>
          </tr>
        </table></td>
    </tr>
	
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
	
    <tr> 
      <td class="tbl_6" height="30" width="30%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6" colspan="2">
          <tr> 
            <td width="12"><a href="javascript:var w=window.open('base.php?mod=helplet&helpletid=news/extsearch','_blank','width=320,height=400,resizable=no');"><img src="design/{default_design}/images/arrows_help.gif" width="12" height="13" border="0" alt="help /"></a></td>
            
          <td><a href="javascript:var w=window.open('base.php?mod=helplet&helpletid=usrmgr/extsearch','_blank','width=320,height=400,resizable=no');"> 
            Hilfe </a>
			</td>
	      </tr>
        </table>

      </td>
            <td class="tbl_6" height="30" width="70%"> 
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr> 
            <td> 
              <input type="image" border="0" name="imageField" src="design/{default_design}/images/buttons_search.gif" width="61" height="17"/>
            </td>
          </tr>
        </table>
      </td>

    </tr>
    <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
    <tr class="tbl_5"> 
      <td colspan="2"> 
        <p><br/>
        </p>
      </td>
    </tr>
  </table>
</form>
<!-- TEMPLATE - STANDARD - USRMGR EXTEND SEARCH-->
