<table cellspacing="0" cellpadding="0" width="155">
<tr> 
	<td width="140" height="15" valign="top" style="background:url(design/{$default_design}/images/menu_topic_bg.gif)"><span class="box_caption">
		<a href="{$link_open_close}"><img src="design/{$default_design}/images/arrows_menutopicmini.gif" height="12" border="0" alt="" /></a>
		{$caption}
	</span></td>

	<td width="15" height="15" valign="top" style="background:url(design/{$default_design}/images/menu_topic_bg.gif)"><span class="box_caption">
		<a href="#" onclick="javascript:var w=window.open('index.php?mod=helplet&amp;action=helplet&amp;design=popup&amp;module=boxes&amp;helpletid={$title}','_blank','width=700,height=500,resizable=no,scrollbars=yes');" class="underline_on_hover"><img src="design/{$default_design}/images/menu_topic_help.gif" width="6" height="7" border="0" alt="" />&nbsp;</a>
	</span></td>
</tr>
</table> 

