<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<!-- COPYRIGHT 2001-2003 "http://www.One-Network.Org" - ALL RIGHTS RESERVED -->
<html>
<head>
<meta http-equiv="refresh" content="10" URL="">
<title>LANSuite (Vollbildmodus)</title>
<link rel="STYLESHEET" href="design/{default_design}/style.css">
<script src="scripts.js" type="text/javascript"></script>
</head>
<body  {$templ['index']['body']['js']} leftmargin="2" topmargin="2" marginwidth="2" marginheight="2">
<table width="100%" border="0" cellpadding="0" cellspacing="10">
  <tr>
    <td>{$templ['index']['control']['js']}
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td colspan="5">
            <table border=0 width="100%" cellspacing="0" cellpadding="0" height="14" background="design/{default_design}/images/index_top_background.gif">
              <tr height="4"><td></td></tr>
              <tr>
                <td>&nbsp;<a href="{$templ['index']['control']['current_url']}" class="menu"><img src="design/{default_design}/images/arrows_delete.gif" border="0"></a>
                <strong>LANSuite / Vollbildmodus</strong>
               </td>
              </tr>
              <tr height="4"><td></td></tr>
            </table>
           </td>
        </tr>
        <!-- 20er Space  //-->
        <tr>
          <td colspan="5">&nbsp;</td>
        </tr>

        <!-- MiddleBlock //-->
        <tr align="middle">
          <td valign="top" width="100%" align="middle">
             <table width="100%" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td background="design/{default_design}/images/menu_topic_bg.gif" height="15" valign="top" width="1%"><img src="design/{default_design}/images/arrows_content.gif" width="15" height="12" hspace="1" vspace="0"></td>
                <td background="design/{default_design}/images/menu_topic_bg.gif" height="15"><img src="design/{default_design}/images/index_topic_lansuite.gif" width="78" height="7"></td>
              </tr>
              <tr class="tbl_5">
                <td colspan="2"> {$templ['index']['info']['content']} </td>
              </tr>
              <tr class="tbl_5">
                <td colspan="2" align="right" valign="bottom"><a href="#top"><img src="design/{default_design}/images/index_bottom_2top.gif" width="78" height="7" border="0"></a></td>
              </tr>
              <tr>
                <td colspan="2" class="tbl_4"><img height="1" width="1" src="/"></td>
              </tr>
             </table>
		  </td>
        </tr>

    <!--- Fooder
        <tr>
           <td colspan="3"><div align="center" class="tbl_small2">{footer}</div></td>
        </tr>
        //-->

      </table>
      </td>
  </tr>
</table>
</body>
</html>