<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>{$MainTitle}</title>
  {$main_header_metatags}
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="expires" content="900" />  
	<meta name="description" content="Lansuite LAN-Party CMS"/>
	<meta name="keywords" content="LAN-Party, LAN, Party, Games"/>
  {$main_header_sitereload}
  {$main_header_cssfiles}
  <link rel="stylesheet" type="text/css" href="design/{$Design}/style.css" />
  {$main_header_csscode} 
  {$main_header_jsfiles}
  {$main_header_jscode}
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml" />
</head>

<body onload="BodyOnload()" {$MainJS}>
<a name="top"></a>
<span id="LSloading" class="loading"></span>
<table width="100%" cellspacing="0" cellpadding="0" style="leftmargin: 4px; topmargin: 4px; marginwidth: 4px;marginheight: 4px; background:url(./design/sunset/images/index_top_background.gif)">
<tr>
    <td colspan="5">
    <div style="width: 40%; float: left;">{$CloseFullscreen}</div>
    <div class="small" style="width: 40%; float: right; text-align: right">{$MainLogout}</div>

    <table width="100%" cellspacing="0" cellpadding="0" style="leftmargin: 4px; topmargin: 4px; marginwidth: 4px;marginheight: 4px; background:url(./design/sunset/images/index_top_background.gif)">
    <tr>
        <td><a href="index.php">{$MainLogo}</a></td>
        <td align="right" ><img src="design/sunset/images/index_top_advertisement.gif" width="7" height="60" alt="" />{$MainBanner}</td>
        <td align="right" valign="bottom">&nbsp;</td>
    </tr>
    </table>

    </td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0" style="leftmargin: 4px; topmargin: 4px; marginwidth: 4px;marginheight: 4px;">

<!-- 20er Space  //-->
<tr>
    <td colspan="5">&nbsp;</td>
</tr>

<tr>
    <!-- Block: Boxes left -->
    <td width="144" class="box_frame" valign="top">{$MainLeftBox}</td>

    <!-- 10er Space //-->
    <td><img src="design/sunset/images/px.gif" width="10" height="1" alt="" /></td>

    <!-- MiddleBlock //-->
    <td valign="top" width="75%">
        <table width="100%" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td style="background:url(design/sunset/images/menu_topic_bg.gif)" height="15" valign="top" width="1%"><img src="design/sunset/images/arrows_content.gif" width="15" height="12" hspace="1" vspace="0" alt="" /></td>
            <td style="background:url(design/sunset/images/menu_topic_bg.gif)" height="15"><img src="design/sunset/images/index_topic_lansuite.gif" width="78" height="7" alt="" /></td>
        </tr>
        <tr class="content">
            <td colspan="2" id="LScontent">
        <div id="{$MainContentStyleID}">
            {$MainFrameworkmessages}
            {$MainContent}
        </div>
      </td>
        </tr>
        <tr class="content">
            <td colspan="2" align="right" valign="bottom"><a href="#top"><img src="design/sunset/images/index_bottom_2top.gif" width="78" height="7" border="0" alt="" /></a></td>
        </tr>
        <tr>
            <td colspan="2" class="hrule"></td>
        </tr>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0" align="center">
        <tr><td>
        {$MainDebug}
        </td></tr>
        </table>
    </td>

    <!-- 10er Space //-->
    <td valign="top"><img src="design/sunset/images/px.gif" width="10" height="1" alt=""/></td>

    <!-- RightBlock //-->
    <td td width="144" class="box_frame" valign="top">{$MainRightBox}</td>
</tr>
<tr>
    <td valign="bottom" height="1"></td>
    <td colspan="3"><div align="center" class="copyright" id="LSfooter">{$Footer}</div></td>
    <td valign="bottom" height="1"></td>
</tr>
</table>
<br />
{$EndJS}
</body>
</html>