<table width="100%" cellspacing="0" cellpadding="3">
<tr>
	<td class="row_key" height="20"><b>{$templ['news']['show']['single']['row']['normal']['info']['caption']}</b></td>
	<td class="row_key" height="20">
		<div align="right"><b>{$templ['news']['show']['single']['row']['normal']['info']['username']}</b>, {$templ['news']['show']['single']['row']['normal']['info']['date']}</div>
	</td>
</tr>
<tr>
	<td class="row_value" colspan="2">
		<br />
		{$templ['news']['show']['single']['row']['normal']['info']['text']}<br />
		<br />
	</td>
</tr>
</table>
