<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>homesite</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Neues in den Modulen</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Neuigkeiten</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Text aus ext_inc/home/logout.txt</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>home_admin</name>
    		<type>homesite</type>
    		<default>0</default>
    		<description>Welche Startseite soll einem Admin oder Superadmin im eingeloggten Zustand angezeigt werden?</description>
    	</item>
		<item>
    		<name>home_login</name>
    		<type>homesite</type>
    		<default>0</default>
    		<description>Welche Startseite soll im eingeloggten Zustand angezeigt werden?</description>
    	</item>
    	<item>
    		<name>home_logout</name>
    		<type>homesite</type>
    		<default>0</default>
    		<description>Welche Startseite soll im ausgeloggten Zustand angezeigt werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Anz. Einträge in Neues-Boxen (0 = Box verbergen)</name>
    </head>
    <items>
    	<item>
    		<name>home_item_cnt_board</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Board</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_bugtracker</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Bugtracker</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_mail</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Mail</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_comments</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Kommentare</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_news</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>News</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_partylist</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Partyliste</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_poll</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Poll</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_tournament2</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Turnier-Spiele</description>
    	</item>
    </items>
    <items>
    	<item>
    		<name>home_item_cnt_wiki</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Wiki</description>
    	</item>
    </items>
	<items>
    	<item>
    		<name>home_item_cnt_server</name>
    		<type>integer</type>
    		<default>8</default>
    		<description>Server</description>
    	</item>
    </items>
  </group>
</config>