<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>homesite</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Neues in den Modulen</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Neuigkeiten</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Text aus ext_inc/home/logout.txt</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>home_login</name>
    		<type>homesite</type>
    		<default>0</default>
    		<description>Welche Startseite soll im eingeloggten Zustand angezeigt werden?</description>
    	</item>
    	<item>
    		<name>home_logout</name>
    		<type>homesite</type>
    		<default>0</default>
    		<description>Welche Startseite soll im ausgeloggten Zustand angezeigt werden?</description>
    	</item>
    </items>
  </group>
</config>