<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>1</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Startseite</caption>
		<hint></hint>
		<link>/</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
</menu>