
<!-- TEMPLATE - STANDARD - infocat SHOW ROW -->
<tr>
  <td class="tbl_1" height="30" colspan="2">
    <table width="100%" cellspacing="0" cellpadding="3">
      <tr>
      	 <td class="tbl_6" height="10" colspan="3"></td>
      <tr>
         <td class="tbl_1" width="180"><br>
          {$templ['infocat']['show']['row']['info']['picture']}<br>
         </td>
         <td class="tbl_1"><br>
         	<table width="100%"><tr><td>
         			<tr class="tbl_1">
		         	<td align="left" class="tbl_6">{$templ['infocat']['show']['row']['info']['title']}&nbsp;</td>
		         	</tR>
		         	<TR>
		         	{$templ['infocat']['show']['row']['info']['addtoshop']}
		         	{$templ['infocat']['show']['row']['control']['buttons']['edit']}{$templ['infocat']['show']['row']['control']['buttons']['delete']}
				</TR>
		         </td>
         	</tr>
         	<tr>
	         	<td colspan="4" class="tbl_5">
	         	{$templ['infocat']['show']['row']['info']['descr']}
	         	</td>
	         </tR>
         	<tr>
	         	<td colspan="4" class="tbl_1">
	         	{$templ['infocat']['show']['row']['info']['text1']}
	         	</td>
	         </tR>
         	</table>
         	<br>

         </td>
         <td class="tbl_1" valign="middle" align="right" width="20">
         	{$templ['infocat']['show']['row']['control']['buttons']['updown']}
         </td>
      </tr>
    </table>
  </td>
</tr>
<!-- <tr class="tbl_4">
  <td colspan="2"><img src="/" width="1" height="1"></td>
</tr> -->
<!-- TEMPLATE - STANDARD - infocat SHOW ROW -->
