<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>5</pos>
	<entry>
		<action>default</action>
		<file>inbox</file>
		<caption>Mail</caption>
		<hint>Ihr Posteingangs-Ordner</hint>
		<link>?mod=mail</link>
		<requirement>1</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Operator; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>newmail</action>
		<file>newmail</file>
		<caption>Mail Senden</caption>
		<hint>Hier versenden Sie eine Mail</hint>
		<link>?mod=mail&action=newmail</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>outbox</action>
		<file>outbox</file>
		<caption>Postausgang</caption>
		<hint>Ihr Postausgang</hint>
		<link>?mod=mail&action=outbox</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>trash</action>
		<file>trashcan</file>
		<caption>Papierkorb</caption>
		<hint>Hier finden sie Ihre gel&ouml;schten Mails</hint>
		<link>?mod=mail&action=trash</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>formular</action>
		<file>formular</file>
		<caption>Kontakt Formular</caption>
		<hint>Hier können Sie kontakt mit uns aufnehmen</hint>
		<link>?mod=mail&action=formular</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>newsletter</action>
		<file>newsletter</file>
		<caption>Rundmail</caption>
		<hint>Hier können Sie allen Ihren Gästen eine Mail schreiben</hint>
		<link>?mod=mail&action=newsletter</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
</menu>