<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>equipment_shopid</name>
    		<type>integer</type>
    		<default>0</default>
    		<description>Orgapage.Net-ShopID</description>
    	</item>
    </items>
  </group>
</config>