<?xml version="1.0" encoding="UTF-8"?>
<config>
  <typedefinition>
    <head>
      <name>news_type</name>    
    </head>
    <entries>
  		<entry>
  			<value>0</value>
  			<description>Ja - Über Textfeld</description>
  		</entry>
  		<entry>
  			<value>1</value>
  			<description>Nein - LS-Code verwenden</description>
  		</entry>
  		<entry>
  			<value>2</value>
  			<description>Ja - Über WYSIWYG-Editor</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    <item>
    	<name>news_comments_allowed</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Dürfen zu News Kommentare abgegeben werden?</description>
    	</item>
    	<item>
    		<name>news_html</name>
    		<type>news_type</type>
    		<default>0</default>
    		<description>Werden News als HTML verfasst?</description>
    	</item>
    	<item>
    		<name>news_count</name>
    		<type>int</type>
    		<default>5</default>
    		<description>Wie viele Nachrichten sollen auf einer Seite gezeigt werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Short News</name>
    </head>
    <items>
    	<item>
    		<name>news_shorted</name>
    		<type>int</type>
    		<default>0</default>
    		<description>Wieviele Nachrichten sollen gekürzt angezeigt werden?</description>
    	</item>
    	<item>
    		<name>news_complete</name>
    		<type>int</type>
    		<default>2</default>
    		<description>Wieviele Nachrichten sollen komplett angezeigt werden?</description>
    	</item>
    	<item>
    		<name>news_shorted_length</name>
    		<type>int</type>
    		<default>100</default>
    		<description>Nach wievielen Zeichen soll gekürzt werden?</description>
    	</item>
    	<item>
    		<name>news_shorted_archiv</name>
    		<type>int</type>
    		<default>0</default>
    		<description>Wieviele Archivmitteilungen sollen pro Seite angezeigt werden?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Newsfeed</name>
    </head>
    <items>
    	<item>
    		<name>news_description</name>
    		<type>string</type>
    		<default></default>
    		<description>Kurze Beschreibung der Webseite</description>
    	</item>
    	<item>
    		<name>news_copyright</name>
    		<type>string</type>
    		<default></default>
    		<description>Copyright der Webseite</description>
    	</item>
    	<item>
    		<name>news_logourl</name>
    		<type>string</type>
    		<default></default>
    		<description>Die URL des Logos der Party</description>
    	</item>
    </items>
  </group>
</config>
