<table cellspacing="0" cellpadding="1">
<tr> 
	<td class="content"></td>
	<td class="content"><input type="text" name="text_tl" size="8" maxlength="30" class="form_optional" value="{$text_tl}" /></td>
	<td class="content"><input type="text" name="text_tc" size="8" maxlength="30" class="form_optional" value="{$text_tc}" /></td>
	<td class="content"><input type="text" name="text_tr" size="8" maxlength="30" class="form_optional" value="{$text_tr}" /></td>
	<td class="content"></td>
</tr>
<tr> 
	<td class="content"><input type="text" name="text_lt" size="8" maxlength="30" class="form_optional" value="{$text_lt}" /></td>
	<td class="content"></td>
	<td class="content"></td>
	<td class="content"></td>
	<td class="content"><input type="text" name="text_rt" size="8" maxlength="30" class="form_optional" value="{$text_rt}" /></td>
</tr>
<tr> 
	<td class="content"><input type="text" name="text_lc" size="8" maxlength="30" class="form_optional" value="{$text_lc}" /></td>
	<td class="content"></td>
	<td class="content">Sitzblock</td>
	<td class="content"></td>
	<td class="content"><input type="text" name="text_rc" size="8" maxlength="30" class="form_optional" value="{$text_rc}" /></td>
</tr>
<tr> 
	<td class="content"><input type="text" name="text_lb" size="8" maxlength="30" class="form_optional" value="{$text_lb}" /></td>
	<td class="content"></td>
	<td class="content"></td>
	<td class="content"></td>
	<td class="content"><input type="text" name="text_rb" size="8" maxlength="30" class="form_optional" value="{$text_rb}" /></td>
</tr>
<tr> 
	<td class="content"></td>
	<td class="content"><input type="text" name="text_bl" size="8" maxlength="30" class="form_optional" value="{$text_bl}" /></td>
	<td class="content"><input type="text" name="text_bc" size="8" maxlength="30" class="form_optional" value="{$text_bc}" /></td>
	<td class="content"><input type="text" name="text_br" size="8" maxlength="30" class="form_optional" value="{$text_br}" /></td>
	<td class="content"></td>
</tr>
</table>
{if isset($msg)}{$msg}{/if}