<br />
<br />
<table align="center" cellspacing="2">
	<tr><td class="frame_box">
		Sitzplan-Legende
	</td></tr>
	<tr><td class="content">
		<img src="ext_inc/auto_images/{default_design}/seat/seat_free.png" /> Frei<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_marked.png" /> Vorgemerkt<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_reserved.png" /> Besetzt<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_clanmate.png" /> Platz eines Clanmates<br />
		<img src="ext_inc/auto_images/{default_design}/seat/seat_myselfe.png" /> Ihr Platz<br />
	</td></tr>
</table>
