<br />
<br />
<table align="center" cellspacing="2">
	<tr><td class="frame_box" colspan="2">
		Sitzplan-Legende
	</td></tr>
	<tr><td class="content" align="left">
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_free.png" /> {$free} <br />
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_marked.png" /> {$marked}<br />
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_reserved.png" /> {$reserved}<br />
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_checked_in.png" /> {$checked_in}<br />
	</td>
	<td class="content" align="left">
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_checked_out.png" /> {$checked_out}<br />
		<img src="ext_inc/seating_symbols/7.png" /> {$locked}<br />
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_myselfe.png" /> {$me}<br />
		<img src="ext_inc/auto_images/{$default_design}/seat/seat_clanmate.png" /> {$clan}<br />
	</td></tr>
</table>