<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Übersetzung</name>
    </head>
    <items>
    	<item>
    		<name>show_translation_links</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Soll Admins hinter jedem übersetzbaren Text ein Editieren-Link gezeigt werden?</description>
    	</item>
    </items>
  </group>
</config>