<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>28</pos>
	<entry>
		<action>default</action>
		<file>hits</file>
		<caption>Statistiken</caption>
		<hint></hint>
		<link>?mod=stats</link>
		<requirement>2</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Superadmin; 4 = No Admins-->
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>database</action>
		<file>database</file>
		<caption>Datenbank</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=database</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>usage</action>
		<file>usage</file>
		<caption>Verwendung</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=usage</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>search_engines</action>
		<file>search_engines</file>
		<caption>Suchmaschinen</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=search_engines</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>exportinfo</action>
		<file>export</file>
		<requirement>2</requirement>
	</entry>
	<entry>
		<action>age</action>
		<file>age</file>
		<caption>Benutzer-Alter</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=age</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>hits</action>
		<file>hits</file>
		<caption>Benutzerstatistik</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=hits</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>signonstats</action>
		<file>signonstats</file>
		<caption>Anmeldestatistik</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=signonstats</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>lastlogin</action>
		<file>lastlogin</file>
		<caption>Einlogstatistik</caption>
		<hint></hint>
		<link>?mod=stats&amp;action=lastlogin</link>
		<requirement>2</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>export</action>
		<file>export</file>
		<requirement>2</requirement>
	</entry>
</menu>
