<?xml version="1.0" encoding="ISO-8859-15"?>
<lansuite-module>
	<name>g6ftp</name>			<!-- The modules internal name. This should be the same as the name of its folder! -->
	<caption>Mein FTP Account</caption>		<!-- The modulname displayed to the user -->
	<description>Lässt Gästen zu sich einen FTP Account zu generieren. Achtung dieses Modul funktioniert momentan nur in Zusammenhang mit der Serversoftware Gene6 FTP Server v.3.x  www.gene6.com!! README im Modulordner g6ftp lesen !!</description>		<!-- A short description of the module -->
	<active>0</active>				<!-- Is the module activated by default? 0/1 -->
	<changeable>1</changeable>		<!-- May the user de-/activate the module? 0/1 -->
	<author>Thomas(Kuppe)</author>				<!-- The author of this module -->
	<email>kuppe@xtreme-bits.de</email>					<!-- The E-Mail-Adress of the modules author -->
	<version>0.1</version>			<!-- The version of this module -->
	<state>PreAlpha</state>			<!-- The state of this module (f.e.: stable, in development, beta, ...) -->
</lansuite-module>