/*
Lansuite Style-Definitions

For detailed Information see:
http://lansuite-docu.orgapage.de/index.php?title=Stylesheets

Format:
name {
  Possitioning, Width, Height
  Margin, Border, Padding
  Float, Clear, Allign, White-space
  Colors, Background, Backgroundimages
  Font-size, -weight and -family
}
*/

/* Main-Template */
body {
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
  text-align: left;
  background: #ffffff;    color: #000000;
  font-size: 11px;    font-weight: normal;   font-family: verdana, helvetica, sans-serif;
}
div#DateLogout {
  position: absolute;   top: 2px;   right: 4px;   width: 300px;   height: 20px;   z-index: 90;
  text-align: right;
  font-size: 11px;
}
div#Logo {
  position: absolute;   top: 10px;    left: 10px;   z-index: 10;
}
div#Banner {
  position: absolute;   top: 20px;    right: 4px;   z-index: 5;
}
div#BoxesLeft {
  position: absolute;   top: 100px;   left: 4px;    width: 180px;   z-index: 50;
}
div#Content {
  position: absolute;   top: 100px;   right: 190px;   left: 190px;    z-index: 100;
  margin: 0px 2px 10px 2px;   padding: 8px 4px 10px 8px;
  background: #eee6e6;
}
div#ContentFullscreen {
  position: absolute;   top: 40px;    right: 10px;    left: 10px;   z-index: 10;
  margin: 0px 2px 10px 2px;   padding: 8px 4px 10px 8px;
  background: #eee6e6;
}
div#BoxesRight {
  position: absolute;   top: 100px;   right: 4px;   width: 180px;   z-index: 50;
}
div#Footer {
  position: relative;   width: 100%;    z-index: 20;
  margin: 8px 0px 0px 0px;
  text-align: center;
}

/* Boxes */
div.Box {
  position: relative;
  margin: 0px 4px 8px 4px;    padding: 0px 0px 0px 0px;
}
ul.BoxHeadline {
  margin: 0px 0px 0px 0px;    border-bottom:1px solid #9c9d9c;    padding: 4px 4px 4px 8px;
  background: #eee6e6;
  font-weight: bold;    list-style: none;
}
li.BoxCaption {
  width: 140px;
  float: left;
  background: #eee6e6;
  font-weight: bold;    list-style: none;
}
li.BoxHelpClose {
  width: 20px;
  font-size: 10px;   list-style: none;
}
ul.BoxContent {
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 8px;
  background: #dee2e6;
  list-style: none;
}
li.engaged {
  padding: 0px 0px 0px 16px;
}
.box_entry {
  padding: 0px 0px 2px 16px;
	white-space: nowrap;
  background-image: url(images/arrows_menurow.gif);   background-repeat: no-repeat;
}
.box_entry_active {
  padding: 0px 0px 2px 16px;
	white-space: nowrap;
	background-image: url(images/arrows_menurow_close.gif);    background-repeat: no-repeat;
}

/* Content */
ul.Line {
  position: relative;   height: 100%;
  margin: 0px 0px 0px 0px;    border-top: 1px solid #9c9d9c;    padding: 0px 0px 2px 0px;
  clear: left;
  background: #eee6e6;
}
ul.LineFirst {
  position: relative;   height: 100%;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 2px 0px;
  clear: left;
  background: #eee6e6;
}
li.LineLeft {
  width: 280px;   min-height: 16px;   z-index: 10;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  float: left;    vertical-align: middle;
  list-style: none;
}
li.LineLeftBoard {
  width: 120px;   min-height: 16px;   z-index: 10;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  float: left;    vertical-align: middle;
  list-style: none;
}
li.LineRight {
  min-height: 16px;   z-index: 11;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  vertical-align: middle;
  background: #eeeeee;
  list-style: none;
}
li.Confirmation {
  padding: 4px 2px 0px 2px;
	background: #00ff00;
  list-style: none;
}
li.Err {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
	background: #f33737;
  list-style: none;
}
li.Information {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
	background: #f8ae38;
  list-style: none;
}
li.Confirmation {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
	background: #84cd82;
  list-style: none;
}
div.Headline {
  position: relative;
  font-weight: bold;
}
div.HeadlineSub {
}
div.HeadlineHelp {
  position: absolute;   top: 0px;   right: 8px;
  font-size: 10px;
}
.row_key {
  border-bottom: 1px solid #9c9d9c;   padding: 4px 2px 0px 2px;
	background: #E8E7E7;
  font-weight: bold;
}
.row_value {
  border-bottom: 1px solid #9c9d9c;   padding: 4px 2px 0px 2px;
	background: #EFEFEF;
}
.row_value_highlighted {
  border-bottom: 1px solid #9c9d9c;   padding: 4px 2px 0px 2px;
	background:		#E2F2E2;
}
.row_value_important {
  border-bottom: 1px solid #9c9d9c;   padding: 4px 2px 0px 2px;
	background: #EEE6BD;
}
div.Button {
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
}
div.Button a {
  display: block;   width: 120px;
  margin: 2px 2px 2px 2px;    padding: 2px 6px 2px 6px;
  text-align: center;
	background: #bbbbbb;
  font-weight: bold;
}
div.Button a:hover {
  display: block;   width: 120px;
  margin: 2px 2px 2px 2px;    padding: 2px 6px 2px 6px;
  text-align: center;
	background: #999999;
  font-weight: bold;
}
.Help {
  color: #aaaaaa;
}
.AdminIcons {
  padding: 0px 0px 2px 16px;
  background-image: url(images/arrows_data.gif);   background-repeat: no-repeat;
  font-size: 10px;
}
.form_optional { /* used for optional form fields */
  background: rgb(191,255,255);
}
.tbl_7 { /* used for quotes */
  text-align: left;
  background: #C7C6C4;    color: #000000;
  font-family: Courier New, Courier, mono;
}
.frame_box { /* used for seating descriptions */
	border: 1px solid #9D9D9D;   padding: 4px 4px 4px 4px;
	text-align: center;   vertical-align: middle;
	background: #D6D6D6;
}

/* Forms */

fieldset {
  margin: 0px 0px 0px 0px;   padding: 0px 0px 0px 0px;
}
label {
  margin: 0px 0px 0px 0px;   padding: 0px 0px 0px 0px;
}
input {
  margin: 0px 0px 0px 0px;   border: 1px solid #284279;   padding: 0px 0px 0px 0px;
  background: #D7E5F2;   color: #102132;
}
select {
  margin: 0px 0px 0px 0px;   border: 1px solid #284279;   padding: 0px 0px 0px 0px;
  background: #D7E5F2;   color: #102132;
  font-size: 11px;
}
textarea {
  width: 100%;
  margin: 0px 0px 0px 0px;   border: 1px solid #284279;   padding: 0px 0px 0px 0px;
  background: #D7E5F2;   color: #102132;
}
input.Button {
  margin: 0px 0px 0px 0px;   border: 2px solid #6882b9;   padding: 0px 2px 0px 2px;
  background: #D7E5F2;   color: #102132;
}
input.Button:hover {
  margin: 0px 0px 0px 0px;   border: 2px solid #6882b9;   padding: 0px 2px 0px 2px;
  background: #284279;   color: #ffffff;
}

/* Message-Highlighting */
.error {
	text-align: left;
	color: #FF0000;
	font-weight: bold;
}
.warning {
	text-align: left;
	color: #EE6600;
	font-weight: bold;
}
.okay {
	text-align: left;
	color: #008000;
	font-weight: bold;
}

/* Bars*/
ul.BarOccupied {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;        padding: 0px 0px 0px 0px;
  float: left;
	background: #2bb800;
}
ul.BarMarked {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;    border: 2px 0px 2px 0px solid #9c9d9c;    padding: 0px 0px 0px 0px;
  float: left;
	background: #fff500;
}
ul.BarFree {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
  float: left;
	background: #b0b0b0;
}
ul.BarClear {
  position: static;   width: 0px;   height: 0px;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
  clear: left;
}

/* Links */
a:link, a:visited {
	color: #000000;
	text-decoration:none;
}
a:hover {
	color: #ff9000;
	text-decoration:underline;
}
a.admin:link, a.admin:visited {
	color: #ff0000;
	text-decoration:none;
}
a.admin:hover {
	color: #ff0000;
	text-decoration:underline;
}