<tr>
	<td class="row_key" width="30%" height="30" valign="top">
    {$templ['mastercomment']['show']['row']['info']['number']}<br />
    {$templ['mastercomment']['show']['row']['info']['date']}<br />
    <b>{$templ['mastercomment']['show']['row']['info']['username']}</b> <a href="?mod=usrmgr&action=details&userid={$templ['mastercomment']['show']['row']['info']['userid']}"><img src="design/{default_design}/images/arrows_user.gif" border="0"></a><br />
    {$templ['mastercomment']['show']['row']['info']['avatar']}
  </td>
	<td class="row_value" width="70%" height="30" id="{$templ['ls']['row']['double']['id']}">
	  {$templ['mastercomment']['show']['row']['info']['text']}<br />
	  <br />
	  {$templ['mastercomment']['show']['row']['control']['button_quote']} {$templ['mastercomment']['show']['row']['control']['button_edit']} {$templ['mastercomment']['show']['row']['control']['button_delete']}
  </td>
</tr>