{literal}
<script>

function change_option(id){
	switch(id){
		case "1": 
			document.getElementById("food_1").style.display = "";
			document.getElementById("food_2").style.display = "none";
		break;
		case "2": 
			document.getElementById("food_1").style.display = "none";
			document.getElementById("food_2").style.display = "";
		break;
	}
	
}

function change_optionelem(id){
	switch(id){
		case true: 
			if(document.getElementById("opt_big_0")){
				document.getElementById("opt_big_0").style.display = "";
			}		
			if(document.getElementById("opt_big_1")){
				document.getElementById("opt_big_1").style.display = "";
			}
			if(document.getElementById("opt_big_2")){
				document.getElementById("opt_big_2").style.display = "";
			}
			if(document.getElementById("opt_big_3")){				
				document.getElementById("opt_big_3").style.display = "";
			}
			if(document.getElementById("opt_big_4")){						
				document.getElementById("opt_big_4").style.display = "";
			}
			if(document.getElementById("opt_big_5")){						
				document.getElementById("opt_big_5").style.display = "";
			}
			if(document.getElementById("opt_big_6")){						
				document.getElementById("opt_big_6").style.display = "";
			}
			if(document.getElementById("opt_big_7")){						
				document.getElementById("opt_big_7").style.display = "";
			}
			if(document.getElementById("opt_big_8")){						
				document.getElementById("opt_big_8").style.display = "";
			}
			if(document.getElementById("opt_big_9")){						
				document.getElementById("opt_big_9").style.display = "";
			}
			if(document.getElementById("opt_big_10")){						
				document.getElementById("opt_big_10").style.display = "";
			}
			if(document.getElementById("opt_big_11")){						
				document.getElementById("opt_big_11").style.display = "";
			}
			if(document.getElementById("opt_big_12")){						
				document.getElementById("opt_big_12").style.display = "";
			}
			if(document.getElementById("opt_big_13")){						
				document.getElementById("opt_big_13").style.display = "";
			}
			if(document.getElementById("opt_big_14")){						
				document.getElementById("opt_big_14").style.display = "";	
			}		
		break;
		case false: 
			if(document.getElementById("opt_big_0")){
				document.getElementById("opt_big_0").style.display = "none";
			}
			if(document.getElementById("opt_big_1")){
				document.getElementById("opt_big_1").style.display = "none";
			}
			if(document.getElementById("opt_big_2")){
				document.getElementById("opt_big_2").style.display = "none";
			}
			if(document.getElementById("opt_big_3")){				
				document.getElementById("opt_big_3").style.display = "none";
			}
			if(document.getElementById("opt_big_4")){						
				document.getElementById("opt_big_4").style.display = "none";
			}
			if(document.getElementById("opt_big_5")){						
				document.getElementById("opt_big_5").style.display = "none";
			}
			if(document.getElementById("opt_big_6")){						
				document.getElementById("opt_big_6").style.display = "none";
			}
			if(document.getElementById("opt_big_7")){						
				document.getElementById("opt_big_7").style.display = "none";
			}
			if(document.getElementById("opt_big_8")){						
				document.getElementById("opt_big_8").style.display = "none";
			}
			if(document.getElementById("opt_big_9")){						
				document.getElementById("opt_big_9").style.display = "none";
			}
			if(document.getElementById("opt_big_10")){						
				document.getElementById("opt_big_10").style.display = "none";
			}
			if(document.getElementById("opt_big_11")){						
				document.getElementById("opt_big_11").style.display = "none";
			}
			if(document.getElementById("opt_big_12")){						
				document.getElementById("opt_big_12").style.display = "none";
			}
			if(document.getElementById("opt_big_13")){						
				document.getElementById("opt_big_13").style.display = "none";
			}
			if(document.getElementById("opt_big_14")){						
				document.getElementById("opt_big_14").style.display = "none";	
			}		

		break;
	}


}
</script>
{/literal}