<table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
  <tr>
    <td width="30">{$text_product}</td>
    <td> <input type="text" name="{$name_product}" value="{$value_name}" class="form{$optional}" size="5" /></td>
<td width="30">{$text_piece}</td>
<td><input type="text" name="{$name_piece}" value="{$value_piece}" class="form{$optional}" size="3" maxlength="3" /></td>
  </tr>
  <tr>
  	<td width="40">{$text_eprice}</td>
  	<td><input type="text" name="{$name_eprice}" value="{$value_eprice}" class="form{$optional}" size="10" maxlength="10" /></td>
<td width="40">{$text_price}</td> 
<td><input type="text" name="{$name_price}" value="{$value_price}" class="form{$optional}" size="10" maxlength="10" /><input type="hidden" name="{$hidden_name}" value="{$hidden_id}" /></td>
  </tr>
  <tr>
  	<td width="40">{$text_barcode}</td>
  	<td>
<input type="text" name="{$name_barcode}" value="{$value_barcode}" class="form{$optional}" size="10" maxlength="10" /></td>
<td width="40">&nbsp;</td> 
<td>&nbsp;</td>
  </tr>
  <tr>
  	<td colspan="4"><font class="tbl_red">{$errortext}&nbsp;</font></td>
  </tr>
  
</table>
