<table>
    <tr class="tbl_4">
      <td colspan="2" height="1"></td>
    </tr>
    <tr>
      <td class="tbl_6" height="30" width="30%">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
          <tr>
            <th>PlatzNr</th>
          </tr>
        </table>
      </td>
      <td class="tbl_1" width="20%" height="30">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <th>Teamname</th>
           </tr>
         </table>
       </td>
      <td class="tbl_1" width="20%" height="30">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <th>Sieg-Punkte</th>
           </tr>
         </table>
       </td>
      <td class="tbl_1" width="20%" height="30">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <th>Ergebnis-Punkte</th>
           </tr>
         </table>
       </td>
      <td class="tbl_1" width="10%" height="30">
        <table width="100%" cellspacing="0" cellpadding="3" class="tbl_1">
          <tr>
            <th>Spiele</th>
           </tr>
         </table>
       </td>
    </tr>
{$rows}
</table>