<?xml version="1.0" encoding="UTF-8"?>
<config>
  <group>
    <head>
      <name>Partyeinstellungen</name>
    </head>
    <items>
    	<item>
    		<name>signon_partyid</name>
    		<type>int</type>
    		<default>1</default>
    		<description>Bitte Standart Party festlegen (Nummer muss existieren)</description>
    	</item>
    </items>
  </group>
</config>
