<script language="JavaScript" type="text/javascript">
{literal}
function change_selection() {
{/literal}
  MultiSelectActions = new Array({$multi_select_actions});
{literal}
  document.t_select.action = 'index.php?mod=tournament2&action=submit_result&step=1&'+ MultiSelectActions[document.t_select.game_select.value];
  var suche = /&amp;/;
  while(suche.exec(document.t_select.action)) document.t_select.action = document.t_select.action.replace(suche, "&");
  document.t_select.submit();
}
{/literal}
</script>
<br />
<form action="act" name="t_select" method="post">
<select name="game_select" onchange="change_selection();">
  <option value="select_all">- Spiel auswählen -</option>
  {$t_select_options}
</select>
</form>