<script language="JavaScript" type="text/javascript">
function change_selection() {
  MultiSelectActions = new Array({$templ['home']['multi_select_actions']});
  document.t_select.action = 'index.php?mod=tournament2&action=submit_result&step=1&'+ MultiSelectActions[document.t_select.game_select.value];
  var suche = /&amp;/;
  while(suche.exec(document.t_select.action)) document.t_select.action = document.t_select.action.replace(suche, "&");
  document.t_select.submit();
}
</script>
<br />
<form action="act" name="t_select" method="post">
<select name="game_select" onchange="change_selection();">
  <option value="select_all">- Spiel auswählen -</option>
  {$templ['home']['t_select_options']}
</select>
</form>