<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_1']}</td>
	<td width="2%">&nbsp;</td>
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_2']}</td>
</tr>

<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>

<tr> 
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_3']}</td>
	<td width="2%">&nbsp;</td>
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_4']}</td>
</tr>

<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>

<tr> 
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_5']}</td>
	<td width="2%">&nbsp;</td>
	<td width="49%" valign="top">{$templ['home']['show']['case']['control']['item_6']}</td>
</tr>

<!-- includes a full row with tables, if needed -->
{$templ['home']['show']['case']['control']['rent']}
</table>
