<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>15</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Partyliste</caption>
		<hint></hint>
		<link>?mod=partylist</link>
		<requirement>0</requirement>
		<needed_config></needed_config>
		<level>0</level>
	</entry>
	<entry>
		<action>history</action>
		<file>show</file>
		<caption>Party-History</caption>
		<hint></hint>
		<link>?mod=partylist&amp;action=history</link>
		<requirement>0</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>map</action>
		<file>map</file>
		<caption>Karte</caption>
		<hint></hint>
		<link>?mod=partylist&amp;action=map</link>
		<requirement>0</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>add</action>
		<file>add</file>
		<caption>Hinzufügen</caption>
		<hint></hint>
		<link>?mod=partylist&amp;action=add</link>
		<requirement>1</requirement>
		<needed_config></needed_config>
		<level>1</level>
	</entry>
	<entry>
		<action>delete</action>
		<file>delete</file>
		<requirement>3</requirement>
	</entry>
</menu>
