/*
Lansuite Style-Definitions

For detailed Information see:
http://lansuite-docu.orgapage.de/index.php?title=Stylesheets
*/

/* ---- BEGINN neuer Elemente ----*/

div.Headline {
  position: relative;
  font-weight: bold;
  background: #DEE3E7;
  font-size: 11px;
}
div.HeadlineSub {
  background: #DEE3E7;
  font-size: 11px;
}
div.HeadlineHelp {
  position: absolute;   top: 0px;   right: 8px;
  font-size: 11px;
}
div.Button {
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
}

div.Button a {
  width: 140px;
  margin: 2px 0px 2px 0px;    padding: 2px 6px 2px 6px;
  text-align: center;
  background: #bbbbbb;
  font-weight: bold;
  display: block;
}
div.Button a:hover {
  width: 140px;
  margin: 2px 0px 2px 0px;    padding: 2px 6px 2px 6px;
  text-align: center;
  background: #999999;	color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
div.Buttons a {
  width: 125px;  height: 100%;
  margin: 2px 2px 2px 0px;   border: 2px solid #6882b9;   padding: 1px;
  float: left;
  background: #D7E5F2;   color: #102132;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
  text-align: center;
}
div.Buttons a:hover {
  width: 125px;  height: 100%;
  margin: 2px 2px 2px 0px;   border: 2px solid #6882b9;   padding: 1px;
  float: left;
  background: #284279;   color: #ffffff;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
}
input.Button {
  width: 125px;  height: 100%;
  margin: 2px 0px 2px 0px;   border: 2px solid #6882b9;   padding: 0px 2px 0px 2px;
  background: #D7E5F2;   color: #102132;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
}
input.Button:hover {
  width: 125px;  height: 100%;
  margin: 2px 0px 2px 0px;   border: 2px solid #6882b9;   padding: 0px 2px 0px 2px;
  background: #284279;   color: #ffffff;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
  text-decoration: none;
}
fieldset {
  margin: 0px 0px 0px 0px;   padding: 2px;
}
td {
  font-size: 11px;
}
input.Button, span.Button {
  margin: 0px 0px 0px 0px;   border: 2px solid #6882b9;   padding: 0px 0px 0px 0px;
  background: #D7E5F2;   color: #102132;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
input.Button:hover, span.Button:hover {
  margin: 0px 0px 0px 0px;   border: 2px solid #6882b9;   padding: 0px 0px 0px 0px;
  background: #284279;   color: #ffffff;
  font-size: 11px;  font-family: verdana, helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}
/* ---- ENDE neuer Elemente ----*/

/* Content */
ul.Line {
  position: relative;   height: 100%;
  margin: 0px 0px 0px 0px;    border-top: 1px solid #9c9d9c;    padding: 0px 0px 2px 0px;
  clear: left;
  background: #E8E7E7;
  font-size: 11px;
}
ul.LineFirst {
  position: relative;   height: 100%;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 2px 0px;
  clear: left;
  background: #E8E7E7;
  font-size: 11px;
}
li.LineLeft {
  width: 180px;   min-height: 16px;   z-index: 10;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  float: left;    vertical-align: middle;
  list-style: none;
}
li.LineLeftBoard {
  width: 120px;   min-height: 16px;   z-index: 10;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  float: left;    vertical-align: middle;
  list-style: none;
}
li.LineLeftHalf {
  width: 50%;   min-height: 16px;   z-index: 10;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  float: left;    vertical-align: middle;
  list-style: none;
}
li.LineRight {
  min-height: 16px;   z-index: 11;
  margin: 0px 0px 0px 0px;    padding: 4px 4px 4px 4px;
  background: #eeeeee;
  list-style: none;
}
li.Confirmation {
  padding: 4px 2px 0px 2px;
	background: #00ff00;
  list-style: none;
}
li.Err {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
  background: #f33737;
  list-style: none;
}
li.Information {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
  background: #f8ae38;
  list-style: none;
}
li.Confirmation {
  margin: 8px 2px 8px 2px;   padding: 8px 4px 10px 8px;
  background: #84cd82;
  list-style: none;
}

ul.BoxContent {
  margin: 0px 0px 0px 0px;    padding: 1px;
  list-style: none;
}

/* Bars*/
ul.BarOccupied {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;        padding: 0px 0px 0px 0px;
  float: left;
  background: #2bb800;
}
ul.BarMarked {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;    border: 2px 0px 2px 0px solid #9c9d9c;    padding: 0px 0px 0px 0px;
  float: left;
  background: #fff500;
}
ul.BarFree {
  position: static;   height: 12px;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
  float: left;
  background: #b0b0b0;
}
ul.BarClear {
  position: static;   width: 0px;   height: 0px;
  margin: 0px 0px 0px 0px;    padding: 0px 0px 0px 0px;
  clear: left;
}

/* Forms */
textarea {
  width: 100%;
}

.box_entry, .box_entryuser, .box_entry_active, .engaged, .box_entryadd {
  list-style: none;
}
/* ---- BEGINN Änderung .box ----*/

.box_entrymessage {
  padding: 0px 0px 2px 16px;
  white-space: nowrap;
  background-image: url(images/arrows_message.gif);    background-repeat: no-repeat;
}
.box_entrymessage_blink {
  padding: 0px 0px 2px 16px;
  white-space: nowrap;
  background-image: url(images/arrows_message_blink.gif);    background-repeat: no-repeat;
}
.box_entrydata {
  padding: 0px 0px 2px 16px;
  white-space: nowrap;
  background-image: url(images/arrows_data.gif);    background-repeat: no-repeat;
}
/* ---- ENDE Änderung .box ----*/

/* Basic HTML-Elements-Rewrite */
/*body {
	background:		#FFFFFF;
	font-family:	verdana, helvetica, sans-serif;
	font-size:		11px;
	font-weight:	normal;
	text-align:		left;
	color:			#000000;
	margin-left:	8px;
	margin-right:	8px;
}*/

/* Size */
.small {
  font-size:		10px;
}

/* Message-Highlighting */
.error {
  color:			#FF0000;
  font-weight:	bold;
  text-align:		left;
}

.warning {
  color:			#EE6600;
  font-weight:	bold;
  text-align:		left;
}

.okay {
  color:			#008000;
  font-weight:	bold;
  text-align:		left;
}


/* Main */
.copyright {		/* old name: tbl_small2 */
  font-size:		10px;
  color:			#666666;
}

.img_border {		/* old name: img */
  border-width:	1px;
  border-color:	#000000;
}

.content {			/* old name: tbl_5 */
  background:		#DEE3E7;
  padding:		0px;
  font-size:		11px;
  text-align:		left;
}

.content_head {		/* old name: tbl_5 */
  background:		#DEE3E7;
  padding:		4px;
  font-size:		11px;
  border-bottom:	1px solid #9D9D9D;
  text-align:		left;
}

.row_key {			/* old name: tbl_6 */
  height: 100%;
  background:		#E8E7E7;
  padding:		4px;
  font-size:		11px;
  font-weight: bold;
  border-bottom:	1px solid #9D9D9D;
  text-align:		left;
}

.row_value {		/* old name: tbl_1 */
  height: 100%;
  background:		#EFEFEF;
  padding:		4px;
  font-size:		11px;
  border-bottom:	1px solid #9D9D9D;
  text-align:		left;
}

.row_value_highlighted {		/* old name: tbl_2 */
  height: 100%;
  background:		#E2F2E2;
  padding:		4px;
  font-size:		11px;
  border-bottom:	1px solid #9D9D9D;
  text-align:		left;
}

.row_value_important {		/* old name: tbl_important */
  height: 100%;
  background:		#EEE6BD;
  padding:		4px;
  font-size:		11px;
  border-bottom:	1px solid #9D9D9D;
  text-align:		left;
}

.row_value_code {		/* old name: tbl_7 */
  background:		#C7C6C4;
  padding:		4px;
  font-family: 	 Courier New, Courier, mono;
  font-size:		11px;
  border-bottom:	1px solid #9D9D9D;
}

.hrule {			/* old name: tbl_4 */
  background:		#9D9D9D;
  border-bottom:	1px solid #9D9D9D;
}

.engaged {			/* old name: tbl_1 */		/* Used, if a text should be engaged */
  background:		#EFEFEF;
  padding:		2px;
  padding-left:	18px;
}

/* Boxes */
.box_frame {		/* old name: tbl_1 */
  background:		#EFEFEF;
  font-size: 11px;
}

.box_caption {
  color:			#EFEFEF;
  padding:		0px;
  font-size:		9px;
}

.box_content {
  background:		#EFEFEF;
  padding:		4px;
  font-size:		11px;
}

.box_entry {
  text-align:		left;
  background:		#EFEFEF;
  padding:		2px;
  padding-left: 16px;
  font-size:		11px;
  white-space:	nowrap;
  background-image: url(images/arrows_menurow.gif);
  background-repeat: no-repeat;
  list-style: none;
}

.box_entry_active {
  text-align:		left;
  background:		#EFEFEF;
  padding:		2px;
  padding-left: 16px;
  font-size:		11px;
  white-space:	nowrap;
  background-image: url(images/arrows_menurow_close.gif);
  background-repeat: no-repeat;
}

/* Form fields */
.form {				/* Form fields, which must be supplied */
  font-family:	Verdana,Arial,Helvetica;
  font-size:		11px;
  font-weight:	normal;
  color:			#000000;
  border:			1px solid #000000;
  background-color:	#E1E0E1;
  background-image:	url(images/index_form_bg.gif);
}

.form_optional {	/* Optional form fields, which need not to be supplied */
  font-family:	Verdana,Arial,Helvetica;
  font-size:		11px;
  font-weight:	normal;
  color:			#000000;
  border:			1px solid #000000;
  background-color:	#E2F2E2;
}

/* Links */
a:link, a:visited, a.link:link, a.link:visited {
  color:			#000000;
  text-decoration:underline;
}
a:hover, a.link:hover {
  color:			#FF9000;
  text-decoration:none;
}

/* Link, undelined only, when mouse is over it */
a.underline_on_hover:link, a.underline_on_hover:visited, a.menu:link, a.menu:visited {
  color:			#000000;
  text-decoration:none;
}
a.underline_on_hover:hover, a.menu:hover {
  color:			#FF9000;
  text-decoration:underline;
}

/* Admin-Links */
a.admin:link, a.admin:visited {
  color:			#FF0000;
  text-decoration:none;
}

a.admin:hover {
  color:			#FF0000;
  text-decoration:underline;
}

/* special */
.frame_box {
  background:		#D6D6D6;
  font-family:	verdana, helvetica, sans-serif;
  font-size:		11px;
  font-weight:	normal;
  color:			#000000;
  text-align:		center;
  vertical-align:	middle;
  border:			1px solid #9D9D9D;
  padding:		4px;
}

.loading {
  position: absolute;
  background:		#555555;
  border:			1px solid #9D9D9D;
  color:			#ffffff;
  padding:		4px;
  font-size:		11px;
  text-align:		left;
  visibility:  hidden;
}

option[value=de]:before { content:url("../images/icon_de.png"); }
option[value=en]:before { content:url("../images/icon_en.png"); }
option[value=at]:before { content:url("../images/icon_at.png"); }
option[value=ch]:before { content:url("../images/icon_ch.png"); }
option[value=es]:before { content:url("../images/icon_es.png"); }
option[value=fr]:before { content:url("../images/icon_fr.png"); }
option[value=nl]:before { content:url("../images/icon_nl.png"); }
option[value=it]:before { content:url("../images/icon_it.png"); }

/* OSX STYLE */
body {
  background:  	 #FFFFFF;
  font-family:	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;}

/*  */
.tbl_0 {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:  	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* MAIN FIELDS. FOR EXAMPLE THE RIGHT SIDE IN A FORM */
.tbl_1 {
  background:  	 #EEEEEE;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:  	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* HIGHLITED FIELDS */
.tbl_2 {
  background:  	 #E2F2E2;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:      	 #000000;
  text-align:      left;}

/* HOR. LINES BETWEEN THE ROW'S */
.tbl_4 {
  background:  	 #B0B0B0;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* THE BACKGROUND IN THE CONENT TABLE */
.tbl_5 {
  background:  	 #EEEEEE;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 10px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* CAPTION FIELDS. FOR EXAMPLE THE LEFT SIDE IN A FORM */
.tbl_6 {
  background:  	 #E4E4E4;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* CODE STYLE */
.tbl_7 {
  background:  	 #C7C6C4;
  font-family: 	 Courier New, Courier, mono;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* BORDER */
.tbl_8 {
  border: 1px solid #000000;}

/* SPECIAL BG. FOR EXAMPLE THE DESCRAPTION AT THE SEAT PLAN */
.tbl_9 {
  background:  	 #D6D6D6;
  font-family: 	 verdana, helvetica, sans-serif;
  border:		     1px solid #000000;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* HELPLET STYLE NORMAL */
.tbl_helplet {
  background:  	 #EFEFEF;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* HELPLET STYLE LEFT SIDE IN THE TABLE */
.tbl_helplet_left {
  background:  	 #CBE0FA;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* HELPLET STYLE RIGTH SIDE IN THE TABLE */
.tbl_helplet_right {
  background:  	 #E4E4E4;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* IMPORTANT FIELDS. FOR EXAMPLE IMPORTANT NEWS */
.tbl_important {
  background:  	 #EEE6BD;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:  	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* SMALL TEXT */
.tbl_small {
  font-family: 	 verdana, Helvetica, sans-serif;
  font-size:   	 10px;
  font-weight: 	 normal;
  color:       	 #000000;}

/* COPYRIGHT */
.tbl_small2	{
  font-family: 	 verdana, Helvetica, sans-serif;
  font-size:   	 10px;
  font-weight: 	 normal;
  color:       	 #666666;}

/* ERROR FIELDS IN FORM'S */
.tbl_1_error {
  background:  	 #EEE6BD;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:  	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;
  background-image: url(images/index_form_error.gif);}

/* INACTIVE ROW'S IN SEARCH RESULTS */
.tbl_1_off {
  background:  	 #CBE0FA;
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:  	 11px;
  font-weight: 	 normal;
  color:       	 #000000;
  text-align:      left;}

/* RED ERROR MESSAGE'S */
.tbl_error {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:      	 #E54600;
  text-align:      left;}

/* BLACK FONT */
.tbl_black {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:      	 #000000;
  text-align:      left;}

/* RED FONT */
.tbl_red {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  color:      	 #3481E5;
  text-align:      left;
  font-weight:     bold;}

/* GREEN FONT */
.tbl_green {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:      	 #00A800;
  text-align:      left;}

/* BLUE FONT */
.tbl_blue {
  font-family: 	 verdana, helvetica, sans-serif;
  font-size:   	 11px;
  font-weight: 	 normal;
  color:      	 #2264DD;
  text-align:      left;}

/* KEYWORD DESCREPTIONS */
acronym {
  border-bottom:	 1px dashed #990000;
  cursor: 	     help;}

/* NORMAL LINK */
a:link, a:visited, a.link:link, a.link:visited {
  color: 		     #000000;
  text-decoration: none;}

a:hover {
  color:		     #666666;
  text-decoration: underline;}

/* menu LINK */
a.menu:link, a.menu:visited {
  color: 		     #000000;
  text-decoration: none;}

a.menu:hover {
  color:		     #666666;
  text-decoration: underline;}

/* ADMIN LINK */
a.admin:link, a.admin:visited {
  color: 		     #3481E5;
  text-decoration: none;}

a.admin:hover {
  text-decoration: underline;}

/* OPTIONAL FORM FIELD'S */
.form_optional {
  font-family:     Verdana,Arial,Helvetica;
  font-size:	     11px;
  font-weight:     normal;
  color:           #000000;
  border:		     1px solid #999999;
  background-color:#CBE0FA;}

/* IMAGE STYLE */
.img {
  border:		1px solid #000000;}

/* TOOLTIP STYLE in Seatplan and Guestmap*/
.tooltip {
  background-color:#FFFF99;
  border-width:1px;
  border-style:solid;
}

form {
  display: inline }
