/*
Lansuite Style-Definitions osX

For detailed Information see:
http://lansuite-docu.orgapage.de/index.php?title=Stylesheets

Format:
name {
  position: ;  width: ;  height: ;
  margin: ;  border: ;  padding: ;
  float: ;  clear: ;  text-align: ;  vertical-align: ;  white-space: ;
  color: ;  background: ;  background-image: ;  background-repeat: ;
  font-size: ;  font-weight: ;  font-family: ;
  text-decoration: ;  display: ;  list-style: ;
}
*/
/* ---- BEGINN neuer Elemente ----*/
div#LansuiteFullscreen {
    position: absolute;
    top: 2px;
    height: 20px;
    z-index: 90;
    font-size: 11px;
    left: 4px;
}

h1 {
    position: relative;
    background: #DEE3E7;
    font-size: 11px;
    font-weight: bold;
}

div.HeadlineSub {
    background: #DEE3E7;
    font-size: 11px;
}

div.HeadlineHelp {
    position: absolute;
    top: 0px;
    right: 8px;
    font-size: 11px;
}

div.Button {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

div.Button a {
    width: 140px;
    margin: 2px 0px 2px 0px;
    padding: 2px 6px 2px 6px;
    text-align: center;
    background: #bbbbbb;
    font-weight: bold;
    display: block;
}

div.Button a:hover {
    width: 140px;
    margin: 2px 0px 2px 0px;
    padding: 2px 6px 2px 6px;
    text-align: center;
    background: #999999;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

div.Buttons a {
    width: 125px;
    height: 100%;
    margin: 2px 2px 2px 0px;
    border: 2px solid #6882b9;
    padding: 1px;
    float: left;
    background: #D7E5F2;
    color: #102132;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
    text-align: center;
}

div.Buttons a:hover {
    width: 125px;
    height: 100%;
    margin: 2px 2px 2px 0px;
    border: 2px solid #6882b9;
    padding: 1px;
    float: left;
    background: #284279;
    color: #ffffff;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

input.Button {
    width: 125px;
    height: 100%;
    margin: 2px 0px 2px 0px;
    border: 2px solid #6882b9;
    padding: 0px 2px 0px 2px;
    background: #D7E5F2;
    color: #102132;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
}

input.Button:hover {
    width: 125px;
    height: 100%;
    margin: 2px 0px 2px 0px;
    border: 2px solid #6882b9;
    padding: 0px 2px 0px 2px;
    background: #284279;
    color: #ffffff;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
    text-decoration: none;
}

fieldset {
    margin: 0px 0px 0px 0px;
    padding: 2px;
}

input.Button, span.Button {
    margin: 0px 0px 0px 0px;
    border: 2px solid #6882b9;
    padding: 0px 0px 0px 0px;
    background: #D7E5F2;
    color: #102132;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

input.Button:hover, span.Button:hover {
    margin: 0px 0px 0px 0px;
    border: 2px solid #6882b9;
    padding: 0px 0px 0px 0px;
    background: #284279;
    color: #ffffff;
    font-size: 11px;
    font-family: verdana, helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

/* Boxes */

li.box_entry, li.box_entryuser, li.box_entry_active, li.engaged, li.box_entryadd, ul.BoxContent {
  list-style: none;
}

ul.BoxContent {
  padding: 1px;
  margin: 0px;
}

li.engaged {
  padding: 1px 0px 2px 16px;
}
li.box_entry {
  padding: 1px 0px 2px 16px;
  background-image: url(images/arrows_menurow.gif);   background-repeat: no-repeat;
}
li.box_entry_active {
  padding: 1px 0px 2px 16px;
    background-image: url(images/arrows_menurow_close.gif);    background-repeat: no-repeat;
}

li.box_entry_lvl_1 {
  padding: 1px 0px 2px 30px;
  background-position:14px;
  background-image: url(images/arrows_menurow.gif);   background-repeat: no-repeat;
}
li.box_entry_lvl_1_active {
  padding: 1px 0px 2px 30px;
  background-position:14px;
  background-image: url(images/arrows_menurow_close.gif);    background-repeat: no-repeat;
}

span.AdminIcons {
  padding: 1px 0px 2px 30px;
  background-position:14px;
  background-image: url(images/arrows_data.gif);   background-repeat: no-repeat;
    }

/* Links */
a.admin:link, a.admin:visited {
    color: #0000ff;
    text-decoration:none;
}
a.admin:hover {
    color: #ff0000;
    text-decoration:underline;
}

/* Content */
ul.LineBoard {
    background: url(images/row_bg_board.gif) repeat-y 15% 0;
    font-size: 11px;
}

ul.LineFirst {
    font-size: 11px;
}

li.LineLeft {
    vertical-align: middle;
}

li.LineLeftBoard {
    vertical-align: middle;
}

li.LineLeftHalf {
    vertical-align: middle;
}

/* Size */
.small {
    font-size: 10px;
}


/* Main */
.copyright {        /* old name: tbl_small2 */
    font-size: 10px;
    color: #666666;
}

.img_border {       /* old name: img */
    border-width: 1px;
    border-color: #000000;
}

.content {
    font-size: 11px;
    text-align: left;
}

.content_head {     /* old name: tbl_5 */
    background: #DEE3E7;
    padding: 4px;
    font-size: 11px;
    border-bottom: 1px solid #9D9D9D;
    text-align: left;
}

.row_key, .mastersearch2_search_row_key, .mastersearch2_result_row_key {          /* old name: tbl_6 */
    height: 100%;
    background: #E8E7E7;
    padding: 4px;
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid #9D9D9D;
    text-align: left;
}

.row_value, .mastersearch2_search_row_value, .mastersearch2_result_row_value {        /* old name: tbl_1 */
    height: 100%;
    background: #EFEFEF;
    padding: 4px;
    font-size: 11px;
    border-bottom: 1px solid #9D9D9D;
    text-align: left;
}

.row_value_highlighted, .mastersearch2_search_row_value_highlighted, .mastersearch2_result_row_value_highlighted {        /* old name: tbl_2 */
    height: 100%;
    background: #E2F2E2;
    padding: 4px;
    font-size: 11px;
    border-bottom: 1px solid #9D9D9D;
    text-align: left;
}

.row_value_important, .mastersearch2_search_row_value_important, .mastersearch2_result_row_value_important {      /* old name: tbl_important */
    height: 100%;
    background:       #EEE6BD;
    padding:      4px;
    font-size:        11px;
    border-bottom:    1px solid #9D9D9D;
    text-align:       left;
}

.row_value_code {       /* old name: tbl_7 */
    background:       #C7C6C4;
    padding:      4px;
    font-family:   Courier New, Courier, mono;
    font-size:        11px;
    border-bottom:    1px solid #9D9D9D;
}

.hrule {            /* old name: tbl_4 */
    background:       #9D9D9D;
    border-bottom:    1px solid #9D9D9D;
}

.engaged {          /* old name: tbl_1 */       /* Used, if a text should be engaged */
    background:       #EFEFEF;
    padding:      2px;
    padding-left: 18px;
}

.box_caption {
    color:            #EFEFEF;
    padding:      0px;
    font-size:        9px;
}

.box_content {
    background:       #EFEFEF;
    padding:      4px;
    font-size:        11px;
}

/* Form fields */
.form {             /* Form fields, which must be supplied */
    font-size:        11px;
    font-weight:  normal;
    color:            #000000;
    border:           1px solid #000000;
    background-color: #E1E0E1;
    background-image: url(images/index_form_bg.gif);
}

.form_optional {    /* Optional form fields, which need not to be supplied */
    font-size:        11px;
    font-weight:  normal;
    color:            #000000;
    border:           1px solid #000000;
    background-color: #E2F2E2;
}

/* Links */
a:link, a:visited, a.link:link, a.link:visited {
    color:            #000000;
    text-decoration:underline;
}

a:hover, a.link:hover {
    color:            #FF9000;
    text-decoration:none;
}

/* Link, undelined only, when mouse is over it */
a.underline_on_hover:link, a.underline_on_hover:visited, a.menu:link, a.menu:visited {
    color:            #000000;
    text-decoration:none;
}
a.underline_on_hover:hover, a.menu:hover {
    color:            #FF9000;
    text-decoration:underline;
}

/* special */
.frame_box {
    background:       #D6D6D6;
    font-family:  verdana, helvetica, sans-serif;
    font-size:        11px;
    font-weight:  normal;
    color:            #000000;
    text-align:       center;
    vertical-align:   middle;
    border:           1px solid #9D9D9D;
    padding:      4px;
}

.loading {
    position: absolute;
    background:       #555555;
    border:           1px solid #9D9D9D;
    color:            #ffffff;
    padding:      4px;
    font-size:        11px;
    text-align:       left;
    visibility:  hidden;
}


/*  */
.tbl_0 {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* MAIN FIELDS. FOR EXAMPLE THE RIGHT SIDE IN A FORM */
.tbl_1 {
    background:    #EEEEEE;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* HIGHLITED FIELDS */
.tbl_2 {
    background:    #E2F2E2;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* HOR. LINES BETWEEN THE ROW'S */
.tbl_4 {
    background:    #B0B0B0;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* THE BACKGROUND IN THE CONENT TABLE */
.tbl_5 {
    background:    #EEEEEE;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     10px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* CAPTION FIELDS. FOR EXAMPLE THE LEFT SIDE IN A FORM */
.tbl_6 {
    background:    #E4E4E4;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* CODE STYLE */
.tbl_7 {
    background:    #C7C6C4;
    font-family:   Courier New, Courier, mono;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* BORDER */
.tbl_8 {
    border: 1px solid #000000;}

/* SPECIAL BG. FOR EXAMPLE THE DESCRAPTION AT THE SEAT PLAN */
.tbl_9 {
    background:    #D6D6D6;
    font-family:   verdana, helvetica, sans-serif;
    border:            1px solid #000000;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* HELPLET STYLE NORMAL */
.tbl_helplet {
    background:    #EFEFEF;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* HELPLET STYLE LEFT SIDE IN THE TABLE */
.tbl_helplet_left {
    background:    #CBE0FA;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* HELPLET STYLE RIGTH SIDE IN THE TABLE */
.tbl_helplet_right {
    background:    #E4E4E4;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* IMPORTANT FIELDS. FOR EXAMPLE IMPORTANT NEWS */
.tbl_important {
    background:    #EEE6BD;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* SMALL TEXT */
.tbl_small {
    font-family:   verdana, Helvetica, sans-serif;
    font-size:     10px;
    font-weight:   normal;
    color:         #000000;}

/* COPYRIGHT */
.tbl_small2 {
    font-family:   verdana, Helvetica, sans-serif;
    font-size:     10px;
    font-weight:   normal;
    color:         #666666;}

/* ERROR FIELDS IN FORM'S */
.tbl_1_error {
    background:    #EEE6BD;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;
    background-image: url(images/index_form_error.gif);}

/* INACTIVE ROW'S IN SEARCH RESULTS */
.tbl_1_off {
    background:    #CBE0FA;
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* RED ERROR MESSAGE'S */
.tbl_error {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #E54600;
    text-align:      left;}

/* BLACK FONT */
.tbl_black {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #000000;
    text-align:      left;}

/* RED FONT */
.tbl_red {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    color:         #3481E5;
    text-align:      left;
    font-weight:     bold;}

/* GREEN FONT */
.tbl_green {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #00A800;
    text-align:      left;}

/* BLUE FONT */
.tbl_blue {
    font-family:   verdana, helvetica, sans-serif;
    font-size:     11px;
    font-weight:   normal;
    color:         #2264DD;
    text-align:      left;}

/* KEYWORD DESCREPTIONS */
acronym {
    border-bottom:     1px dashed #990000;
    cursor:        help;}

/* NORMAL LINK */
a:link, a:visited, a.link:link, a.link:visited {
    color:             #000000;
    text-decoration: none;}

a:hover {
    color:             #666666;
    text-decoration: underline;}

/* menu LINK */
a.menu:link, a.menu:visited {
    color:             #000000;
    text-decoration: none;}

a.menu:hover {
    color:             #666666;
    text-decoration: underline;}

/* IMAGE STYLE */
.img {
    border:       1px solid #000000;}

/* TOOLTIP STYLE in Seatplan and Guestmap*/
.tooltip {
    background-color:#FFFF99;
    border-width:1px;
    border-style:solid;
}

form {
    display: inline }
