<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<title>{$MainTitle}</title>
  <link rel="stylesheet" type="text/css" href="ext_scripts/niftycube/niftyCorners.css" />
  <script type="text/javascript" src="ext_scripts/niftycube/niftycube.js"></script>
  {$MainHeader}
</head>


<body onload="BodyOnload(1)" {$MainJS}>
<a name="top"></a>
<span id="LSloading" class="loading"></span>

<div id="Logo">{$MainLogo}</div>
<div id="DateLogout">{$smarty.now|date_format:"%d.%m.%Y"} | {$MainLogout}</div>
<div id="Banner">{$MainBanner}</div>

<div id="BoxesLeft">{$MainLeftBox}</div>
<div id="{$MainContentStyleID}">
  {$MainContent}
  <div id="Footer">{$Footer}</div>
  {$MainDebug}
</div>
<div id="BoxesRight">{$MainRightBox}</div>

</body>
</html>