<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <title>{$MainTitle}</title>
  {$main_header_metatags}
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="expires" content="900" />  
	<meta name="description" content="Lansuite LAN-Party CMS"/>
	<meta name="keywords" content="LAN-Party, LAN, Party, Games"/>
  {$main_header_sitereload}
  {$main_header_cssfiles}
  <link rel="stylesheet" type="text/css" href="design/{$Design}/style.css" />
  {if $IsMobileBrowser}<link rel="stylesheet" type="text/css" href="design/{$Design}/style_mobile.css" />{/if}
  {$main_header_csscode} 

  {$main_header_jsfiles}

  {$main_header_jscode}
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="RDF-Datei" href="ext_inc/newsfeed/news.xml" />
  <!--[if lte IE 6]>
  <style type="text/css">
  {literal}div#Content { width: 70%; }{/literal}
  </style>
  <![endif]-->
</head>


<body onload="BodyOnload(1)" {$MainJS}>
<a name="top"></a>
<span id="LSloading" class="loading"></span>

{if $MainContentStyleID == 'ContentFullscreen'}<div id="LansuiteFullscreen">{$CloseFullscreen}</div>
{elseif $DisplayMode != 'popup' && $DisplayMode != 'print'}<div id="Logo">
  <img src="design/simple/images/lansuite-logo.png" alt="Lansuite Logo" title="Lansuite Logo" width="191" height="62" border="0" />
</div>
<div id="DateLogout">
  {$smarty.now|date_format:"%d.%m.%Y"}{if $MainLogout} | {$MainLogout}{/if}
</div>
<div id="Banner">{$MainBanner}</div>
{/if}

<div id="{$MainContentStyleID}">
  {$MainFrameworkmessages}
  {$MainContent}
  <br />
  <div id="Footer">{$Footer}</div>
  {$MainDebug}
</div>
<div id="BoxesLeft">{$MainLeftBox}</div>
{if !$IsMobileBrowser}<div id="BoxesRight">{$MainRightBox}</div>{/if}
{$EndJS}
</body>
</html>
