<!-- TEMPLATE - STANDARD - RENT STUFFBACK CASE --> 
  <table width="100%" cellspacing="0" cellpadding="0">

  <tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>

	<tr> 
	 <td class="tbl_6" height="30" colspan="2"> 
		<table width="100%" cellspacing="0" cellpadding="3" class="tbl_6">
			<tr> 
			 <td width="2%"></td>
			 <td width="79%">{$templ['rent']['stuffback']['case']['control']['eq']}</td>
			 <td width="20%">{$templ['rent']['stuffback']['case']['control']['rent_from']}</td>
			</tr>
		</table>
	 </td>
	</tr>

	<tr class="tbl_4"> 
      <td colspan="2" height="1"></td>
    </tr>
    
	{$templ['rent']['stuffback']['case']['control']['row']}
		
    <tr class="tbl_5"> 
      <td colspan="2"> <p><br/>
        </p></td>
    </tr>
  </table>

<!-- TEMPLATE - STANDARD - RENT STUFFBACK CASE -->