<!-- TEMPLATE - BOX OPEN -->
<table cellspacing="0" cellpadding="0" class="tbl_1" width="147">
<tr>
<td><div align="center"><img src="design/{default_design}/images/menu_topic_{title}.gif"></div></td>
<td><a href="javascript:var w=window.open('index.php?mod=helplet&action=helplet&design=base&helpletid=boxes/{title}','_blank','width=320,height=400,resizable=no');" class="menu"><img src="design/{default_design}/images/menu_topic_help.gif" width="6" height="7" hspace="1" vspace="0" border="0"></a></td></td></tr>
<tr>
<td>
{content}
</td>
 </tr>
</table>

<!-- TEMPLATE - BOX CLOSE -->
