<?xml version="1.0" encoding="UTF-8"?>
<config>
 <typedefinition>
    <head>
      <name>paypalmode</name>
    </head>
    <entries>
  		<entry>
  			<value>sandbox</value>
  			<description>Sandbox-Mode (zum Testen)</description>
  		</entry>
  		<entry>
  			<value>live</value>
  			<description>Live-Modus - Mit echten Geld!</description>
  		</entry>
    </entries>
  </typedefinition>
  <group>
    <head>
      <name>Allgemein</name>
    </head>
    <items>
    	<item>
    		<name>paypal_depot</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Soll der Besucher auch gleich das Depot zahlen können?</description>
    	</item>
    	<item>
    		<name>paypal_catering</name>
    		<type>boolean</type>
    		<default>0</default>
    		<description>Sollen die Besucher Geld für das Catering einzahlen können?'</description>
    	</item>
    	<item>
    		<name>paypal_donation</name>
    		<type>boolean</type>
    		<default>1</default>
    		<description>Sollen die Besucher Spenden einzahlen können?</description>
    	</item>
    </items>
  </group>
  <group>
    <head>
      <name>Daten für PayPal</name>
    </head>
    <items>
    	<item>
    		<name>paypal_client_ID</name>
    		<type>string</type>
    		<default></default>
    		<description>PayPaL API client ID</description>
    	</item>
        <item>
    		<name>paypal_client_secret</name>
    		<type>string</type>
    		<default></default>
    		<description>PayPaL API client secret</description>
    	</item>
    	<item>
    		<name>paypal_currency_code</name>
    		<type>string</type>
    		<default>EUR</default>
    		<description>Währung (USD,GBP,JPY,CAD,EUR)</description>
    	</item>
    	<item>
    		<name>paypal_desc_name</name>
    		<type>string</type>
    		<default>Anmeldung an Party</default>
    		<description>Zahlungsgrund</description>
    	</item>
    	<item>
    		<name>paypal_mode</name>
    		<type>paypalmode</type>
    		<default>sandbox</default>
    		<description>Soll das PayPal-Modul gegen den Sandbox-Server oder Produktiv laufen?</description>
    	</item>
    </items>
  </group>
</config>