<?xml version="1.0" encoding="ISO-8859-15"?>
<menu>
	<pos>19</pos>
	<entry>
		<caption>Catering</caption>
		<hint>Essen und Getr&auml;nke k&ouml;nnen hier bestellt werden!</hint>
		<link>?mod=catering</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Operator; 4 = No Admins-->
		<level>0</level>
	</entry>
	<entry>
		<caption>Speisekarte</caption>
		<hint>Alle Speisen und Getr&auml;nke anzeigen!</hint>
		<link>?mod=catering&action=show</link>
		<requirement>0</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Meine Bestellungen</caption>
		<hint>Eigene Bestellungen anzeigen!</hint>
		<link>?mod=catering&action=showmyorders</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Kontoauszug</caption>
		<hint>Alle Kontobewegungen anzeigen</hint>
		<link>?mod=catering&action=showaccountmovements</link>
		<requirement>1</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Bestelliste</caption>
		<hint>Generiert eine Liste mit allen bezahlten Bestellungen</hint>
		<link>?mod=catering&action=ordersummary</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Buchung</caption>
		<hint>Ein-/Auszahlung f&uuml;r einen User vornehmen</hint>
		<link>?mod=catering&action=accounting</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Nicht bezahlt</caption>
		<hint>Anzeige aller nicht bezahlten Bestellungen</hint>
		<link>?mod=catering&action=notpayedlist</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Neuer Eintrag</caption>
		<hint>Neuen Eintrag der Speisekarte hinzuf&uuml;gen</hint>
		<link>?mod=catering&action=newfood</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Wizzard Eintrag</caption>
		<hint>Neuen Eintrag zu einem bestehenen Wizzard hinzuf&uuml;gen</hint>
		<link>?mod=catering&action=newwiz</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Thekenmodus</caption>
		<hint>Theke simulieren!</hint>
		<link>?mod=catering&action=theke</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
	<entry>
		<caption>Geldz&auml;hler</caption>
		<hint>Assistent zum zusammenz&auml;hlen des Geldes</hint>
		<link>?mod=catering&action=moneycounter</link>
		<requirement>2</requirement>
		<level>1</level>
	</entry>
</menu>