<table width ="100%" cellspacing="12"><tr><td>
<tr>
	<td>
	<table width="40%" align="center" class="row_value"	style="border: 1px solid #9D9D9D;">
        <tr>
			<td align="center">
				<span onMouseOver="document.Bild1.src='ext_inc/mmc/prev_hover.PNG'" onMouseOut="document.Bild1.src='ext_inc/mmc/prev.png'">
					<a href="#control.prev"><img src="ext_inc/mmc/prev.png" name="Bild1" border="0"></a><br />Prev
				</span>
			</td>
			<td align="center">
				<span onMouseOver="document.Bild2.src='ext_inc/mmc/pause_hover.png'" onMouseOut="document.Bild2.src='ext_inc/mmc/pause.png'">
					<a href="#control.pause"><img src="ext_inc/mmc/pause.png" name="Bild2" border="0"></a><br />Pause
				</span>
			</td>
			<td align="center">
				<span onMouseOver="document.Bild3.src='ext_inc/mmc/play_hover.png'" onMouseOut="document.Bild3.src='ext_inc/mmc/play.png'">
					<a href="#control.play"><img src="ext_inc/mmc/play.png" name="Bild3" border="0"></a><br />Play
				</span>
			</td>
			<td align="center">
				<span onMouseOver="document.Bild4.src='ext_inc/mmc/next_hover.png'" onMouseOut="document.Bild4.src='ext_inc/mmc/next.png'">
					<a href="#control.next"><img src="ext_inc/mmc/next.png" name="Bild4" border="0"></a><br />Next
				</span>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>