<table width ="100%" cellspacing="12"><tr><td>
<table cellspacing="8" align="center" width="60%" class="row_value" style="border: 1px solid #9D9D9D; background-color:#FFFFFF;">
    <tr>
        <td rowspan="2" width="30%">
            <div align="center"><img src="ext_inc/mmc/{$templ['mmc']['show']['stateicon']}.png"></div>
        </td>
        <td><div align="center" style="font-size: 16px; font-weight: bold;">{$templ['mmc']['show']['currfile']}</div></td>
    </tr>
    <tr>
        <td><div align="center">{$templ['mmc']['show']['nextfile']}</div></td>
    </tr>
</table>
</td></tr></table>