 
<!-- TEMPLATE - STANDARD - BOARD THREAD CASE -->
<table width="100%" cellspacing="0" cellpadding="0">
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td>{$templ['board']['forum']['case']['control']['new']}</td>
          <td align="right">{$templ['board']['overview']['case']['info']['page_split']}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_4"> 
    <td colspan="2" height="1"></td>
  </tr>
  
  {$templ['board']['forum']['case']['control']['rows']}  
  
  <tr class="tbl_5"> 
    <td colspan="2"> 
      <table width="100%" cellspacing="0" cellpadding="3" class="tbl_5">
        <tr> 
          <td width="10%" align="left">{$templ['board']['forum']['case']['control']['new']}</td>
          <td width="10%"><div align="right">
            <form name="form1" method="post" action="?mod=board&action=forum">
				{$templ['board']['forum']['case']['info']['forum_goto']}
				<select name="fid" class="form" onchange="submit()">
				<option selected value="none">{$templ['board']['forum']['case']['info']['forum_choise']}</option>
				{$templ['board']['thread']['case']['control']['goto']}  
				</select>
				<!--<input name="imageField" type="image" src="ext_inc/auto_images/{default_design}/{language}/button_next.png">-->
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="tbl_5"> 
    <td colspan="2">{$templ['board']['overview']['case']['info']['page_split']}
    </td>
  </tr>
</table>
<!-- TEMPLATE - STANDARD - THREAD OVERVIEW CASE -->
