name: "Documentation: Test deployment"

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "5 1 * * *"

jobs:
  test-deploy:
    name: "Documentation: Test deployment"
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
        working-directory: website

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: 'website/package-lock.json'

      - name: Install dependencies
        run: make init

      - name: Test build the documentation website
        run: make build