name: "Documentation: Deploy to GitHub Pages"

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/documentation-deploy.yml'
      - 'website/**'
  workflow_dispatch:

jobs:
  deploy:
    name: "Documentation: Deploy to GitHub Pages"
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    defaults:
      run:
        shell: bash
        working-directory: website

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: 'website/package-lock.json'

      - name: Install dependencies
        run: make init

      - name: Build the documentation website
        run: make build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./website/build
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com