name: "ShellCheck"

on:
  pull_request:

jobs:
  shellcheck:
    name: "Testing shell scripts"
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@v2