<?xml version="1.0" encoding="UTF-8"?>
<lansuite-module>
	<name>boxes</name>			<!-- The modules internal name. This should be the same as the name of its folder! -->
	<caption>Boxen</caption>		<!-- The modulname displayed to the user -->
	<description>Verwaltung der Boxen links und rechts der Hauptseite</description>		<!-- A short description of the module -->
	<active>1</active>				<!-- Is the module activated by default? 0/1 -->
	<changeable>0</changeable>		<!-- May the user de-/activate the module? 0/1 -->
	<author>Jochen (KnoX)</author>				<!-- The author of this module -->
	<email>knox@orgapage.de</email>					<!-- The E-Mail-Adress of the modules author -->
	<version>1.0</version>			<!-- The version of this module -->
	<state>stable</state>			<!-- The state of this module (f.e.: stable, in development, beta, ...) -->
</lansuite-module>