<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<pos>15</pos>
	<entry>
		<action>default</action>
		<file>show</file>
		<caption>Downloads</caption>
		<hint>Hier k&ouml;nnen Sie den gesamten Inhalt des FTP-Servers sehen und Dateien downloaden</hint>
		<link>?mod=downloads&action=show</link>
		<requirement>0</requirement>	<!-- 0 = All; 1 = Logged in; 2 = Admin; 3 = Operator; 4 = No Admins-->
		<level>0</level>
	</entry>
</menu>